<ion-view>
  <ion-content class="FactivityContentWrap" lazy-scroll>
    <div class="container" ng-show="isOnline == true">
      <form ng-submit="postStatus()" name="loginForm" autocomplete="off" novalidate>
        <div class="row">
          <div class="col col-100 topPostStatusHead">
            <h2>Fitness Status</h2>
            <div class="updateStatus">
              <div class="userImg">
                <img ion-img-cache ng-src="{{userImg}}" class="img-responsive">
              </div>
              <div class="updateStTextBox">
                <!--<input type="text" ng-model="status.text">-->
                <textarea rows="1" class="animateTextArea msd-elastic: \n;" ng-class="urlPreviewClass" ng-model="status.text" ng-change="postEntering(status.text)"></textarea>
                <a class="ion-camera" ng-click="selectUploadMethod()" ng-class="inArray('Upload Photos To Activity Feed')"></a>
                <a ng-click="clicked(urlPreview.url)" class="urlPreviewWrap" ng-show="showUrlPreview">
                  <div class="urlPreviewImg" ng-hide="urlPreview.site_url === ''">
                    <img ng-src="{{urlPreview.images}}" class="img-responsive">
                  </div>
                  <div class="urlPreviewDetails" ng-hide="urlPreview.site_url === ''">
                    <div class="urlPreviewTitle">
                      <span ng-bind-html="urlPreview.title"></span>
                    </div>
                    <!--<div class="urlPreviewDesc">-->
                    <!--<span>{{urlPreview.description}}</span>-->
                    <!--</div>-->
                    <div class="urlPreviewUrl">
                      <span>{{urlPreview.site_url}}</span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="updatePostBtn">
                <button class="button-flat" type="submit">POST</button>
              </div>

              <div class="upLoadPostImage" ng-class="{hide: status.postImage=={}}">
                <div class="status-imgs" ng-repeat="image in postImage">
                  <button class="ion-android-close ink button button-flat" ng-click="removeStatusIMG($index)" type="button"></button>
                  <img ion-img-cache ng-src="{{image}}" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col col-100">
          <div class="friendsActivitySack" ng-repeat="post in FActivity">
              <div class="myActivityHead">
                <form ng-submit="editPost($index, post.id, post.edit_status, post.edit_status_images)" name="loginForm" autocomplete="off" novalidate>
                <div class="activityHeadInner">
                  <div class="userImg">
                    <img image-lazy-src="{{siteUrl}}{{post.image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                  </div>
                  <div class="userstatusInfo">
                    <div class="userstatusInfoUpper">
                      <a class="userName" ui-sref="app.userdashboard( {result:post.user_id})" ng-bind-html="(post.user_fname) +' '+ (post.user_lname)"></a>
                      <span ng-class="{WorkoutPost : FActivity[$index].status.match('Exercises In This Workout')}"><a class="stLikes" ng-class="{noAction: post.user_posted != userData.user_id}"  ng-click="like(post.id, $index)">Likes<span class="ion-ios-heart"></span>{{post.likes}}</a></span>
                      <span class="stDate">{{post.date_created}}</span>
                      <span ng-hide="editingPost[$index]" class="postEdit" ng-class="{WorkoutPost : FActivity[$index].status.match('Exercises In This Workout')}">
                        <button class="button button-flat editPost" ng-show="post.user_posted == userData.user_id" type="button" ng-click="editingPost[$index] = true"><span class="icon-appedit"></span></button>
                        <button class="button button-flat removePost" type="button" ng-show="post.user_posted == userData.user_id" ng-click="removePost(post, post.id)"><span class="ion-ios-close-empty"></span></button>
                      </span>
                    </div>
                    <div class="userstatusInfoBottom">
                      <div class="statusText">
                        <input type="checkbox" id="showMore{{$index}}" name="showMore">
                        <label for="showMore{{$index}}">
                          <p ng-bind-html="post.status"></p>
                        </label>
                        <a ng-click="clicked(post.status_url[0].url)" class="urlPreviewWrap" ng-show="post.status_url.length > 0">
                          <div class="urlPreviewImg" ng-hide="post.status_url[0].site_url === ''">
                            <img ng-src="{{post.status_url[0].image_url}}" class="img-responsive">
                          </div>
                          <div class="urlPreviewDetails" ng-hide="post.status_url[0].site_url === ''">
                            <div class="urlPreviewTitle">
                              <span ng-bind-html="post.status_url[0].title"></span>
                            </div>
                            <!--<div class="urlPreviewDesc">-->
                            <!--<span>{{urlPreview.description}}</span>-->
                            <!--</div>-->
                            <div class="urlPreviewUrl">
                              <span>{{post.status_url[0].site_url}}</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="statusImagesWrap">
                        <a class="statusImages" ng-repeat="images in post.status_images" ng-href="{{siteUrl}}uploads/status_images/{{images.image}}" fancyboxable>
                          <img ng-src="{{siteUrl}}uploads/status_images/{{images.image}}" ng-class="$index"  class="img-responsive">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--edit post-->
                <div class="row padding-0 editPostWrapper" ng-show="editingPost[$index]">
                  <div class="padding-0 col col-100 topPostStatusHead">
                    <div class="updateStatus">
                      <div class="userImg">
                        <img ng-src="{{userImg}}" class="img-responsive" fancyboxable>
                      </div>
                      <div class="updateStTextBox">
                        <!--<input type="text" ng-model="post.edit_status">-->
                        <textarea rows="1" class="animateTextArea msd-elastic: \n;" ng-class="editurlPreviewClass" ng-model="post.edit_status" ng-change="postEntering(post.edit_status, 1)"></textarea>
                        <a class="ion-camera" ng-click="selectUploadMethodPostEdit()" ng-class="inArray('Upload Photos To Activity Feed')"></a>
                        <a ng-click="clicked(editurlPreview.url)" class="urlPreviewWrap" ng-show="editshowUrlPreview">
                          <div class="urlPreviewImg" ng-hide="editurlPreview.site_url === ''">
                            <img ng-src="{{editurlPreview.images}}" class="img-responsive">
                          </div>
                          <div class="urlPreviewDetails" ng-hide="editurlPreview.site_url === ''">
                            <div class="urlPreviewTitle">
                              <span ng-bind-html="editurlPreview.title"></span>
                            </div>
                            <!--<div class="urlPreviewDesc">-->
                            <!--<span>{{urlPreview.description}}</span>-->
                            <!--</div>-->
                            <div class="urlPreviewUrl">
                              <span>{{editurlPreview.site_url}}</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="statusImagesWrap">
                        <a class="statusImages" ng-href="{{siteUrl}}uploads/status_images/{{images.image}}" ng-repeat="images in post.status_images" fancyboxable>
                          <img ng-src="{{siteUrl}}uploads/status_images/{{images.image}}" ng-class="$index" alt="" class="img-responsive">
                        </a>
                      </div>
                      <div class="updatePostBtn editPostBtns">
                        <a class="button-flat" type="button" ng-click="editingPost[$index] = false">Cancel</a>
                        <button class="button-flat" type="submit" ng-click="editingPost[$index] = false">POST</button>

                      </div>
                      <div class="upLoadPostImage" ng-class="{hide: status.postImage=={}}">
                        <div class="status-imgs" ng-repeat="image in edit_status_images">
                          <button class="ion-android-close ink button button-flat" ng-click="removeStatusIMG($index)" type="button"></button>
                          <img  ng-src="{{image}}" class="img-responsive" fancyboxable>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
            </div>

            <div class="clearfix"></div>
            <div class="commentHead">
              <div class="commentIcon">
                <span class="ion-ios-chatbubble"></span><span>Comments</span>
              </div>
              <!--<div class="socialIcons">-->
                <!--<span class="ion-social-facebook-outline"></span>-->
                <!--<span class="ion-social-instagram-outline"></span>-->
                <!--<span class="ion-social-twitter-outline"></span>-->
              <!--</div>-->

            </div>
            <div class="commentTopMainSack">
            <div class="commentMainSack">
              <div class="userComments" ng-repeat="comment in post.comments">
                <form ng-submit="editComment($parent.$index, comment.id, comment.status_id, comment.edit_comment)" name="loginForm" autocomplete="off" novalidate>
                <div class="commentMain">
                  <span ng-hide="editing[$index]" class="commentEdit">
                <a ng-show="comment.user_id == userData.user_id" ng-click="editing[$index] = true" class="icon-appedit editComment button-flat ink button"></a>
                <a ng-show="comment.user_id == userData.user_id" ng-click="removeComment($parent.$index, comment, comment.id, comment.status_id)" class="ion-ios-close-empty removeComment button-flat ink button"></a>
              </span>
                  <a class="commentingUserImg" ui-sref="app.userdashboard( {result:comment.user_id})">
                    <img image-lazy-src="{{siteUrl}}{{comment.userimg}}" alt="" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                  </a>
                  <div class="commentText">
                    <div class="commentingUserName">
                      <a ui-sref="app.userdashboard( {result:comment.user_id})">{{comment.full_name}}</a>
                      <span>{{comment.date_time}}</span>
                    </div>
                    <div class="commentingData">
                      {{comment.comment}}
                    </div>
                    <div class="userstatusInfoBottom">
                      <a ng-click="clicked(comment.comment_status_url[0].url)" class="urlPreviewWrap" ng-show="comment.comment_status_url.length > 0">
                        <div class="urlPreviewImg" ng-hide="comment.comment_status_url[0].site_url === ''">
                          <img ng-src="{{comment.comment_status_url[0].image_url}}" class="img-responsive">
                        </div>
                        <div class="urlPreviewDetails" ng-hide="comment.comment_status_url[0].site_url === ''">
                          <div class="urlPreviewTitle">
                            <span ng-bind-html="comment.comment_status_url[0].title"></span>
                          </div>
                          <!--<div class="urlPreviewDesc">-->
                          <!--<span>{{urlPreview.description}}</span>-->
                          <!--</div>-->
                          <div class="urlPreviewUrl">
                            <span>{{comment.comment_status_url[0].site_url}}</span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="commentImagesWrapper">
                    <a class="commentImages" ng-repeat="images in comment.comment_images" ng-href="{{siteUrl}}uploads/comment_images/{{images.image}}" fancyboxable>
                      <img ng-src="{{siteUrl}}uploads/comment_images/{{images.image}}" alt="" class="img-responsive">
                    </a>
                  </div>
                </div>
                <div class="row add-comment-box" ng-show="editing[$index]">
                  <div class="col col-100 addCommentBoxCol">
                    <div class="updateStatus commentBoxPost">
                      <div class="userImg">
                        <img image-lazy-src="{{userImg}}" fancyboxable class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                      </div>
                      <div class="updateStTextBox editStTextBox">
                        <!--<input type="text" ng-model="comment.edit_comment">-->
                        <textarea rows="1" class="animateTextArea smallanimateTextArea msd-elastic" ng-model="comment.edit_comment" ng-class="editCommenturlPreviewClass" ng-change="postEntering(comment.edit_comment, 1, true)"></textarea>
                        <a class="ion-camera" ng-click="selectUploadMethodCommentEdit()"></a>
                        <a ng-click="clicked(editurlPreview.url)" class="urlPreviewWrap" ng-show="editshowCommentUrlPreview">
                          <div class="urlPreviewImg" ng-hide="editurlPreview.site_url === ''">
                            <img ng-src="{{editurlPreview.images}}" class="img-responsive">
                          </div>
                          <div class="urlPreviewDetails" ng-hide="editurlPreview.site_url === ''">
                            <div class="urlPreviewTitle">
                              <span ng-bind-html="editurlPreview.title"></span>
                            </div>
                            <!--<div class="urlPreviewDesc">-->
                            <!--<span>{{urlPreview.description}}</span>-->
                            <!--</div>-->
                            <div class="urlPreviewUrl">
                              <span>{{editurlPreview.site_url}}</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="commentImagesWrapper">
                        <div class="commentImages" ng-repeat="images in comment.edit_comment_images">
                          <img image-lazy-src="{{siteUrl}}uploads/comment_images/{{images.image}}" fancyboxable alt="" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                        </div>
                      </div>
                      <div class="updatePostBtn updateEditCommentBtn">
                        <a class="button-flat" type="button" ng-click="editing[$index] = false">Cancel</a>
                        <button class="button-flat" type="submit" ng-click="editing[$index] = false">Post</button>

                      </div>
                      <div class="upLoadPostImage" ng-class="{hide: status.commentImage=={}}">
                        <div class="status-imgs" ng-repeat="image in edit_comment_images">
                          <button class="ion-android-close ink button button-flat" ng-click="removeCommentIMG($index)" type="button"></button>
                          <img  ng-src="{{image}}" fancyboxable class="img-responsive">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
              </div>
            </div>
            <div class="row add-comment-box">
              <div class="col col-100 addCommentBoxCol">
                <form ng-submit="postCommentfrnd(post.id, $index,mani)" name="loginForm" autocomplete="off" novalidate>
                <div class="updateStatus commentBoxPost">
                  <div class="userImg">
                    <img image-lazy-src="{{userData.image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                  </div>
                  <div class="updateStTextBox">
                    <!--<input type="text" ng-model="mani[post.id + '_' + post.id]">-->
                    <textarea rows="1" class="animateTextArea smallanimateTextArea msd-elastic" ng-model="mani[post.id + '_' + post.id]" ng-class="urlCommentPreviewClass"  ng-change="postEntering(mani[post.id + '_' + post.id], 0 , true, $index)" ng-required="true"></textarea>
                    <a class="ion-camera" ng-click="selectUploadMethodComment(post.id)"></a>
                    <a ng-click="clicked(urlPreview.url)" class="urlPreviewWrap" ng-if="showCommentUrlPreview[$index]">
                      <div class="urlPreviewImg" ng-hide="urlPreview.site_url === ''">
                        <img ng-src="{{urlPreview.images}}" class="img-responsive">
                      </div>
                      <div class="urlPreviewDetails" ng-hide="urlPreview.site_url === ''">
                        <div class="urlPreviewTitle">
                          <span ng-bind-html="urlPreview.title"></span>
                        </div>
                        <!--<div class="urlPreviewDesc">-->
                        <!--<span>{{urlPreview.description}}</span>-->
                        <!--</div>-->
                        <div class="urlPreviewUrl">
                          <span>{{urlPreview.site_url}}</span>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="updatePostBtn">
                    <button class="button-flat" type="submit">Comment</button>
                  </div>
                  <div class="upLoadPostImage" ng-class="{hide: status.commentImage=={}}" ng-show="post.id == selectedPost">
                    <div class="status-imgs" ng-repeat="image in commentImage">
                      <button class="ion-android-close ink button button-flat" ng-click="removeCommentIMG($index)" type="button"></button>
                      <img  ng-src="{{image}}" class="img-responsive">
                    </div>
                  </div>
                </div>
                  </form>
              </div>
            </div>
          </div>
          </div>
          <div class="loadMoreFeed" ng-class="showLoader">
            <ion-spinner icon="ios-small"></ion-spinner>
          </div>
          <div class="noContent noContentFlex noContentActivity" ng-hide="NoResultFound != '402'">
            <img src="img/no-friends.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
    <ion-infinite-scroll
      on-infinite="loadmorefriendsact()" ng-if="morefrndactvtse"
      distance="1%" immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
