<ion-view view-title="Workouts" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader addCustomExerciseHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

    <article>Add Custom Exercise</article>
    <!--<span class="ion-android-more-vertical moreIcon ink" ng-click="popover.show($event)"></span>-->
    <a class="ion-heart favIcon" ui-sref="app.FavExercises" target="_blank"></a>
      <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
  </ion-header-bar>
  <ion-content class="has-header allWorkoutsStack" lazy-scroll>
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
    <div class="row">
      <div class="col col-100">
        <div class="workoutActionsMain">
          <div class="workoutActionBtns">
            <a class="button button-calm" ui-sref="app.exercises">Exercises</a>
          </div>
          <div class="workoutActionBtns">
            <a class="button button-calm" ui-sref="app.myexercises">My Exercises</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container" ng-show="isOnline == true">
      <div class="row">
        <div class="col col-100">
          <div class="addCustomExerciseSack workoutRefineSack">
            <div class="addExerciseName">
              <form name="addExerciseForm" novalidate ng-submit="addExercise(refine.Exname, refine.Selectedtype, refine.bodyPartid, refine.Selectedequip, refine.Selectedlevel, refine.ExUrl, refine.ExDescription)">
              <div class="list">
                <label class="item item-input" for="ExerciseName">
                  <span class="input-label">Custom Exercise Name</span>
                  <input type="text" ng-model="refine.Exname" id="ExerciseName" name="ExerciseName" ng-required="true">
                  <!--{{refine.Selectedtype}}-->
                </label>
                  <label class="item item-input">
                    <span class="input-label">Exercise Type</span>
                    <select ng-model="refine.Selectedtype" multiple>
                      <option ng-repeat="option in refine.exerciseType" value="{{option.type_id}}">{{option.name}}</option>
                    </select>
                    <!--{{refine.Selectedtype}}-->
                  </label>
                  <label class="item item-input">
                    <span class="input-label">Body Part</span>
                    <select ng-model="refine.bodyPartid" multiple>
                      <option ng-repeat="option in refine.bodyPart" value="{{option.part_id}}">{{option.name}}</option>
                    </select>
                    <!--{{refine.bodyPartid}}-->
                  </label>
                  <label class="item item-input">
                    <span class="input-label">Select Workout Equipment</span>
                    <select ng-model="refine.Selectedequip" multiple>
                      <option ng-repeat="option in refine.machines" value="{{option.id}}">{{option.name}}</option>
                    </select>
                    <!--{{refine.Selectedequip}}-->
                  </label>

                  <label class="item item-input">
                    <span class="input-label">Select Fitness Level</span>
                    <select ng-model="refine.Selectedlevel" multiple>
                      <option ng-repeat="option in refine.fitness_level" value="{{option.value}}">{{option.title}}</option>
                    </select>
                    <!--{{refine.Selectedlevel}}-->
                  </label>
                <label class="item item-input" for="ExerciseUrl">
                  <span class="input-label">Copy & paste your exercise intro video link from Youtube or Vimeo here</span>
                  <textarea name="ExerciseUrl" id="ExerciseUrl" cols="10" rows="5" ng-model="refine.ExUrl" ng-required="true"></textarea>
                </label>
                <label class="item item-input uploadExThumb">
                  <span class="input-label">Click to Upload Thumbnail</span>
                  <button class="button button-calm button-block ink" type="button" ng-click="selectPicture()">Upload Exercise Thumbnail</button>
                  <img ng-src="{{refine.pic}}" class="img-responsive">
                </label>
                <label class="item item-input" for="ExerciseDescription">
                  <span class="input-label">Add Exercise Description</span>
                  <textarea name="ExerciseDescription" id="ExerciseDescription" cols="10" rows="5" ng-model="refine.ExDescription" ng-required="true"></textarea>
                </label>
                </div>
              <div class="addExerciseAction">
                <div class="cancelExercise">
                  <button class="button button-calm button-block ink" type="button" ui-sref="app.exercises">Cancel</button>
                </div>
                <div class="saveExercise">
                  <button class="button button-calm button-block ink" type="submit" ng-disabled="addExerciseForm.$invalid">Save</button>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>

    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view class="workoutPopOver">
        <ion-content>
          <div class="list" ng-click="popover.hide()">
            <a class="item" ui-sref="app.exercises" target="_blank">
              Exercise
            </a>
            <a class="item" ui-sref="app.myexercises" target="_blank">
              My Exercises
            </a>
            <a class="item" ui-sref="app.FavExercises" target="_blank">
              Favorite Exercises
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>

    <!--refine template-->


  </ion-content>
</ion-view>
