<ion-view view-title="Workouts" hide-nav-bar="true">
  <ion-header-bar class="addCustomWorkoutHeader workoutsHeader bar-assertive bar bar-header disable-user-behavior"
                  align-title="center">

    <article>Add Custom Workout</article>
    <!--exerciseListSack-->
    <button class="button button-clear headSearchBtn" ng-click="focussearch()"><span
      class="ion-ios-search-strong"></span></button>
    <button class="button ion-funnel button-clear button-dark" type="submit" ng-click="modal_filter.show()"></button>
    <a class="ion-heart favIcon" ui-sref="app.FavWorkouts" target="_blank"></a>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
  </ion-header-bar>
  <ion-content class="has-header allWorkoutsStack" lazy-scroll overflow-scroll="true">
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
    <div class="row">
      <div class="col col-100">
        <div class="workoutSearch workoutSearchInCustom hideSearchInput" ng-class="show">
          <input placeholder="Search" type="text" ng-model="searchStrman.search" id="searchStrman"
                 ng-change="change(searchStrman.search)">
          <span class="ion-ios-search-strong" ng-show="showSearchIcon == true"></span>
          <a class="ion-ios-close-empty" ng-show="showSearchIcon == false"
             ng-click="emptySearch(searchStrman.search)"></a>
        </div>
        <div class="clear"></div>
        <div class="workoutActionsMain">
          <article class="howNote">Double tap or swipe to add exercises to your workout</article>
          <!--<div class="workoutActionBtns">-->
            <!--<a class="button button-calm" ui-sref="app.workouts">Workouts</a>-->
          <!--</div>-->
          <!--<div class="workoutActionBtns">-->
            <!--<a class="button button-calm" ui-sref="app.myWorkouts">My Workouts</a>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <div class="container" ng-show="isOnline == true">
      <div class="row">
        <div class="col col-100">
          <div class="addCustomSack">
            <div class="addCustomActions">
              <!--<div class="resetWorkoutBtn">-->
                <!--<button class="button button-block button-calm ink" ng-click="uncheckAll()">Reset</button>-->
              <!--</div>-->
              <div class="previewWorkoutBtn">
                <button class="button button-block button-calm ink" ng-click="previewNext()">Next</button>
              </div>
            </div>

            <input id="tab1" type="radio" name="tabs" ng-checked="checked" checked>
            <label for="tab1">All Exercises</label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">My Exercises</label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3">Shared Exercises</label>
            <section id="content1">
              <div class="exerciseListSack list">
                <div class="exerciseListRepeat item" ng-repeat="workout in workoutss  | filter:searchStrman.search">
                  <!--<input type="checkbox" id="checkEx{{$index+1}}" checklist-model="user.workoutss" checklist-value="workout">-->
                  <div class="addCustomLabel" on-swipe-right="swipeToAdd(workout);" on-double-tap="swipeToAdd(workout);">
                    <div class="addExerciseThumb">
                      <img ion-img-cache ng-src="{{baseUrlForWorkoutImg}}{{workout.workout_thumb}}"
                           class="img-responsive">
                    </div>
                    <div class="addExerciseTitle">
                      <p>{{workout.workout_name | limitTo: 28 }}{{workout.workout_name > 28 ? '...' : ''}}</p>
                    </div>
                    <!--<div class="checkExercise">-->
                    <!--<span><span class="ion-checkmark-round"></span></span>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </section>
            <section id="content2">
              <div class="exerciseListSack list">
                <div class="exerciseListRepeat item" ng-repeat="workout in myExercises  | filter:searchStrman.search">
                  <!--<input type="checkbox" id="checkmyEx{{$index+1}}" checklist-model="user.myworkoutss" checklist-value="workout">-->
                  <div class="addCustomLabel" on-swipe-right="swipeToAdd(workout);" on-double-tap="swipeToAdd(workout);">
                    <div class="addExerciseThumb">
                      <img ion-img-cache ng-src="{{baseUrlForWorkoutImg}}{{workout.video_thumb}}"
                           class="img-responsive">
                    </div>
                    <div class="addExerciseTitle">
                      <p>{{workout.c_name| limitTo: 28 }}{{workout.c_name> 28 ? '...' : ''}}</p>
                    </div>
                    <!--<div class="checkExercise">-->
                    <!--<span><span class="ion-checkmark-round"></span></span>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </section>
            <section id="content3">
              <div class="exerciseListSack list">
                <div class="exerciseListRepeat item" ng-repeat="workout in sharedExercises  | filter:searchStrman.search">
                  <!--<input type="checkbox" id="checksEx{{$index+1}}" checklist-model="user.sharedworkoutss" checklist-value="workout">-->
                  <div class="addCustomLabel" on-swipe-right="swipeToAdd(workout);" on-double-tap="swipeToAdd(workout,$index);">
                    <div class="addExerciseThumb">
                      <img ion-img-cache ng-src="{{baseUrlForWorkoutImg}}{{workout.video_thumb}}"
                           class="img-responsive">
                    </div>
                    <div class="addExerciseTitle">
                      <p>{{workout.c_name| limitTo: 28 }}{{workout.c_name> 28 ? '...' : ''}}</p>
                    </div>
                    <!--<div class="checkExercise">-->
                    <!--<span><span class="ion-checkmark-round"></span></span>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view class="workoutPopOver">
        <ion-content>
          <div class="list" ng-click="popover.hide()">
            <a class="item" ui-sref="app.workouts" target="_blank">
              Workouts
            </a>
            <a class="item" ui-sref="app.myWorkouts" target="_blank">
              My Workouts
            </a>
            <a class="item" ui-sref="app.FavWorkouts" target="_blank">
              Favorite Workouts
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar
          class="workoutsHeader addCustomWorkoutHeaderModal workoutRefineHeader bar-assertive bar bar-header disable-user-behavior"
          align-title="center">
          <h1 class="title">Your Selected Exercises</h1>
          <!--<button class="button button-clear button-primary" ng-click="modal.hide()" type="button">Cancel</button>-->


        </ion-header-bar>

        <ion-content class="padding workoutRefineSack previewContent" overflow-scroll="false">
          <form ng-submit="goToDetailPage()" name="previewForm">
            <div class="workoutSearch previewWorkoutActions">
              <article class="repsNote">Add number of reps and duration in seconds.</article>
              <button class="button button-clear button-primary" type="button" ng-click="modal.hide()">Back</button>
              <button class="button button-clear button-primary" type="button" ng-show="showReorder == false" ng-click="showReorder=true">Edit</button>
              <button class="button button-clear button-primary" type="button" ng-show="showReorder == true" ng-click="showReorder=false;">Done Edit</button>
              <button class="button button-clear button-primary" type="submit" ng-disabled="previewForm.$invalid||previewWorkout.length==0">Next</button>
            </div>

            <div class="workoutDuration">
              <span>WORKOUT DURATION</span><span>{{total}}</span>
            </div>
            <ion-list class="exerciseListSack exercisePreviewListSack list" show-delete="showReorder"
                      show-reorder="showReorder"
                      can-swipe="false">

              <ion-item class="exerciseListRepeat item" ng-repeat = "workout in previewWorkout track by $index">
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="reorderItem(workout, $fromIndex, $toIndex)">
                </ion-reorder-button>
                <ion-delete-button class="ion-minus-circled button icon button-icon" ng-click="onItemDelete(workout)">
                </ion-delete-button>
                <div class="addExerciseThumb">
                  <img image-lazy-src="{{baseUrlForWorkoutImg}}{{workout.workout_thumb}}" alt="workout image" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="800">
                </div>
                <div class="addExerciseTitle">
                  <p>{{workout.workout_name | limitTo: 28 }}{{workout.workout_name > 28 ? '...' : ''}}</p>
                </div>
                <div class="input-areas">
                  <label for="reps{{$index}}">Enter Number of Reps</label>
                  <input type="number" id="reps{{$index}}" ng-model="previewWorkout[$index].EXrepeats" name="m" ng-required="true">
                  <label for="duration{{$index}}">Enter Duration in Seconds</label>
                  <input type="number" id="duration{{$index}}" ng-change="sumDuration()" ng-model="previewWorkout[$index].EXduration" name="n" ng-required="true">

                </div>
              </ion-item>
              <div class="noContent noContentFlex" ng-show="previewWorkout == ''">
                <img src="img/no-exercise.png" alt="">
              </div>
            </ion-list>
          </form>
        </ion-content>
      </ion-modal-view>
    </script>
    <script id="templates/modal_info.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar
          class="workoutsHeader addCustomWorkoutHeaderModal workoutRefineHeader bar-assertive bar bar-header disable-user-behavior"
          align-title="center">
          <h1 class="title">Custom Workout Details</h1>
          <!--<button class="button button-clear button-primary" ng-click="modal_info.hide()">Cancel</button>-->


        </ion-header-bar>

        <ion-content class="padding workoutRefineSack previewWorkoutActionsContent" overflow-scroll="false">
          <div class="addCustomExerciseSack workoutRefineSack">
            <div class="addExerciseName">
              <div class="workoutSearch previewWorkoutActions detailWorkoutAction">
                <article class="repsNote">Please enter details of workout</article>
                <button class="button button-block button-calm ink addCusBtnStd" ng-click="goBackExList()">Back</button>
              </div>
              <form
                ng-submit="addWorkout(refine.Exname, refine.Selectedtype, refine.Selectedequip, refine.Selectedlevel, refine.Selectedintensity,refine.SelectedPrivacy,refine.ExUrl, refine.ExDescription)"
                class="addCustomWorkoutForm" name="fillWorkoutInfo" id="fillWorkoutInfo" novalidate>
                <div class="list">
                  <div class="workoutDuration">
                    <span>WORKOUT DURATION</span><span>{{total}}</span>
                  </div>
                  <label class="item item-input" for="ExerciseName">
                    <span class="input-label">Workout Name</span>
                    <input type="text" ng-model="refine.Exname" id="ExerciseName" name="ExerciseName"
                           ng-required="true">
                    <!--{{refine.Selectedtype}}-->
                  </label>
                  <label class="item item-input">
                    <span class="input-label">Workout Type</span>
                    <select ng-model="refine.Selectedtype" multiple>
                      <option ng-repeat="option in refine.workoutType" value="{{option.typeID}}">{{option.name}}
                      </option>
                    </select>
                    <!--{{refine.Selectedtype}}-->
                  </label>

                  <label class="item item-input">
                    <span class="input-label">Select Workout Equipment</span>
                    <select ng-model="refine.Selectedequip" multiple>
                      <option ng-repeat="option in refine.machines" value="{{option.id}}">{{option.name}}</option>
                    </select>
                    <!--{{refine.Selectedequip}}-->
                  </label>

                  <label class="item item-input">
                    <span class="input-label">Select Difficulty Level</span>
                    <select ng-model="refine.Selectedlevel">
                      <option ng-repeat="option in refine.levels" value="{{option.value}}">{{option.title}}</option>
                    </select>
                    <!--{{refine.Selectedlevel}}-->
                  </label>

                  <label class="item item-input">
                    <span class="input-label">Select Intensity</span>
                    <select ng-model="refine.Selectedintensity">
                      <option ng-repeat="option in refine.intensity" value="{{option.gid}}">{{option.name}}</option>
                    </select>
                    <!--{{refine.Selectedlevel}}-->
                  </label>


                  <label class="item item-input">
                    <span class="input-label">Select Privacy Status</span>
                    <select ng-model="refine.SelectedPrivacy">
                      <option value="public">Public</option>
                      <option value="private">Private</option>
                    </select>
                    <!--{{refine.Selectedlevel}}-->
                  </label>


                  <label class="item item-input" for="ExerciseUrl">
                    <span
                      class="input-label">Copy & paste your workout intro video link from Youtube or Vimeo here</span>
                    <textarea name="ExerciseUrl" id="ExerciseUrl" cols="10" rows="5" ng-model="refine.ExUrl"></textarea>
                  </label>
                  <label class="item item-input uploadExThumb">
                    <span class="input-label">Click to Upload Thumbnail</span>
                    <button class="button button-calm button-block ink" type="button" ng-click="selectPicture()">Upload
                      Workout Thumbnail
                    </button>
                    <img ng-src="{{refine.pic}}" class="img-responsive">
                  </label>
                  <label class="item item-input" for="ExerciseDescription">
                    <span class="input-label">Add Workout Description</span>
                    <textarea name="ExerciseDescription" id="ExerciseDescription" cols="10" rows="5"
                              ng-model="refine.ExDescription"></textarea>
                  </label>
                </div>
                <div class="addExerciseAction addCustomWorkoutAction">
                  <div class="cancelExercise">
                    <button class="button button-calm button-block ink" type="button" ng-click="cancelAddingWorkout()">
                      Cancel
                    </button>
                  </div>
                  <div class="resetWorkoutBtn lastDetailsResetBtn">
                    <button class="button button-block button-calm ink" type="button" ng-click="clearData()">Reset</button>
                  </div>
                  <div class="saveExercise">
                    <button class="button button-calm button-block ink" type="submit" ng-disabled="fillWorkoutInfo.$invalid">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    <script id="templates/modal_filter.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior"
                        align-title="center">
          <h1 class="title">Refine your search</h1>
          <button class="button button-clear button-primary" ng-click="modal_filter.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Exercise Types</span>
              <select ng-model="refine2.Selectedtype" multiple>
                <option ng-repeat="option in refine2.exerciseType" value="{{option.type_id}}">{{option.name}}</option>
              </select>
              <!--{{refine.Selectedtype}}-->
            </label>
            <label class="item item-input">
              <span class="input-label">Body Part</span>
              <select ng-model="refine2.bodyPartid" multiple>
                <option ng-repeat="option in refine2.bodyPart" value="{{option.part_id}}">{{option.name}}</option>
              </select>
              <!--{{refine.bodyPartid}}-->
            </label>
            <label class="item item-input">
              <span class="input-label">Select Workout Equipment</span>
              <select ng-model="refine2.Selectedequip" multiple>
                <option ng-repeat="option in refine2.machines" value="{{option.id}}">{{option.name}}</option>
              </select>
              <!--{{refine.Selectedequip}}-->
            </label>

            <label class="item item-input">
              <span class="input-label">Select your Fitness Level</span>
              <select ng-model="refine2.Selectedlevel" multiple>
                <option ng-repeat="option in refine2.fitness_level" value="{{option.value}}">{{option.title}}</option>
              </select>
              <!--{{refine.Selectedlevel}}-->
            </label>


            <button class="button button-flat button-calm button-block ink" ng-click="filterExercise()">Filter</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    <ion-infinite-scroll ng-if="moreworkouts"
                         on-infinite="loadmoreworkouts()"
                         distance="1%" immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
