<ion-nav-buttons side="left" ng-show="false"></ion-nav-buttons>
<ion-side-menus enable-menu-with-back-views="false">
  <ion-view view-title="News Feed" hide-nav-bar="true">
    <ion-header-bar class="signupHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

      <span>News Feed</span>
    </ion-header-bar>
    <ion-content class="has-header allnewsFeedSack">
      <div class="quoteArea onMob">
        <p> {{quote.quote}} <b>{{quote.author}}</b></p>

      </div>
      <div class="allNewsFeedWrap">
        <div class="allNewsRepeat" ng-repeat = "news in allNews">
          <div class="allNewsImg">
            <img ng-src="{{news.image}}" alt="image">
          </div>
          <div class="allNewsData">
            <div class="allNewsHead">
              <h2>{{news.feed}}</h2>
            </div>
            <div class="allNewsDate">
              <span>{{news.show_from}}</span>
            </div>
          </div>
        </div>

      </div>
    </ion-content>
  </ion-view>
