<ion-view view-title="Friend Activity" hide-nav-bar="true">
  <ion-header-bar class="addCustomWorkoutHeader allFriendsActivityHeader workoutsHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
    <article>Friend Activity</article>
  </ion-header-bar>
  <ion-content class="FactivityContentWrap" lazy-scroll overflow-scroll="true">
    <div class="container" ng-show="isOnline == true">
      <div class="row">
        <div class="col col-100 ">
          <div class="friendsActivitySack allFriendsActivityWrapper" ng-repeat="post in FActivity">
            <div class="faUserImg">
              <img image-lazy-src="{{siteUrl}}{{post.image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
            </div>
            <div class="faPostDetail">
              <div class="faUD">
                <div class="faUserName">
                  <a ui-sref="app.userdashboard( {result:post.user_id})" ng-bind-html="(post.user_fname) + (post.user_lname)"></a>
                </div>
                <div class="faPostDate">
                  <span>Date: {{post.date_created}} </span>

                </div>
              </div>
              <div class="faPostLC">
                <div class="faPostLikeNum">
                  <article ng-class="actLiked" ng-click="like(post.id,$index)">
                    <span class="ion-heart" ></span>
                    <span>{{post.likes}} Likes</span>
                  </article>
                </div>
                <div class="faPostCommentNum">
                  <article>
                    <span class="ion-chatbubble"></span>
                    <span>{{post.total_comments}} Comments</span>
                  </article>
                </div>
                <div class="clearfix"></div>

              </div>
            </div>
            <div class="faPostWrap">
              <div class="faPost">
                <p ng-bind-html="post.status"></p>
              </div>
              <div class="statusImagesWrap">
                <div class="statusImages" ng-repeat="images in post.status_images">
                  <img image-lazy-src="{{siteUrl}}uploads/status_images/{{images.image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
            <div class="commentHead">
              <div class="commentIcon">
                <span class="ion-ios-chatbubble"></span><span>Comments</span>
              </div>
              <!--<div class="socialIcons">-->
                <!--<span class="ion-social-facebook-outline"></span>-->
                <!--<span class="ion-social-instagram-outline"></span>-->
                <!--<span class="ion-social-twitter-outline"></span>-->
              <!--</div>-->

            </div>
            <div class="commentMainSack">
            <div class="commentMainSack">
              <div class="userComments" ng-repeat="comment in post.comments">
                <div class="commentMain">

                  <a class="commentingUserImg" ui-sref="app.userdashboard( {result:comment.user_id})">
                    <img image-lazy-src="{{siteUrl}}{{comment.userimg}}" alt="" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                  </a>
                  <div class="commentText">
                    <div class="commentingUserName">
                      <a ui-sref="app.userdashboard( {result:comment.user_id})">{{comment.full_name}}</a>
                      <span>{{comment.date_time}}</span>
                    </div>
                    <div class="commentingData">
                      {{comment.comment}}
                    </div>
                  </div>
                  <div class="commentImagesWrapper">
                    <div class="commentImages" ng-repeat="images in comment.comment_images">
                      <img image-lazy-src="{{siteUrl}}uploads/comment_images/{{images.image}}" alt="" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row add-comment-box">
              <div class="col col-100 addCommentBoxCol">
                <form ng-submit="postCommentfrnd(post.id, $index,mani)" name="loginForm" autocomplete="off" novalidate>
                <div class="updateStatus commentBoxPost">
                  <div class="userImg">
                    <img image-lazy-src="{{userData.image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                  </div>
                  <div class="updateStTextBox">
                    <input type="text" ng-model="mani[post.id + '_' + post.id]">
                    <a class="ion-camera" ng-click="selectUploadMethodComment(post.id)"></a>
                  </div>
                  <div class="updatePostBtn">
                    <button class="button-flat" type="submit">Comment</button>
                  </div>
                  <div class="upLoadPostImage" ng-class="{hide: status.commentImage=={}}" ng-show="post.id == selectedPost">
                    <div class="status-imgs" ng-repeat="image in commentImage">
                      <button class="ion-android-close ink button button-flat" ng-click="removeCommentIMG($index)" type="button"></button>
                      <img  ng-src="{{image}}" class="img-responsive">
                    </div>
                  </div>
                </div>
                  </form>
              </div>
            </div>
          </div>
          </div>
          <div class="noContent noContentFlex" ng-hide="NoResultFound != '402'">
            <img src="img/no-friends.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
    <ion-infinite-scroll
      on-infinite="loadmorefriendsact()" ng-if="morefrndactvtse"
      distance="1%" immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
