<ion-view view-title="Dashboard" hide-nav-bar="true">
  <ion-header-bar class="signupHeader allMyActivitiesHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

    <article>My Activities</article>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
  </ion-header-bar>
  <ion-content class="DashboardSack" has-header="true" lazy-scroll overflow-scroll="true">
    <!--Ionic Refresher -->
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
<section id="allMyActivities" class="myActivitySack list animate-fade-slide-in-right">

  <div class="activitySackLoop item ink" ng-repeat="post in Activity">
    <div class="myActivityHead">
      <div class="userImg">
        <img image-lazy-src="{{siteUrl}}{{post.image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
      </div>
      <div class="userstatusInfo">
        <div class="userstatusInfoUpper">
          <span class="userName" ng-bind-html="(post.user_fname) + (post.user_lname)"></span>
          <a class="stLikes" ng-class="postLiked" ng-click="like(post.id, $index)">Likes<span class="ion-ios-heart"></span>{{post.likes}}</a>
          <span class="stDate">{{post.date_created}}</span>
        </div>
        <div class="userstatusInfoBottom">
          <div class="statusText">
            <input type="checkbox" id="showMore{{index}}" name="showMore">
            <label for="showMore{{index}}">
              <p ng-bind-html="post.status"></p>
            </label>
          </div>
          <div class="statusImagesWrap">
            <div class="statusImages" ng-repeat="images in post.status_images">
              <img image-lazy-src="{{siteUrl}}uploads/status_images/{{images.image}}" ng-class="$index"  class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
            </div>
          </div>


        </div>

      </div>
    </div>


    <div class="commentHead">
      <div class="commentIcon">
        <span class="ion-ios-chatbubble"></span><span>Comments</span>
      </div>
      <!--<div class="socialIcons">-->
        <!--<span class="ion-social-facebook-outline"></span>-->
        <!--<span class="ion-social-instagram-outline"></span>-->
        <!--<span class="ion-social-twitter-outline"></span>-->
      <!--</div>-->

    </div>
    <div class="commentTopMainSack">
      <div class="commentMainSack">
        <div class="userComments" ng-repeat="comment in post.comments">
          <div class="commentMain">
            <a class="commentingUserImg" ui-sref="app.userdashboard( {result:comment.user_id})">
              <img image-lazy-src="{{siteUrl}}{{comment.userimg}}"  class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
            </a>
            <div class="commentText">
              <div class="commentingUserName">
                <a ui-sref="app.userdashboard( {result:comment.user_id})">{{comment.full_name}}</a>
                <span>{{comment.date_time}}</span>
              </div>
              <div class="commentingData msd-elastic">
                {{comment.comment}}
              </div>
            </div>
            <div class="commentImagesWrapper">
              <div class="commentImages" ng-repeat="images in comment.comment_images">
                <img image-lazy-src="{{siteUrl}}uploads/comment_images/{{images.image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row add-comment-box">
        <div class="col col-100 addCommentBoxCol">
          <form ng-submit="postComment(post.id, $index,mani)" name="loginForm" autocomplete="off" novalidate>
          <div class="updateStatus commentBoxPost">
            <div class="userImg">
              <img image-lazy-src="{{userImg}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
            </div>
            <div class="updateStTextBox">
              <!--<input type="text" ng-model="mani[post.id + '_' + post.id]">-->
              <textarea  class="animateTextArea smallanimateTextArea msd-elastic" ng-model="mani[post.id + '_' + post.id]"></textarea>
              <a class="ion-camera" ng-click="selectUploadMethodComment(post.id)"></a>
            </div>
            <div class="updatePostBtn">
              <button class="button-flat" type="submit">Post</button>
            </div>
            <div class="upLoadPostImage" ng-class="{hide: status.commentImage=={}}" ng-show="post.id == selectedPost">
              <div class="status-imgs" ng-repeat="image in commentImage">
                <button class="ion-android-close ink button button-flat" ng-click="removeCommentIMG($index)" type="button"></button>
                <img  ng-src="{{image}}" class="img-responsive">
              </div>
            </div>
          </div>
            </form>
        </div>
      </div>
    </div>

  </div>

</section>
    <ion-infinite-scroll
      on-infinite="loadmoreact()"
      distance="1%" immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
