<ion-nav-buttons side="left" ng-show="false"></ion-nav-buttons>
  <ion-view view-title="News Feed" hide-nav-bar="true">
    <ion-header-bar class="signupHeader newsfeedHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

      <article>News Feed</article>
      <span class="ion-ios-bell notifications" ng-class="green" ui-sref="app.notifications"><i>{{notificationFull[0].count}}</i></span>
      <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
    </ion-header-bar>
    <ion-content class="has-header allnewsFeedSack" lazy-scroll overflow-scroll="true">
      <div class="expireWrap" ng-class="{noExpireWrap : packageExpired !== 1}" ng-click="expired()" ng-show = "packageExpired === 1"></div>
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
      <div class="quoteArea onMob">
        <p> {{quote.quote}} <b>{{quote.author}}</b></p>

      </div>
      <!--<div class="allNewsFeedWrap">-->
        <!--<div class="allNewsRepeat" ng-repeat = "news in allNews">-->
          <!--<div class="allNewsImg">-->
            <!--<img image-lazy-src="{{news.image}}" alt="image" image-lazy-loader="android">-->
          <!--</div>-->
          <!--<div class="allNewsData">-->
            <!--<div class="allNewsHead">-->
              <!--<h2>{{news.feed}}</h2>-->
            <!--</div>-->
            <!--<div class="allNewsDate">-->
              <!--<span>{{news.show_from}}</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

      <div class="list animate-fade-slide-in-right allNewsFeedWrap allnewsFeedWithPadding" ng-show="isOnline == true">
        <a ng-repeat="news in allNews" ng-click="newsDetail($index)" class="item item-avatar item-icon-right allNewsRepeat">
          <div class="allNewsImg">
            <img image-lazy-src="{{news.image}}" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
          </div>
          <div class="allNewsData">
            <div class="allNewsHead">
              <h2>{{news.feed}}</h2>
            </div>
            <div class="allNewsDate">
              <span>{{news.show_to}}</span>
            </div>
          </div>
        </a>
      </div>
      <div class="noInternet" ng-show="isOnline == false">
        <img ng-src="img/no-internet.png" class="img-responsive">
      </div>
      <ion-infinite-scroll ng-if="morefeeds"
                           on-infinite="loadmorefeeds()"
                           distance="1%" immediate-check="false">
      </ion-infinite-scroll>
    </ion-content>
  </ion-view>
