<ion-nav-buttons side="left" ng-show="false"></ion-nav-buttons>
  <ion-view view-title="Progress Pictures" hide-nav-bar="true">
    <ion-header-bar class="signupHeader newsfeedHeader progPhotosHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

      <article>Progress Photos</article>
      <span class="ion-ios-bell notifications" ng-class="green" ui-sref="app.notifications"><i>{{notificationFull[0].count}}</i></span>
      <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
      <!--<button class="button button-clear button-dark" type="submit">Refine</button>-->
    </ion-header-bar>
    <ion-content class="has-header" lazy-scroll overflow-scroll="true">
      <div class="expireWrap" ng-class="{noExpireWrap : packageExpired !== 1}" ng-click="expired()" ng-show = "packageExpired === 1"></div>
      <div class="quoteArea onMob">
        <p> {{quote.quote}} <b>{{quote.author}}</b></p>

      </div>
      <div class="allNewsFeedWrap allprogPhotosSack" ng-show="isOnline == true">
        <div class="progressMain">
          <div class="addProgPicBtn" ng-class="inArray('Add Progress Photos')" ng-click="Npermission(inArray('Add Progress Photos'))">
            <button ui-sref="app.uploadProgressPics" class="button button-full ink"><span class="ion-camera"></span><span>Add Progress Pictures</span></button>
          </div>
          <div class="list animate-fade-slide-in-right">
            <div ng-repeat="item in allPhotos.photos track by $index" class="item item-avatar item-icon-right">
              <div class="hideOnApp">
                <div class="shareMessage">
                  <span>Checkout my progress photos on Fitness Base Camp</span>
                  <span><img ng-src="http://www.fitnessbasecamp.com/frontend/img/logo.png" class="img-responsive"></span>
                </div>
              </div>
              <div class="progDate">
                <span>
                   <div class="deleteProgPick">
                      <button class="ion-close-round ion-close-round button-flat ink" ng-click="deletePP(item.id)"></button>
                    </div>
                  <em>{{item.date_created}}</em>
                  <article>
                     <div class="progPicSocial">
                       <a class="shareIconProgPage" ng-click="shareProg($index)"><h6 class="ion-android-share"></h6></a>
                     </div>
                    <button class="ion-locked hideFromDash button-flat ink" ng-class="toggleDashboard(item.disp_on_dashboard)" ng-click="toggleDisplay(item.id, item.disp_on_dashboard)"></button>
                    <button class="icon-appedit button-flat ink button" ng-click="editProgress(item.id)"></button>

                  </article>
                </span>
              </div>
              <div class="progPicsSack">
                <a rel="example_group{{$index}}" class="progPicsItems" href="{{siteUrl}}{{item.p_1}}" fancyboxable>
                  <img ion-img-cache ng-src="{{siteUrl}}{{item.p_1}}"  class="img-responsive">
                </a>
                <a rel="example_group{{$index}}" class="progPicsItems" href="{{siteUrl}}{{item.p_2}}" fancyboxable>
                  <img ion-img-cache ng-src="{{siteUrl}}{{item.p_2}}"  class="img-responsive">
                </a>
                <a rel="example_group{{$index}}" class="progPicsItems" href="{{siteUrl}}{{item.p_3}}" fancyboxable>
                  <img ion-img-cache ng-src="{{siteUrl}}{{item.p_3}}"  class="img-responsive">
                </a>
                <a rel="example_group{{$index}}" class="progPicsItems"  href="{{siteUrl}}{{item.p_4}}" fancyboxable>
                  <img ion-img-cache ng-src="{{siteUrl}}{{item.p_4}}"  class="img-responsive">
                </a>
              </div>
              <div class="clearfix"></div>
              <div class="progPicsBottom">


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="noInternet" ng-show="isOnline == false">
        <img ng-src="img/no-internet.png" class="img-responsive">
      </div>
    </ion-content>
  </ion-view>
