
<ion-view view-title="CARE LIVE STOCK">
  <ion-content class="has-header">
<!--Ionic Refresher -->
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

<!-- Ionic refresher end -->  

  <div class="container tips-expert">
    <h4 class="item">ASK AN EXPERT</h4>
    <div class="container">
    <ion-list>
    <div ng-repeat="opinion in opinions track by $index">

    <ion-item class="item-stable" ng-click="toggleOpinion(opinion)" ng-class="{active: isOpinionShown(opinion)}">
              <i class="icon" ng-class="isOpinionShown(opinion) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
          <span class="title-expert">  {{opinion.title}}</span>
          </ion-item>
    <ion-item class="item-accordion"  ng-show="isOpinionShown(opinion)">
          <span class="details-expert">  {{opinion.description}} </span>
          </ion-item>
	</div>
	</ion-list>
    </div>
    </div>
  </ion-content>
</ion-view>
<!-- ng-repeat="description in opinion.description" -->