<ion-nav-buttons side="left" ng-show="false"></ion-nav-buttons>
<ion-view view-title="Calorie Chart" hide-nav-bar="true">
  <ion-header-bar class="signupHeader newsfeedHeader calorieChartHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
    <article>Calorie Chart</article>
  </ion-header-bar>
  <ion-content class="has-header calorieChartSack" lazy-scroll>
    <div class="container" ng-show="isOnline == true">
      <div class="row flexWrap">
        <div class="col col-100 list animate-fade-slide-in-right">
          <div class="calorieChartInner item ink" ng-repeat="item in calorieChart">
            <div class="CChead">
              <h2>{{item.name}}</h2>
            </div>
            <div class="CCGridTable" ng-repeat="column in item.table_data">
              <div class="CCkey">
                <p>Calories</p>
              </div>
              <div class="CCvalue">
                <p>{{column.calorie}}</p>
              </div>
              <div class="CCkey">
                <p>Quantity</p>
              </div>
              <div class="CCvalue">
                <p>{{column.quantity}}</p>
              </div>
              <div class="CCkey">
                <p>Food</p>
              </div>
              <div class="CCvalue">
                <p>{{column.type}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
  </ion-content>
</ion-view>
