<ion-view view-title="Contact Us" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader myStatsHeaderBar suggestionHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
    <article>Contact Us</article>
    <span class="ion-ios-bell notifications" ng-class="green" ui-sref="app.notifications"><i>{{notificationFull[0].count}}</i></span>
    <!--<button class="button ion-funnel button-clear button-dark" type="submit" ng-click="showPopup()"></button>-->
    <!--<span class="ion-android-more-vertical moreIcon ink" ng-click="popover.show($event)"></span>-->
    <!--<span class="ion-plus-circled" ng-click="modal.show()"></span>-->
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>

  </ion-header-bar>
  <ion-content class="has-header allWorkoutsStack suggestionStack" lazy-scroll overflow-scroll="true">
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>
    </div>
    <div class="list">
      <form class="suggFormWrap" ng-submit="doSuggest(sugg.fname, sugg.email, sugg.phone, sugg.suggText)" name="suggestionForm" autocomplete="off" novalidate>
        <div class="suggInput">
          <label for="fname">Name</label>
          <input type="text" id="fname" name="fname" ng-model="sugg.fname" ng-required>
        </div>
        <div class="suggInput">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" ng-model="sugg.email" ng-required>
        </div>
        <div class="suggInput">
          <label for="phone">Phone</label>
          <input type="tel" id="phone" name="phone" ng-model="sugg.phone" ng-required>
        </div>
        <div class="suggInput">
          <label for="suggestion">Message</label>
          <textarea name="suggestion" id="suggestion" cols="30" rows="5" ng-model="sugg.suggText"></textarea>
        </div>
        <div class="suggFormActions">
          <div class="suggCancel">
            <button class="button button-calm" type="button" ui-sref="app.home">Cancel</button>
          </div>
          <div class="suggSubmit">
            <button class="button button-calm" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
