<ion-view>
  <ion-content class="has-header" lazy-scroll>
    <!--<div class="outer">-->
      <!--<div class="middle">-->
        <!--<div id="timer-container">-->
          <!--<div id="timer" class="digifont">{{timeStatus.hours}}<span class="seperator" ng-class="{'blinking-colon' : timerIsRunning}">:</span>{{timeStatus.minutes}}<span class="seperator" ng-class="{'blinking-colon' : timerIsRunning}">:</span>{{timeStatus.seconds}}<span class="seperator" ng-class="{'blinking-colon' : timerIsRunning}">.</span>{{timeStatus.ms}}-->
          <!--</div>-->
          <!--<div>-->



          <!--</div>-->
          <!--<div class="buttons">-->
            <!--<span class="button-container hand" ng-show="stopwatch_start"  ng-click="startTimer()"><span class="icon fa fa-play">&nbsp;</span>START</span>-->
            <!--<span class="button-container hand" ng-show="stopwatch_pause"   ng-click="stopTimer()"><span class="icon fa fa-pause">&nbsp;</span>STOP</span>-->
            <!--<span class="button-container hand" ng-click="resetTimer()"><span class="icon fa fa-stop">&nbsp;</span>RESET</span>-->

          <!--</div>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="quoteArea newtimerQuote onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
    <div id="timer-container" ng-show="isOnline == true">
      <div id="EnterTimeNote" class="hide">
        <p>Please Enter Duration</p>
      </div>
      <div id="timer" class="digifont">
        <div class="stopWatchTimer">
          <div class="TimeBox">
            <span>Hours</span>
            <div class="clearfix"></div>
            <span id="sw_h" class="bgwht hide inpbc">00</span>
            <article ng-class="toggleCT" class="hideInputTag"><input type="number" class="bgwht inpf" id="cd_h_i" value="00" pattern="[0-9]"/></article>
          </div>
          <div class="TimeBox">
            <span>Minutes</span>
            <div class="clearfix"></div>
            <span id="cd_m" class="bgwht hide inpbc">00</span>
            <article ng-class="toggleCT" class="hideInputTag"><input type="number" max-length="2" class="bgwht inpf" pattern="[0-9]" value="00" id="cd_m_i" /></article>
          </div>
          <div class="TimeBox">
            <span>Seconds</span>
            <div class="clearfix"></div>
            <span id="cd_s" class="bgwht hide inpbc">00</span>
            <article ng-class="toggleCT" class="hideInputTag"><input type="number" class="bgwht inpf" pattern="[0-9]" id="cd_s_i" value="00"/></article>
          </div>
          <div class="TimeBox">
            <span>Miliseconds</span>
            <div class="clearfix"></div>
            <span id="cd_ms" class="bgwht hide inpbc">00</span>
            <article ng-class="toggleCT" class="hideInputTag"><input type="number" class="bgwht inpf" pattern="[0-9]" id="cd_ms_i" readonly value="00"/></article>
          </div>
        </div>
      </div>

      <div class="StopButtons">
        <button class="button button-calm button-block pause ink hide" type="button" value="Stop"  id="cd_stop">STOP</button>
        <button class="button button-calm button-block reset ink" type="button" value="Reset" id="cd_reset">RESET</button>
        <button class="button button-calm button-block ink start" type="button" value="Start" id="cd_start">START</button>
        <button class="button button-calm button-block pause ink hide" type="button" value="Pause" id="cd_pause">STOP</button>

        <input type="hidden" value="15" id="cd_seconds" />
      </div>
    </div>
    <audio id="audio">
      <source src="media/end-round.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>


  </ion-content>
</ion-view>

