<ion-side-menus enable-menu-with-back-views="true">
<ion-view view-title="CARE LIVE STOCK">
  <ion-content class="has-header">
  <div class="container innerPage list animate-fade-slide-in" >
<strong class="item"> <h4>{{details[0].heading}}</h4></strong>
  
   
  <div class="desc row">
    
    <div class="col content-txt">
 <img class="img-responsive top-first" src="img/footmouth222.jpg">
    {{details[1].description}}</div>
  </div>
   <div class="row">
  <div class="col content-text">
  <img class="img-responsive middle-second" src="img/07-09-23-bluetongue-sheep.jpg">
  {{details[2].description}}</div>
    
    
    

   </div>
  <div class="row">
    <div class="col media">
      <img class="img-responsive end-three" src="img/download.jpg">
    </div>
    <div class="col media">
      <img class="img-responsive end-three" src="img/fmd.png">
    </div>
    <div class="col media">
      <img class="img-responsive end-three" src="img/images.jpg">
    </div>

  </div>
  <div class="row">
    <div class="col content-text">{{details[3].description}}</div>
   
</div> 
 
  <div class="row">
    <dvi class="col content-text">{{details[4].description}}</dvi>


  </div>

  <div class="row">
    <dvi class="col content-text">{{details[5].description}}</dvi>


  </div>
  <div class="row">
    <dvi class="col content-text">{{details[6].description}}</dvi>


  </div>
    
   
  <button  class="ask-expert"><a href="#/app/ask-expert">Ask An Expert</a></button>  
</div>
  </div>
  </ion-content>
</ion-view>
