<ion-nav-buttons side="left" ng-show="false"></ion-nav-buttons>
  <ion-view view-title="Upload Progress Pictures" hide-nav-bar="true">
    <ion-header-bar class="signupHeader newsfeedHeader progPhotosHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

      <article>Edit Progress Photos</article>
      <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
      <!--<button class="button button-clear button-dark" type="submit">Refine</button>-->
    </ion-header-bar>
    <ion-content class="has-header allprogPhotosSack editprogPhotosSack" lazy-scroll>
      <div class="quoteArea onMob">
        <p> {{quote.quote}} <b>{{quote.author}}</b></p>
      </div>
      <div class="allNewsFeedWrap" ng-show="isOnline == true">
        <div class="progressMain">
          <div class="">

              <div class="progPicsSack uploadProgPicSack list animate-fade-slide-in-right">
                <div class="editProgressDate">
                  <label for="editdate" class="editDateLabelProg">Change Date</label>
                  <input type="text" id="editdate" ng-click="openDatePicker();" ng-model="editDate" name="" ng-readonly="true">
                </div>
                <div class="uploadViewHead item">
                  <h3>Front Full View</h3>
                </div>
                <div class="UprogPicsItems item">
                  <img ng-src="{{upload.pic[0]}}" class="img-responsive">
                  <button class="button button-block button-clam ink" ng-click="selectUploadMethod(0)">Upload</button>
                </div>
                <div class="uploadViewHead item">
                  <h3>Left Side View</h3>
                </div>
                <div class="UprogPicsItems item">
                  <img ng-src="{{upload.pic[1]}}" class="img-responsive">
                  <button class="button button-block button-clam ink" ng-click="selectUploadMethod(1)">Upload</button>
                </div>
                <div class="uploadViewHead item">
                  <h3>Right Side View</h3>
                </div>
                <div class="UprogPicsItems item">
                  <img ng-src="{{upload.pic[2]}}" class="img-responsive">
                  <button class="button button-block button-clam ink" ng-click="selectUploadMethod(2)">Upload</button>
                </div>
                <div class="uploadViewHead item">
                  <h3>Back Full View</h3>
                </div>
                <div class="UprogPicsItems item">
                  <img ng-src="{{upload.pic[3]}}" class="img-responsive">
                  <button class="button button-block button-clam ink" ng-click="selectUploadMethod(3)">Upload</button>
                </div>
              </div>
            <div class="uploadProgressPicsActions editProgressPicsAction">
              <div class="uploadCancel">
                <button class="button button-block button-calm ink" ui-sref="app.allProgressPhotos">Cancel</button>
              </div>
              <div class="uploadSubmit">
                <button class="button button-block button-calm ink" ng-click="AddProgressPhoto(progress_id)">Save</button>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="noInternet" ng-show="isOnline == false">
        <img ng-src="img/no-internet.png" class="img-responsive">
      </div>
    </ion-content>
  </ion-view>
