<ion-view view-title="Exercise Detail" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader detailHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

    <article>Exercise Detail</article>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
  </ion-header-bar>
  <ion-content class="has-header workoutDetailSack">
    <div class="loaderBarWrap" ng-show="loaderShow == true">

      <div class="card" >
        <ion-spinner icon="ios"></ion-spinner>
        <div class="downloadText">Downloading Exercise</div>
        <div class="item item-text-wrap">
          <div class="loader" style="width: {{progresss}};">
            <p class="percent">{{progresss}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
         <div class="exerciseDetailWrap">
           <div class="exerciseName workoutMainTitle">
              {{exercise.workout_name}}
           </div>
           <div class="favoriteWorkout">
             <button class="button button-calm button-block" ng-click="favorite(exercise.workout_id)">
               <span class="ion-heart"></span>
             </button>
           </div>
           <div class="workoutDescriptionBottom exerciseDesscriptionBottom">
             <div><span class="ion-chatbox"></span><span>Reviews : {{reviews.length}}</span></div>
             <article><span class="ion-ios-calendar-outline"></span><span>{{exercise.date_created}}</span></article>
             <rating ng-model="rated.rate" max="rated.max" readonly="readOnly"></rating>
           </div>
           <div class="exerciseDetails">
                <div class="workoutDetails ink">
                  <div class="workoutListLabels" ng-repeat="part in exercise.bodyPartName">
                    <span class="label blue" ng-class="{changeTypeColor:!($index % 2)} ">{{part.name}}</span>
                  </div>
                  <div class="workoutListLabels" >
                    <span class="label red" ng-class="{changeGoalColor:!($index % 2)} ">{{exercise.difficulty}}</span>
                  </div>

                  <div class="workoutListLabels" ng-repeat="type in exercise.type">
                    <span class="label orange" ng-class="{changeEquipColor:!($index % 2)} ">{{type.name}}</span>
                  </div>
                </div>
           </div>
           <div class="exerciseVideo" >
             <iframe bgcolor="ffffff" allowfullscreen  id="sampleMovie" preload="metadata" frameborder="0" width="100%" height="200px" ng-src="{{vid_srcc}}" poster='{{baseUrlForWorkoutImg}}{{exercise.workout_thumb}}' controls webkit-playsinline></iframe>
             <!--<video bgcolor="ffffff" allowfullscreen autoplay playsinline id="sampleMovie" frameborder="0" width="100%" height="200px" poster="{{baseUrlForWorkoutImg}}{{exercise.workout_thumb}}" controls webkit-playsinline>-->
               <!--<source ng-src="{{vid_srcc | trusted}}" type="video/mp4"/>-->
             <!--</video>-->
           </div>

           <div class="exerciseDescription" ng-bind-html="exercise.description">

           </div>

           <div class="workoutReviews">
             <h3>Reviews</h3>
             <div class="noReview" ng-show="reviews.length < 1">
               <p>Be the first to write a review</p>
             </div>
             <div class="list reviewInner animate-fade-slide-in-right" ng-repeat="review in reviews">

               <a class="item item-avatar" href="#">
                 <img image-lazy-src="{{siteUrl}}{{review.image}}" alt="workout image" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                 <h2>{{review.user_fname}} {{review.user_lname}}</h2>
                 <p>{{review.message}}</p>
                 <span>{{review.date_created}}</span>
               </a>
             </div>
           </div>
           <div class="list">
             <div class="addExReviewTitle">
               <h3>Submit Your Review</h3>
             </div>
             <form ng-submit="addReview($parent.addReview_username, $parent.addReview_email, $parent.addReview_message)" class="addReview" name="addReviewForm" autocomplete="off" novalidate>
               <div class="reviewName">
                 <input value="" type="text" placeholder="Enter your Name" ng-model="$parent.addReview_username" name="username" ng-required>
               </div>
               <div class="reviewName">
                 <input value="" type="email" placeholder="Enter Email" ng-model="$parent.addReview_email" name="email" ng-required>
               </div>
               <div class="reviewName">
                 <textarea value="" placeholder="add Message" ng-model="$parent.addReview_message" name="message" ng-required></textarea>
               </div>
               <div class="reviewStars">
                 <span>Rate this workout </span>
                 <rating ng-model="rating.rate" max="rating.max"></rating>
               </div>
               <div class="submitReview">
                 <button class="button button-calm button-block" type="submit">Submit Your Review</button>
               </div>
             </form>
           </div>
           <div class="suggestedWorkouts">
             <div class="suggHead">
               <h3>Suggested Workouts</h3>
             </div>
             <div class="suggWorkoutsInner">
               <ion-slide-box does-continue="true" auto-play="true" on-slide-changed="slideHasChanged($index)">
                 <ion-slide ng-repeat = "suggWorkout in suggestedWorkouts">
                   <div class="box suggSlide">
                     <div class="suggImg">
                       <img ng-src="{{baseUrlForWorkoutPoster}}{{suggWorkout.image}}" class="img-responsive">
                     </div>
                     <div class="suggWorkoutDetails">
                       <h4>{{suggWorkout.name}}</h4>
                       <span class="dateCreated">{{suggWorkout.date_created}}</span>
                     </div>
                     <div class="suggToWorkoutDetail">
                       <a ui-sref="app.workoutDetailMain({cid: {{suggWorkout.cid}}})">
                         <button class="button button-clear"><span class="ion-play"></span></button>
                       </a>

                     </div>
                   </div>

                 </ion-slide>
               </ion-slide-box>
             </div>
           </div>
         </div>
    <!--<div class="noInternet" ng-show="isOnline == false">-->
      <!--<img ng-src="img/no-internet.png" class="img-responsive">-->
    <!--</div>-->
  </ion-content>
</ion-view>
