<ion-view view-title="FeedBack" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader myStatsHeaderBar suggestionHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
    <article>Your feedback is important to us!</article>
    <span class="ion-ios-bell notifications" ng-class="green" ui-sref="app.notifications"><i>{{notificationFull[0].count}}</i></span>
    <!--<button class="button ion-funnel button-clear button-dark" type="submit" ng-click="showPopup()"></button>-->
    <!--<span class="ion-android-more-vertical moreIcon ink" ng-click="popover.show($event)"></span>-->
    <!--<span class="ion-plus-circled" ng-click="modal.show()"></span>-->
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>

  </ion-header-bar>
  <ion-content class="has-header allWorkoutsStack suggestionStack" lazy-scroll overflow-scroll="true">
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>
    </div>
      <div class="list">
        <form class="suggFormWrap" ng-submit="doSuggest(sugg.fname, sugg.lname, sugg.email, sugg.area, sugg.suggText)" name="suggestionForm" autocomplete="off" novalidate>
          <div class="suggInput">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" ng-model="sugg.fname" ng-required>
          </div>
          <div class="suggInput">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname" ng-model="sugg.lname" ng-required>
          </div>
          <div class="suggInput">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" ng-model="sugg.email" ng-required>
          </div>
          <div class="suggInput">
            <label for="area">Area for Development</label>
            <select name="area" id="area" ng-model="sugg.area" ng-change="sugg.area">
              <option>Dashboard</option>
              <option>Workouts</option>
              <option>Exercises</option>
              <option>Friends</option>
              <option>My Stats</option>
              <option>Other</option>
            </select>
          </div>
          <div class="suggInput">
            <label for="suggestion">Feedback</label>
            <textarea name="suggestion" id="suggestion" cols="30" rows="5" ng-model="sugg.suggText"></textarea>
          </div>
          <div class="suggFormActions">
            <div class="suggCancel">
              <button class="button button-calm" type="button" ui-sref="app.home">Cancel</button>
            </div>
            <div class="suggSubmit">
              <button class="button button-calm" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
  </ion-content>
</ion-view>
