<ion-view name="Find Friends" title="Find Friends">
  <ion-content class="findFriendContentWrap" lazy-scroll overflow-scroll="true">
    <div class="container" ng-show="isOnline == true">
      <div class="workoutSearch findFriendSack">
        <form class="findFriendForm" ng-submit="searchFriend(friendSearch.text)" name="findFriendForm" autocomplete="off" novalidate >
          <div class="findFriendFormInner">
            <input placeholder="Search" type="text" ng-model="friendSearch.text" ng-change="change(friendSearch.text)">
            <button class="button button-flat" ng-show="showSearchIcon == true" type="submit"><span class="ion-ios-search-strong"></span></button>
            <button class="button button-flat" ng-show="showSearchIcon == false" type="button" ng-click="emptySearch(friendSearch.text);"><span class="ion-ios-close-empty"></span></button>
          </div>
          <button class="button button-calm FindFriendBtn" type="submit">Search</button>
        </form>
      </div>
      <div class="friendsListInner findFriendListInner list animate-fade-slide-in-right" ng-class="">
        <div class="myFriendsList item ink" ng-repeat="friend in friend" ng-show = "noResultFound === false">
          <div class="myFriendUpper">
            <div class="friendsThumb">
              <img image-lazy-src="{{friend.image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
            </div>
            <div class="friendDetail">
              <div class="friendUserName">
                <a ui-sref="app.userdashboard( {result:friend.user_id})">{{friend.user_fname}} {{friend.user_lname}}</a>
              </div>
              <div class="friendDGP">
                <div class="nameGenderInner">
                  <span>{{friend.user_dob}}</span>
                  <span>{{friend.state}} / {{friend.country}}</span>
                </div>
                <div class="myFriendAction findFriendAction findFriendActionrevised">
                  <div class="unfriend" ng-show="friend.alreadyFriend == 0">
                    <button class="button button-fab button-assertive icon friend-addFriend " ng-click="addFriend(friend.user_id,friendSearch.text)"></button>
                  </div>
                  <div class="unfriend" ng-show="friend.alreadyFriend == 1">
                    <button class="button button-fab button-assertive icon ion-person"></button>
                  </div>
                  <div class="unfriend" ng-show="friend.alreadyFriend == 2">
                    <button class="button button-fab button-assertive icon ion-sad-outline"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="noContent noContentFlex" ng-show="noResultFound === true">
          <img src="img/no-friend-show.png" alt="">
        </div>
        <div class="noContent noContentFlex" ng-show="noResultFound === 0">
          <p><a ng-click="modal.show();">Use the search bar above to search for your friends or invite friends to join you on Fitness Base Camp.</a></p>
          <div class="inviteFriendCall">
            <button class="button button-calm button-block" type="button" ng-click="modal.show();">Invite Friends</button>
          </div>
        </div>
      </div>

    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Type email address of your friend to whom you want to recommend</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack notificationSackWrap">
          <form name="inviteFriendForm" id="inviteFriendForm" ng-submit="inviteFriend(inviteEmail);" novalidate autocomplete="off">
            <div class="list">
              <div class="inviteWrap">
                <h3>ENTER EMAIL OF YOUR FRIEND</h3>
              </div>
              <div class="inviteEmail">
                <input type="email" name="inviteEmail" id="inviteEmail" ng-model="inviteEmail" ng-required="true">
              </div>
              <div class="suggFormActions inviteFriendActions">
                <div class="suggCancel">
                  <button class="button button-calm" type="button" ng-click="modal.hide()">Close</button>
                </div>
                <div class="suggSubmit">
                  <button class="button button-calm" type="submit" ng-disabled="inviteFriendForm.$invalid">Share</button>
                </div>
              </div>
            </div>
          </form>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
