<ion-side-menus enable-menu-with-back-views="false">
<ion-nav-buttons side="left"></ion-nav-buttons>
<ion-view view-title="Forgot" hide-nav-bar="true">
  <ion-content class="loginSack" has-header="false">
    <div class="row loginLogoRow">
      <div class="col col-70">
        <div class="loginLogo">
          <img src="img/logo-fbc.png" alt="" class="img-responsive"></div>
      </div>
    </div>
    <form ng-submit="forgotPAssword(forgotEmail.username)" class="loginFormSack" name="forgotForm">
    <div class="row flexWrap">
      <div class="col col-100">
        <label class="item item-input item-floating-label enterPhone">
                  <span class="input-label">Email</span>
                  <!-- <i class="icon ion-iphone phoneIcon"></i> -->
                  <input type="email" placeholder="Email" ng-model="forgotEmail.username" name="username" ng-required>
                </label>
      </div>

    </div>
    <div class="row flexWrap">
      <div class="col col-100 loginBtn">
        <button class="button button-flat button-calm button-block" type="submit">Save</button>

      </div>
    </div>
    </form>
  </ion-content>
</ion-view>
