<div class="friendsListInner allFriendsListInner list" ng-show="isOnline == true">
  <div class="myFriendsList item ink" ng-repeat="friend in pendingFriends | filter:frndxsearch">
    <div class="myFriendUpper">
      <div class="friendsThumb">
        <img image-lazy-src="{{friend.image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
      </div>
      <div class="friendDetail">
        <div class="friendUserName">
          <a ui-sref="app.userdashboard( {result:friend.user_id})">{{friend.user_fname}}</a>
        </div>
        <div class="friendDGP">
          <div class="nameGenderInner">
            <span>Dob:{{friend.user_dob}}</span>
            <span>Gender:{{friend.gender}}</span>
            <span>Points:{{friend.points}}</span>
          </div>
          <div class="myFriendAction">
            <div class="unfriend">
              <button class="button button-fab button-assertive icon friend-addFriend" ng-click="acceptFriend(friend.friend_id,friend.user_id)"></button>
            </div>
            <!--<div class="message">-->
            <!--<button class="button button-flat button-block ink" type="submit"><span class="ion-android-mail"></span>Message</button>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="noContent noContentFlex" ng-hide="pendingFriends.length > 0">
    <img src="img/no-friend-show.png" alt="">
  </div>
</div>
<div class="noInternet" ng-show="isOnline == false">
  <img ng-src="img/no-internet.png" class="img-responsive">
</div>
