<ion-view view-title="Friends" hide-nav-bar="true">
  <ion-header-bar class="signupHeader friendsHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

    <article>My Friends</article>
    <span class="ion-ios-bell notifications" ng-class="green" ui-sref="app.notifications"><i>{{notificationFull[0].count}}</i></span>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
    <!--<span class="ion-android-more-vertical moreIcon"></span>-->
  </ion-header-bar>
  <div class="quoteArea friends onMob">
    <p> {{quote.quote}} <b>{{quote.author}}</b></p>

  </div>
  <div class="expireWrap friendsPage" ng-click="expired()" ng-show = "packageExpired === 1"></div>
    <ion-tabs class="tabs-striped tabs-top topTabNav" ng-class="{active: $state.includes('inbox')}">
      <ion-tab title="Activities" icon-on="icon-appactivities-icon" icon-off="icon-appactivities-icon" ui-sref="app.friends.activities" on-select="tabChange()">
        <ion-nav-view name="activities"></ion-nav-view>
      </ion-tab>
      <ion-tab title="My Friends" icon-on="icon-appusers" icon-off="icon-appusers" ui-sref="app.friends.myFriends">
        <ion-nav-view name="myFriends"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Find Friends" icon-on="icon-appfind-friends-blck-icon" icon-off="icon-appfind-friends-blck-icon" ui-sref="app.friends.fFriends">
        <ion-nav-view name="fFriends"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Inbox" icon-on="ion-email" icon-off="ion-email" ui-sref="app.friends.inbox" ui-sref-active="inboxTab">
        <ion-nav-view name="inbox"></ion-nav-view>
      </ion-tab>
    </ion-tabs>

</ion-view>
