<ion-view view-title="Dashboard" hide-nav-bar="true">
  <ion-header-bar class="dashboardHeader homeHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">


            <div class="dashHeadLogo item">
              <img ion-img-cache ng-src="img/dashHeadLogo.png" class="img-responsive">
            </div>
    <!--<span class="fa fa-lightbulb-o suggestions" ng-click="modal2.show()"></span>-->
    <span class="ion-ios-bell notifications" ng-class="green" ng-click="openModal(1); changeColor()"><i>{{notificationFull[0].count}}</i></span>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>

    <!--<a class="userHeadThumb" ui-sref="app.profile">-->
              <!--<img ng-src="{{userImg}}" class="img-responsive">-->
            <!--</a>-->
  </ion-header-bar>

  <ion-content class="DashboardSack" has-header="true" lazy-scroll overflow-scroll="false">
    <div class="expireWrap" ng-class="{noExpireWrap : packageExpired !== 1}" ng-click="expired()" ng-show = "packageExpired === 1"></div>
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
      <div class="quoteArea onMob">
        <p> {{quote.quote}} <b>{{quote.author}}</b></p>

      </div>
      <!-- Ionic refresher end -->
      <div class="startWorkout">
        <a class="button button-primary stWrktBtn" ui-sref="app.startWorkout">Start a Workout</a>
      </div>
      <!--<button class="button button-calm button-block" ng-click="Download()">download</button>-->
      <div class="HomeTop">
        <div class="actiityUltimateWrap">
          <div class="actiityUltimateWrapInner">
            <form ng-submit="postStatus()" name="loginForm" autocomplete="off" novalidate>
              <div class="row">
                <div class="col col-100 topPostStatusHead">
                  <h2>Fitness Status</h2>
                  <div class="updateStatus">
                    <div class="userImg">
                      <img ion-img-cache ng-src="{{postingImage}}" class="img-responsive" fancyboxable>
                    </div>
                    <div class="updateStTextBox">
                      <!--<input type="text" ng-model="status.text">-->
                      <textarea rows="1" class="animateTextArea msd-elastic: \n;" ng-class="urlPreviewClass" ng-model="status.text" ng-change="postEntering(status.text)" ng-required="true"></textarea>
                      <a class="ion-camera" ng-click="selectUploadMethod()" ng-class="inArray('Upload Photos To Activity Feed')"></a>
                      <a ng-click="clicked(urlPreview.url)" class="urlPreviewWrap" ng-show="showUrlPreview">
                        <div class="urlPreviewImg" ng-hide="urlPreview.site_url === ''">
                          <img ng-src="{{urlPreview.images}}" class="img-responsive">
                        </div>
                        <div class="urlPreviewDetails" ng-hide="urlPreview.site_url === ''">
                          <div class="urlPreviewTitle">
                            <span ng-bind-html="urlPreview.title"></span>
                          </div>
                          <!--<div class="urlPreviewDesc">-->
                          <!--<span>{{urlPreview.description}}</span>-->
                          <!--</div>-->
                          <div class="urlPreviewUrl">
                            <span>{{urlPreview.site_url}}</span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="updatePostBtn">
                      <button class="button-flat" type="submit">POST</button>
                    </div>

                    <div class="upLoadPostImage" ng-class="{hide: status.postImage=={}}">
                      <div class="status-imgs" ng-repeat="image in postImage">
                        <button class="ion-android-close ink button button-flat" ng-click="removeStatusIMG($index)" type="button"></button>
                        <img ion-img-cache ng-src="{{image}}" class="img-responsive" fancyboxable>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <main class="activitySection">

              <!--<input id="tab2" type="radio" name="tabs"  ng-checked="checked" checked>-->
              <!--<label for="tab2">Activity Feed</label>-->

              <section id="content2">
                <div class="activitySackLoop" ng-show="getFriendsActivity != ''">
                  <div class="myActivityHead">
                    <form ng-submit="editPost(getFriendsActivity.id, getFriendsActivity.edit_status, getFriendsActivity.edit_status_images)" name="loginForm" autocomplete="off" novalidate>
                      <div class="activityHeadInner">
                        <a class="userImg" ng-href="{{siteUrl}}{{getFriendsActivity.image}}" fancyboxable>
                          <img ng-src="{{siteUrl}}{{getFriendsActivity.image}}" class="img-responsive" >
                        </a>
                        <div class="userstatusInfo">
                          <div class="userstatusInfoUpper">
                            <a ui-sref="app.userdashboard( {result:getFriendsActivity.user_id})" class="userName" ng-bind-html="(getFriendsActivity.user_fname)+(getFriendsActivity.user_lname)"></a>
                            <span ng-class="completedF"><a class="stLikes" ng-class="{true: 'noClose'}[getFriendsActivity.user_posted != userData.user_id]" ng-click="like(getFriendsActivity.id,'FrndsActivity')">Likes<span class="ion-ios-heart"></span>{{getFriendsActivity.likes}}</a></span>
                            <span class="stDate">{{getFriendsActivity.date_created}}</span>
                            <span ng-hide="editingPost[1]" class="postEdit" ng-class="completedF">
                              <button class="button button-flat editPost" type="button" ng-show="getFriendsActivity.user_posted == userData.user_id" ng-click="editingPost[1] = true"><span class="icon-appedit"></span></button>
                              <button class="button button-flat removePost" type="button" ng-show="getFriendsActivity.user_posted == userData.user_id" ng-click="removePost(getFriendsActivity.id)"><span class="ion-ios-close-empty"></span></button>
                            </span>
                            </div>
                          <div class="userstatusInfoBottom">
                            <div class="statusText">
                              <input type="checkbox" id="showMoreEX" name="showMoreEX">
                              <label for="showMoreEX">
                                <p ng-bind-html="getFriendsActivity.status"></p>
                              </label>
                              <a ng-click="clicked(urlPreviewPosted[0].url)" class="urlPreviewWrap" ng-show="urlPreviewPosted.length > 0">
                                <div class="urlPreviewImg" ng-hide="urlPreviewPosted[0].site_url === ''">
                                  <img ng-src="{{urlPreviewPosted[0].image_url}}" class="img-responsive">
                                </div>
                                <div class="urlPreviewDetails" ng-hide="urlPreviewPosted[0].site_url === ''">
                                  <div class="urlPreviewTitle">
                                    <span ng-bind-html="urlPreviewPosted[0].title"></span>
                                  </div>
                                  <!--<div class="urlPreviewDesc">-->
                                  <!--<span>{{urlPreview.description}}</span>-->
                                  <!--</div>-->
                                  <div class="urlPreviewUrl">
                                    <span>{{urlPreviewPosted[0].site_url}}</span>
                                  </div>
                                </div>
                              </a>
                            </div>
                            <div class="statusImagesWrap">
                              <a class="statusImages" ng-href="{{siteUrl}}uploads/status_images/{{images.image}}" ng-repeat="images in getFriendsActivity.status_images" fancyboxable>
                                <img ion-img-cache ng-src="{{siteUrl}}uploads/status_images/{{images.image}}" ng-class="$index" alt="" class="img-responsive">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--edit post box-->
                      <div class="row padding-0 editPostWrapper" ng-show="editingPost[1]">
                        <div class="padding-0 col col-100 topPostStatusHead">
                          <div class="updateStatus">
                            <div class="userImg">
                              <img ion-img-cache ng-src="{{userImg}}" class="img-responsive" fancyboxable>
                            </div>
                            <div class="updateStTextBox">
                              <!--<input type="text" ng-model="getFriendsActivity.edit_status">-->
                              <textarea rows="1" class="animateTextArea msd-elastic: \n;" ng-class="editurlPreviewClass" ng-model="getFriendsActivity.edit_status" ng-change="postEntering(getFriendsActivity.edit_status, 1)"></textarea>
                              <a class="ion-camera" ng-click="selectUploadMethodPostEdit()" ng-class="inArray('Upload Photos To Activity Feed')"></a>
                              <a ng-click="clicked(editurlPreview.url)" class="urlPreviewWrap" ng-show="editshowUrlPreview">
                                <div class="urlPreviewImg" ng-hide="editurlPreview.site_url === ''">
                                  <img ng-src="{{editurlPreview.images}}" class="img-responsive">
                                </div>
                                <div class="urlPreviewDetails" ng-hide="editurlPreview.site_url === ''">
                                  <div class="urlPreviewTitle">
                                    <span ng-bind-html="editurlPreview.title"></span>
                                  </div>
                                  <!--<div class="urlPreviewDesc">-->
                                  <!--<span>{{urlPreview.description}}</span>-->
                                  <!--</div>-->
                                  <div class="urlPreviewUrl">
                                    <span>{{editurlPreview.site_url}}</span>
                                  </div>
                                </div>
                              </a>
                            </div>
                            <div class="statusImagesWrap">
                              <a class="statusImages" ng-href="{{siteUrl}}uploads/status_images/{{images.image}}" ng-repeat="images in getFriendsActivity.status_images" fancyboxable>
                                <img ion-img-cache ng-src="{{siteUrl}}uploads/status_images/{{images.image}}" ng-class="$index" alt="" class="img-responsive">
                              </a>
                            </div>
                            <div class="updatePostBtn editPostBtns">
                              <a class="button-flat" ng-click="editingPost[1] = false">Cancel</a>
                              <button class="button-flat" type="submit" ng-click="editingPost[1] = false">POST</button>
                            </div>
                            <div class="upLoadPostImage" ng-class="{hide: status.postImage=={}}">
                              <div class="status-imgs" ng-repeat="image in edit_status_images">
                                <button class="ion-android-close ink button button-flat" ng-click="removeStatusIMG($index)" type="button"></button>
                                <img ion-img-cache ng-src="{{image}}" class="img-responsive" fancyboxable>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>


                  <div class="commentHead">
                    <div class="commentIcon">
                      <span class="ion-ios-chatbubble"></span><span>Comments</span>
                    </div>
                    <div class="socialIcons">
                      <!--  <a class="ion-social-facebook-outline" ng-click="screenshotFacebook()"></a>
                       <a class="ion-social-instagram-outline" ng-click="screenshotInstagram()"></a>
                       <a class="ion-social-twitter-outline" ng-click="screenshotTwitter()"></a> -->
                    </div>

                  </div>

                  <div class="commentTopMainSack">
                    <div class="commentMainSack">
                      <div class="userComments" ng-repeat="comment in getFriendsActivity.comments">

                        <!--start edit comment-->


                        <form ng-submit="editComment(comment.id, comment.status_id, comment.edit_comment)" name="loginForm" autocomplete="off" novalidate>
                          <div class="commentMain">

              <span ng-hide="editing[1]" class="commentEdit">
                <a ng-show="comment.user_id == userData.user_id" ng-click="editing[1] = true" class="icon-appedit editComment button-flat ink button"></a>
                <a ng-show="comment.user_id == userData.user_id" ng-click="removeComment(comment.id, comment.status_id)" class="ion-ios-close-empty removeComment button-flat ink button"></a>
              </span>
                            <a class="commentingUserImg" ui-sref="app.userdashboard( {result:comment.user_id})">
                              <img ion-img-cache ng-src="{{siteUrl}}{{comment.userimg}}" fancyboxable alt="" class="img-responsive">
                            </a>
                            <div class="commentText ">
                              <div class="commentingUserName">
                                <a ui-sref="app.userdashboard( {result:comment.user_id})">{{comment.full_name}}</a>
                                <span>{{comment.date_time}}</span>
                              </div>
                              <div class="commentingData">
                                {{comment.comment}}
                              </div>
                              <div class="userstatusInfoBottom">
                                <a ng-click="clicked(comment.comment_status_url[0].url)" class="urlPreviewWrap" ng-show="comment.comment_status_url.length > 0">
                                  <div class="urlPreviewImg" ng-hide="comment.comment_status_url[0].site_url === ''">
                                    <img ng-src="{{comment.comment_status_url[0].image_url}}" class="img-responsive">
                                  </div>
                                  <div class="urlPreviewDetails" ng-hide="comment.comment_status_url[0].site_url === ''">
                                    <div class="urlPreviewTitle">
                                      <span ng-bind-html="comment.comment_status_url[0].title"></span>
                                    </div>
                                    <!--<div class="urlPreviewDesc">-->
                                    <!--<span>{{urlPreview.description}}</span>-->
                                    <!--</div>-->
                                    <div class="urlPreviewUrl">
                                      <span>{{comment.comment_status_url[0].site_url}}</span>
                                    </div>
                                  </div>
                                </a>
                              </div>

                            </div>
                            <div class="commentImagesWrapper">
                              <a class="commentImages" ng-repeat="images in comment.comment_images" ng-href="{{siteUrl}}uploads/comment_images/{{images.image}}" fancyboxable>
                                <img ion-img-cache ng-src="{{siteUrl}}uploads/comment_images/{{images.image}}" alt="" class="img-responsive">
                              </a>
                            </div>
                          </div>
                          <div class="row add-comment-box" ng-show="editing[1]">
                            <div class="col col-100 addCommentBoxCol">
                              <div class="updateStatus commentBoxPost">
                                <div class="userImg">
                                  <img ion-img-cache ng-src="{{userImg}}" fancyboxable class="img-responsive" >
                                </div>
                                <div class="updateStTextBox editStTextBox">
                                  <!--<input type="text" ng-model="comment.edit_comment">-->
                                  <textarea rows="1" class="animateTextArea smallanimateTextArea msd-elastic" ng-model="comment.edit_comment" ng-class="editCommenturlPreviewClass" ng-change="postEntering(comment.edit_comment, 1, true)"></textarea>
                                  <a class="ion-camera" ng-click="selectUploadMethodCommentEdit()"></a>
                                  <a ng-click="clicked(editurlPreview.url)" class="urlPreviewWrap" ng-show="editshowCommentUrlPreview">
                                    <div class="urlPreviewImg" ng-hide="editurlPreview.site_url === ''">
                                      <img ng-src="{{editurlPreview.images}}" class="img-responsive">
                                    </div>
                                    <div class="urlPreviewDetails" ng-hide="editurlPreview.site_url === ''">
                                      <div class="urlPreviewTitle">
                                        <span ng-bind-html="editurlPreview.title"></span>
                                      </div>
                                      <!--<div class="urlPreviewDesc">-->
                                      <!--<span>{{urlPreview.description}}</span>-->
                                      <!--</div>-->
                                      <div class="urlPreviewUrl">
                                        <span>{{editurlPreview.site_url}}</span>
                                      </div>
                                    </div>
                                  </a>
                                </div>
                                <div class="commentImagesWrapper">
                                  <div class="commentImages" ng-repeat="images in comment.edit_comment_images">
                                    <img ion-img-cache ng-src="{{siteUrl}}uploads/comment_images/{{images.image}}" fancyboxable alt="" class="img-responsive">
                                  </div>
                                </div>
                                <div class="updatePostBtn updateEditCommentBtn">
                                  <a class="button-flat" type="button" ng-click="editing[1] = false">Cancel</a>
                                  <button class="button-flat" type="submit" ng-click="editing[1] = false">Post</button>
                                </div>
                                <div class="upLoadPostImage" ng-class="{hide: status.commentImage=={}}">
                                  <div class="status-imgs" ng-repeat="image in edit_comment_images">
                                    <button class="ion-android-close ink button button-flat" ng-click="removeCommentIMG($index)" type="button"></button>
                                    <img ion-img-cache ng-src="{{image}}" fancyboxable class="img-responsive">
                                  </div>
                                </div>
                              </div>

                            </div>

                          </div>

                        </form>
                        <!--end edit comment-->
                      </div>
                    </div>


                    <div class="row add-comment-box">
                      <div class="col col-100 addCommentBoxCol">
                        <form ng-submit="postComment(getFriendsActivity.id,'friendsActivity')" name="loginForm" autocomplete="off" novalidate>
                          <div class="updateStatus commentBoxPost">
                            <a class="userImg" ng-href="{{userImg}}" fancyboxable>
                              <img ion-img-cache ng-src="{{userImg}}" class="img-responsive">
                            </a>
                            <div class="updateStTextBox">
                              <!--<input type="text" ng-model="comment.text">-->
                              <textarea rows="1" class="animateTextArea smallanimateTextArea msd-elastic" ng-model="comment.text"  ng-class="urlCommentPreviewClass"  ng-change="postEntering(comment.text, 0 , true)"></textarea>
                              <a class="ion-camera" ng-click="selectUploadMethodComment()"></a>
                              <a ng-click="clicked(urlPreview.url)" class="urlPreviewWrap" ng-show="showCommentUrlPreview">
                                <div class="urlPreviewImg" ng-hide="urlPreview.site_url === ''">
                                  <img ng-src="{{urlPreview.images}}" class="img-responsive">
                                </div>
                                <div class="urlPreviewDetails" ng-hide="urlPreview.site_url === ''">
                                  <div class="urlPreviewTitle">
                                    <span ng-bind-html="urlPreview.title"></span>
                                  </div>
                                  <!--<div class="urlPreviewDesc">-->
                                  <!--<span>{{urlPreview.description}}</span>-->
                                  <!--</div>-->
                                  <div class="urlPreviewUrl">
                                    <span>{{urlPreview.site_url}}</span>
                                  </div>
                                </div>
                              </a>
                            </div>
                            <div class="updatePostBtn">
                              <button class="button-flat" type="submit">Post</button>
                            </div>
                            <div class="upLoadPostImage" ng-class="{hide: status.commentImage=={}}">
                              <div class="status-imgs" ng-repeat="image in commentImage">
                                <button class="ion-android-close ink button button-flat" ng-click="removeCommentIMG($index)" type="button"></button>
                                <img ion-img-cache ng-src="{{image}}" fancyboxable class="img-responsive">
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="viewAllMyActivities">
                    <button class="button button-flat" ui-sref="app.friends.activities">View All activities</button>
                  </div>
                </div>
                <div class="noContent" ng-show="getFriendsActivity == ''">
                  <p> Make your first comment, see what friends are posting as well as what workouts they have been doing.</p>
                </div>
              </section>
            </main>
          </div>
        </div>


        <div class="row flexWrap FriendsListSack">
          <div class="col col-100">
            <div class="friendsListInner">
              <div class="friendsListHead">
                <h2>Friends</h2>
                <button ng-click="viewAllFriends()" ng-show="friendsList.length > 0">View All</button>
              </div>
              <div class="friendsListItems" ng-repeat="friend in friendsList" ng-show="friendsList.length > 0">
                <div class="circleThumb">
                  <a ng-click="userdashboard(friend.user_id)">
                    <img ion-img-cache ng-src="{{siteUrl}}{{friend.image}}" class="img-responsive">
                  </a>
                </div>
                <span>{{friend.user_fname}}</span>
              </div>
              <div class="noContent" ng-hide="friendsList.length > 0">
                <p><a ui-sref="app.friends.fFriends">Search for Friends on Fitness Base Camp or Invite a friend to join Fitness Base Camp.</a></p>
              </div>
            </div>
          </div>
        </div>



        <div class="myGraphChartwrap">
          <div class="myGraphChartwrapInner">
            <div class="myGraphChartHead">
              <h2>My Charts</h2>
              <a ui-sref="app.stats">View All</a>
              <!--<a class="shareIcon" ng-click="shareStat()"><article>Share</article><article class="ion-android-share"></article></a>-->
            </div>
            <div class="noContent" ng-show="my_graph.x_axis === 'n' && my_graph.y_axis.length === 0 ">
              <p><a ui-sref="app.stats">Update your body measurements in the My Stats section.</a></p>
            </div>
            <div class="calorieChartWrapSack" ng-show="my_graph.x_axis.length !== 0 && my_graph.y_axis.length !== 0">
              <highchart id="chart2" config="chartConfig2"></highchart>
            </div>
          </div>

        </div>


        <div class="row flexWrap">
          <div class="col col-100">
            <div class="newsFeedWrap">
              <div class="newsFeedHead">
                <h2>News Feed</h2>
                <button ng-click="viewAllNews()">View All</button>
              </div>
              <a class="newsFeedMain ink" ng-repeat="news in newsFeed" ng-click="newsDetail($index)">
                <div class="newsThumb">
                  <img ion-img-cache ng-src="{{news.image}}" alt="" class="img-responsive">
                </div>
                <div class="newsText">
                  <span>{{news.feed}}</span>
                  <span class="newsDate">{{news.show_to}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="row flexWrap">
          <div class="col col-100">
            <div class="progressPics">
              <div class="progressHead">
                <h2>Progress Photos</h2>
                <button ng-click="viewAllPP()" ng-show="userProgressPhotos.length > 0">View All</button>
                <button ui-sref="app.uploadProgressPics" ng-class="inArray('Add Progress Photos')" ng-show="userProgressPhotos.length > 0"><span class="ion-plus"></span></button>
                <a class="shareIconProg" ng-click="shareProg()" ng-show="userProgressPhotos.length > 0"><article class="ion-android-share"></article></a>
              </div>
              <div class="noContent" ng-hide="userProgressPhotos.length > 0">
                <p><a ui-sref="app.allProgressPhotos" ng-class="inArray('Add Progress Photos')">See real progress by making photos of yourself and uploading them here.</a></p>

              </div>
              <div class="progressMain" ng-repeat="item in userProgressPhotos" ng-show="userProgressPhotos.length > 0">
                <div class="hideOnApp">
                  <div class="shareMessage">
                    <span>Checkout my progress photos on Fitness Base Camp</span>
                    <span><img ng-src="http://www.fitnessbasecamp.com/frontend/img/logo.png" class="img-responsive"></span>
                  </div>
                </div>
                <div class="progDate">
                  <span>{{item.date_created}}</span>
                </div>
                <div class="progPicsSack">
                  <a rel="example_group{{$index}}" class="progPicsItems" href="{{siteUrl}}{{item.p_1}}" fancyboxable>
                    <img ion-img-cache ng-src="{{siteUrl}}{{item.p_1}}"  class="img-responsive">
                  </a>
                  <a rel="example_group{{$index}}" class="progPicsItems" href="{{siteUrl}}{{item.p_2}}" fancyboxable>
                    <img ion-img-cache ng-src="{{siteUrl}}{{item.p_2}}"  class="img-responsive">
                  </a>
                  <a rel="example_group{{$index}}" class="progPicsItems" href="{{siteUrl}}{{item.p_3}}" fancyboxable>
                    <img ion-img-cache ng-src="{{siteUrl}}{{item.p_3}}"  class="img-responsive">
                  </a>
                  <a rel="example_group{{$index}}" class="progPicsItems"  href="{{siteUrl}}{{item.p_4}}" fancyboxable>
                    <img ion-img-cache ng-src="{{siteUrl}}{{item.p_4}}"  class="img-responsive">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="noInternet" ng-show="isOnline == false">-->
        <!--<img ng-src="img/no-internet.png" class="img-responsive">-->
      <!--</div>-->
      <!--<script id="templates/crop.html" type="text/ng-template">-->
        <!--<ion-modal-view>-->
          <!--<ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">-->
            <!--<button class="button button-clear button-primary btnDoneCrop" ng-click="finishCrop()">Done Crop</button>-->
            <!--<h1 class="title">Edit Picture</h1>-->
            <!--<button class="button button-clear button-primary" ng-click="closeModal(2)">Cancel</button>-->
          <!--</ion-header-bar>-->
          <!--<ion-content class="padding workoutRefineSack notificationSackWrap">-->
            <!--<div class="cropImgWrap" ng-if="imageURI != null">-->
              <!--<img id="cropImg" ng-src="{{imageURI}}" class="img-responsive">-->
            <!--</div>-->
          <!--</ion-content>-->
        <!--</ion-modal-view>-->
      <!--</script>-->
      <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
            <h1 class="title">Notifications</h1>
            <button class="button button-clear button-primary" ng-click="closeModal(1)">Cancel</button>
          </ion-header-bar>
          <ion-content class="padding workoutRefineSack notificationSackWrap">
            <!--<div class="list">-->
              <!--<div class="notificationWrap">-->
                <!--<div class="noNotifications" ng-show="notificationFull.length < 1">-->
                  <!--<p>No Notifications Found</p>-->
                <!--</div>-->
                <!--<a class="notiText" ng-class="{unread: noti.status == '1'}" ng-click="closeModal()" ng-repeat="noti in notificationFull" ui-sref="app.singlePost({cid: {{noti.status_id}}, did : {{noti.id}}})">-->
                  <!--<span>{{noti.messages}}</span>-->
                  <!--<span>{{noti.date_time}}</span>-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->
            <div class="list">
              <div class="noNotifications" ng-show="notificationFull.length < 1">
                <p>No Notifications Found</p>
              </div>
              <a class="item item-avatar itemNotification" ng-class="{unread: noti.status == '1'}" ng-repeat="noti in notificationFull track by $index" ng-click="moveNotification($index)">
                <img ion-img-cache ng-src="{{siteUrl}}{{noti.posted_by}}">
                <h2>{{noti.messages}}</h2>
                <p>{{noti.date_time}}</p>
              </a>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>
      <script id="templates/newUser.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar class="workoutsHeader workoutRefineHeader newUserStatsSack bar-assertive bar bar-header disable-user-behavior" align-title="center">
            <h1 class="title">Please enter your measurements.</h1>
          </ion-header-bar>
          <ion-content class="padding workoutRefineSack newUserStatsSack" overflow-scroll="true">
            <div class="list">
              <form class="newUserStat" ng-submit="freshStats(newuser.heightf, newuser.heighti, newuser.weight, newuser.waist, newuser.chest, newuser.shoulder, newuser.arms, newuser.hips, newuser.thighs, newuser.calves, newuser.neck)" name="addnewUserStat" autocomplete="off" novalidate>
                <div class="suggInput heightInputs">
                  <label for="cheight">Current Height</label>
                  <div class="cHeightInner">
                    <input type="number" placeholder="0" id="cheight" name="cheight" ng-model="newuser.heightf" ng-required>
                    <span>{{statHeight}}</span>
                  </div>
                  <div class="cHeightInner">
                    <input type="number" placeholder="0" id="cheighticnh" name="cheighticnh" ng-model="newuser.heighti" ng-required>
                    <span>{{statLength}}</span>
                  </div>
                </div>
                <div class="suggInput">
                  <label for="cweight">Current Weight</label>
                  <div class="cHeightInner">
                    <input type="number" placeholder="0" id="cweight" name="cweight" ng-model="newuser.weight" ng-required>
                    <span>{{statWeight}}</span>
                  </div>
                </div>
                <div class="suggInput">
                  <label for="cwaist">Current Waist</label>
                  <div class="cHeightInner">
                    <input type="number" placeholder="0" id="cwaist" name="cwaist" ng-model="newuser.waist" ng-required>
                    <span>{{statLength}}</span>
                  </div>
                </div>
                <div class="suggInput">
                  <label for="chest">Chest</label>
                  <div class="cHeightInner">
                    <input type="number" placeholder="0" id="chest" name="chest" ng-model="newuser.chest" ng-required>
                    <span>{{statLength}}</span>
                  </div>
                </div>
                <div class="suggInput">
                  <label for="Shoulders">Shoulders</label>
                  <div class="cHeightInner">
                    <input type="number" placeholder="0" id="Shoulders" name="Shoulders" ng-model="newuser.shoulder" ng-required>
                    <span>{{statLength}}</span>
                  </div>
                </div>
                <div class="suggInput">
                  <label for="Arms">Arms</label>
                  <div class="cHeightInner">
                    <input type="number" placeholder="0" id="Arms" name="Arms" ng-model="newuser.arms" ng-required>
                    <span>{{statLength}}</span>
                  </div>
                </div>
                <div class="suggInput">
                  <label for="Hips">Hips</label>
                  <div class="cHeightInner">
                    <input type="number" placeholder="0" id="Hips" name="Hips" ng-model="newuser.hips" ng-required>
                    <span>{{statLength}}</span>
                  </div>
                </div>
                <div class="suggInput">
                  <label for="Thighs">Thighs</label>
                  <div class="cHeightInner">
                    <input type="number" placeholder="0" id="Thighs" name="Thighs" ng-model="newuser.thighs" ng-required>
                    <span>{{statLength}}</span>
                  </div>
                </div>
                <div class="suggInput">
                  <label for="Calves">Calves</label>
                  <div class="cHeightInner">
                    <input type="number" placeholder="0" id="Calves" name="Calves" ng-model="newuser.calves" ng-required>
                    <span>{{statLength}}</span>
                  </div>
                </div>
                <div class="suggInput">
                  <label for="Neck">Neck</label>
                  <div class="cHeightInner">
                    <input type="number" placeholder="0" id="Neck" name="Neck" ng-model="newuser.neck" ng-required>
                    <span>{{statLength}}</span>
                  </div>
                </div>
                <div class="suggFormActions">
                  <div class="suggCancel">
                    <button class="button button-calm" type="button" ng-click="skipStat()">Skip</button>
                  </div>
                  <div class="suggSubmit">
                    <button class="button button-calm" type="submit">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>
    <!--Ionic Refresher -->

  </ion-content>
</ion-view>
