<ion-view name="Find Friends" title="Find Friends">
  <ion-content class="findFriendContentWrap inboxWrapper" scroll="true" overflow-scroll="true">
    <div class="container" ng-show="isOnline == true">
      <div class="row flexWrap FriendsListSack">
        <div class="col col-100">
          <div class="workoutSearch findFriendSack inboxInsideSack">
            <iframe ng-src="{{ifr_url}}"  height="85%" width="100%" frameborder="0" style="border:1px solid #c9c9c9;"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
  </ion-content>
</ion-view>
