
<link href="http://www.fitnessbasecamp.com/frontend/css/mobile.css" rel="stylesheet" media='screen and (min-width: 320px) and (max-width: 1025px)' type="text/css" media="all" />
<link type="text/css" rel="stylesheet" href="http://www.fitnessbasecamp.com/frontend/tabata/timer.css" />

<ion-view>
  <ion-content class="has-header intervalTimerWrap" lazy-scroll>
  <!--<iframe ng-show="isOnline == true" width="100%" height="700pxs" ng-src="{{ifr}}" iframe-onload="iframeLoadedCallBack()" ng-model="mani" id="timer_intervar"></iframe>-->







    <!--<script src="http://www.fitnessbasecamp.com/frontend/js/timer.js"></script>-->


    <div class="quoteArea newtimerQuote onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
        <div id="timerContainer" ng-show="isOnline == true">
          <div class="intervalTimerWarning">
            <span>Please Enter Time and Rounds</span>
          </div>
          <div id="timerWrap">
            <span id="timerSound"></span>

            <div id="timerClockWrap">
              <div id="timerClockFrame" class="default">
                <span class="label" id="timerClockFrameLabel"></span>
                <span class="value" id="timerClockFrameValue" style="font-size: 157px;">00:00</span>
              </div>
              <div id="timerCyclesFrame">
                <span class="value" id="timerCyclesFrameValue">00</span>
                <span class="label" id="timerCyclesFrameLabel">Rounds</span>
              </div>
              <div id="timerTabatasFrame" class="hide">
                <span class="value" id="timerTabatasFrameValue">00</span>
                <span class="label" id="timerTabatasFrameLabel">Tabatas</span>
              </div>
            </div>
            <div id="timerControlsWrap">
              <ul id="timerControls">
                <li id="timerSetCycles">
                  <input type="number" class="field" id="timerSetCyclesValue" >
                  <span class="label" id="timerSetCyclesLabel">ROUNDS</span>
                </li>
                <li id="timerSetPrepTime">
                  <input type="hidden" class="field" id="timerSetPrepTimeValue" readonly="">
                  <span class="label" id="timerSetPrepTimeLabel">PREPARE</span>
                  <div class="prepareTimeSlots">
                    <input type="number"  class="timer-control-input tmprptime" value="00" id="prepare_min"  />
                    <span>Minutes</span>
                    <input  type="number"  class="timer-control-input tmprptime" value="00" id="prepare_sec"  />
                    <span>Seconds</span>
                  </div>

                </li>
                <li id="timerSetWorkTime">
                  <input type="hidden" class="field" id="timerSetWorkTimeValue" readonly="">
                  <span class="label" id="timerSetWorkTimeLabel">WORK</span>
                  <div class="prepareTimeSlots">
                    <input type="number"  class="timer-control-input tmwrktime" value="00" id="work_min" ng-blur="cal_work_seconds()" />
                    <span>Minutes</span>
                    <input type="number"  class="timer-control-input tmwrktime" value="00" id="work_sec" ng-blur="cal_work_seconds()" />
                    <span>Seconds</span>
                  </div>


                </li>
                <li id="timerSetRestTime">
                  <input type="hidden" class="field" id="timerSetRestTimeValue" readonly="">
                  <span class="label" id="timerSetRestTimeLabel">REST</span>
                  <div class="prepareTimeSlots">
                    <input type="number"  class="timer-control-input tmrsttime" value="00" id="rest_min" ng-blur="cal_rest_seconds()" />
                    <span>Minutes</span>
                    <input type="number"  class="timer-control-input tmrsttime" value="00" id="rest_sec" ng-blur="cal_rest_seconds()" />
                    <span>Seconds</span>
                  </div>

                </li>

                <!--<li id="timerSetTabatas" class="hide">-->
                  <!--<input type="text" class="field hide" id="timerSetTabatasValue" readonly="">-->
                  <!--<span class="label" id="timerSetTabatasLabel">tabatas</span>-->
                <!--</li>-->
                <li id="timerChangeSettingValue">
                  <a class="timerSmallButton" id="timerDecreaseSettingValue">-</a>
                  <a class="timerSmallButton" id="timerIncreaseSettingValue">+</a>
                </li>
              </ul>
              <div id="timerPresetToolbarSoundOn"><a href="#">Sound: On</a></div>
              <div class="startStopBtns">
                <a class="timerBigButton" id="timerPauseButton" style="display:none;">STOP</a>
                <a class="timerBigButton" id="timerResetButton">RESET</a>
                <a class="timerBigButton" id="timerStartButton">START</a>



              </div>

            </div>
            <div id="timerIndicator">
              <div id="timerIndicatorArrow"></div>
            </div>

          </div>
          <div id="timerLoading"></div>

        </div>


    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
  </ion-content>
</ion-view>
