
<ion-nav-buttons side="left"></ion-nav-buttons>
<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content class="loginSack" has-header="false">
    <div class="row loginLogoRow list animate-fade-slide-in">
      <div class="col col-70">
        <div class="loginLogo item">
          <img src="img/logo-fbc.png" alt="" class="img-responsive"></div>
      </div>
    </div>
    <form ng-submit="doLogin()" class="loginFormSack" name="loginForm" autocomplete="off" novalidate>
    <div class="row flexWrap list animate-fade-slide-in">
      <div class="col col-100 item">
        <label class="item item-input item-floating-label enterPhone">
                  <span class="input-label">Email</span>
                  <!-- <i class="icon ion-iphone phoneIcon"></i> -->
                  <input value="" type="email" placeholder="Email" ng-model="login.username" name="username" ng-required="true">
                </label>
      </div>
      <div class="col col-100 item">
        <label class="item item-input item-floating-label enterPhone">
                  <span class="input-label">Password</span>
                  <!-- <i class="icon ion-iphone phoneIcon"></i> -->
                  <input type="password" placeholder="Password" ng-model="login.password" name="password" ng-required="true">
                </label>
      </div>
      <div class="col col-50 padding-0 item">
        <ion-checkbox class="rememberMe" ng-model="rememberMe.value">Remember me</ion-checkbox>
      </div>
      <div class="col col-50 padding-0 item loginBtn">
        <button class="button button-primary button-block ink" type="submit" ng-disabled="loginForm.$invalid">Login</button>
      </div>
    </div>
    <div class="row flexWrap list animate-fade-slide-in loginBtnWrap">
      <div class="col col-100 loginBtn item">
        <button class="button button-primary button-block ink" type="button" ui-sref="app.selectPackage">Sign Up Today</button>
        <div class="fbook">
          <a ng-click="doFacebookLogin();" id="facebookBtn"><span class="fa fa-facebook"> </span> <label>Sign in with Facebook</label>
            <div class="clear"></div></a>
        </div>

        <div id="status">
        </div>
      </div>
      <!--<div class="col col-100 noAccount item">-->
        <!--<span>No account yet? <a ui-sref="app.selectPackage">Create one</a></span>-->
      <!--</div>-->
    </div>

    <div class="row flexWrap list animate-fade-slide-in">
      <div class="col col-100 forGotLogin item">
        <a ui-sref="app.forgot-password">Forgot your Password?</a>
        <a ui-sref="app.terms-conditions">Terms & Conditions</a>
      </div>
    </div>
      </form>
  </ion-content>
</ion-view>
