<ion-nav-buttons side="left" ng-show="false"></ion-nav-buttons>
<ion-view view-title="Meal / Calorie Logger" hide-nav-bar="true">
  <ion-header-bar class="signupHeader mealLoggerHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
    <article>Meal / Calorie Logger</article>
    <span class="ion-android-more-vertical moreIcon ink" ng-click="popover.show($event)"></span>
  </ion-header-bar>
  <ion-content class="has-header calorieChartSack" lazy-scroll>
    <div class="container" ng-show="isOnline == true">
      <div class="row flexWrap">
        <div class="col col-100 list animate-fade-slide-in-right">
          <div class="calorieChartInner item ink" ng-repeat="meal in mealLogger">
            <div class="CChead">
              <h2>{{meal.date_created}}</h2>
            </div>
            <div class="CCGridTable" ng-repeat="data in meal.log_data">
              <div class="CCkey">
                <p>Diet For</p>
              </div>
              <div class="CCvalue">
                <p>{{data.diet_for}}</p>
              </div>
              <div class="CCkey">
                <p>Food</p>
              </div>
              <div class="CCvalue">
                <p>{{data.food_type}}</p>
              </div>
              <div class="CCkey">
                <p>Amount</p>
              </div>
              <div class="CCvalue">
                <p>{{data.amount}}</p>
              </div>
              <div class="CCkey">
                <p>Calories</p>
              </div>
              <div class="CCvalue">
                <p>{{data.calories}}</p>
              </div>
              <div class="CCkey">
                <p>Fats</p>
              </div>
              <div class="CCvalue">
                <p>{{data.fats}}</p>
              </div>
              <div class="CCkey">
                <p>Proteins</p>
              </div>
              <div class="CCvalue">
                <p>{{data.proteins}}</p>
              </div>
            </div>

          </div>
          <div class="noContent noContentFlex" ng-show="NoResultFound == '402'">
            <img src="img/no-log.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content>
          <div class="list" ng-click="popover.hide()">
            <a class="item" ng-click="modal.show()">
              Add Meal Log
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Add Meal Log</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack">
          <div class="list animate-fade-slide-in-right addNutritionLog">
            <div class="item item-input">
              <label for="foodtype">FOOD TYPE</label>
              <input type="text" name="foodtype" id="foodtype" ng-model="meal.foodtype">
            </div>
            <div class="item item-input">
              <label for="amount">AMOUNT</label>
              <input type="number" name="amount" id="amount" ng-model="meal.amount">
            </div>
            <div class="item item-input">
              <label for="calories">CALORIES</label>
              <input type="number" name="calories" id="calories" ng-model="meal.calories">
            </div>
            <div class="item item-input">
              <label for="fats">FATS</label>
              <input type="number" name="fats" id="fats" ng-model="meal.fats">
            </div>
            <div class="item item-input">
              <label for="proteins">PROTEINS</label>
              <input type="number" name="proteins" id="proteins" ng-model="meal.proteins">
            </div>
            <label class="item item-input">
              <span class="input-label">SELECT MEALTIME</span>
              <select ng-model="meal.mealtime">
                <option value="Breakfast">Breakfast</option>
                <option value="Snack">Snack</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
              </select>
              <!--{{refine.Selectedintensity}}-->
            </label>
            <div class="item item-input">
              <label for="date">Select Date</label>
              <input type="text" id="date" placeholder="" ng-click="openDatePicker();" ng-model="meal.date" name="date" ng-readonly="true">
            </div>
            <button class="button button-flat button-calm button-block ink" ng-click="addMealLog()">Submit</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
  </ion-content>
</ion-view>
