<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable green ">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon white" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar bar-assertive barFitness">
      <div class="fitHeader">
        <a class="userThumb" menu-close ui-sref="app.profile">
          <img ng-src="{{userImg}}" ng-show="userImg == mainImage"  class="img-responsive">
          <img ng-src="{{mainImage}}" ng-show="userImg != mainImage"  class="img-responsive">
        </a>
        <div class="MenuUserInfo">
          <span class="userName">{{username}}</span>
          <!--<span class="userGoal">Hard Work</span>-->
        </div>
        <!--<button class="logoutMenu" ng-click="logout()">-->
          <!--<span class="ion-power"></span>-->
          <!--</button>-->
        <button class="button button-fab button-assertive icon ion-power logoutBtnMEnu" data-ink-color="#c3d737" ng-click="logout()"></button>
        </div>

    </ion-header-bar>
    <ion-content class="menuContent">
      <ion-list class="list">

      <div class="list mainMenu">
       <a class="item" menu-close href="#/app/home"><span class="ion-navicon-round"></span> <span>Dashboard</span> </a>
       <a class="item" menu-close href="#/app/workouts"><span><img src="img/workouts.png" ></span>  <span>Workouts</span> </a>
       <a class="item" menu-close href="#/app/exercises"><span><img src="img/exercises.png" ></span> <span>Exercises</span> </a>
     <!--  <a class="item" menu-close href="#/app/nutrition"><span><img src="img/nutrition.png" ></span> <span>Nutrition</span> </a>-->
       <a class="item" menu-close href="#/app/stats"> <span><img src="img/myStats.png" ></span><span>My Stats</span> </a>
       <a class="item" menu-close ui-sref-active="active" ui-sref="app.friends.activities"> <span><img src="img/friends.png" ></span><span>Friends</span> </a>
       <a class="item" menu-close href="#/app/timer"><span><img src="img/timer.png" ></span><span> Timer</span> </a>
       <a class="item" menu-close href="#/app/allProgressPhotos"><span><img src="img/photos.png" ></span> <span>Progress Photos</span> </a>
       <a class="item" menu-close href="#/app/allNewsFeed"><span><img src="img/news.png" ></span> <span>News</span> </a>
       <a class="item feedback" menu-close href="#/app/Feedback"><span class="fa fa-lightbulb-o suggestions"></span> <span>Feedback</span> </a>
       <a class="item" menu-close href="#/app/contact"><span class="ion-ios-email-outline menuContact"></span><span>Contact Us</span> </a>
      </div>
      <!-- <ion-item class="item" menu-close href="#/app/home">
          DASHBOARD
        </ion-item>
        <ion-item class="item" menu-close href="#/app/common-diseases">
          COMMON DISEASES
        </ion-item>
        <ion-item class="item" menu-close href="#/app/tips-suggestions">
          TIPS & SUGGESTIONS
        </ion-item>
        <ion-item class="item" menu-close href="#/app/ask-expert">
         ASK AN EXPERT
        </ion-item>
        <ion-item class="item" menu-close href="#/app/news-updates">
         NEWS & UPDATES
        </ion-item> -->

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
