<ion-view view-title="Workouts" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader myWorkoutsHeader myExercisesHeadeer bar-assertive bar bar-header disable-user-behavior" align-title="center">

    <article>My Exercises</article>
    <button class="button button-clear headSearchBtn" ng-click="focussearch()"><span class="ion-ios-search-strong" ></span></button>
    <!--<a href="#" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"><span class="ion-ios-list-outline"></span></a>
    <a href="#" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"><span class="ion-grid"></span></a>-->
    <button class="button ion-funnel button-clear button-dark" type="submit" ng-click="modal.show()"></button>
    <a class="ion-heart favIcon" ui-sref="app.FavExercises" target="_blank"></a>
    <!--<span class="ion-android-more-vertical moreIcon ink" ng-click="popover.show($event)"></span>-->
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
  </ion-header-bar>
  <ion-content class="has-header allWorkoutsStack" lazy-scroll overflow-scroll="true">
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
    <div class="container" ng-show="isOnline == true">
      <div class="row">
        <div class="col col-100">
          <div class="workoutSearch hideSearchInput" ng-class="show">
            <input placeholder="Search" type="text"  ng-model="searchStrman.workout_name" id="searchStrman" ng-change="change(searchStrman.workout_name)">
            <span class="ion-ios-search-strong" ng-show="showSearchIcon == true"></span>
            <a class="ion-ios-close-empty" ng-show="showSearchIcon == false" ng-click="emptySearch(searchStrman.workout_name)"></a>
          </div>
          <div class="clear"></div>
          <div class="row">
            <div class="col col-100">
              <div class="workoutActionsMain">
                <div class="workoutActionBtns">
                  <a class="button button-calm" ui-sref="app.addCustomExercise">Add Custom Exercise</a>
                </div>
                <div class="workoutActionBtns">
                  <a class="button button-calm" ui-sref="app.exercises">Exercises</a>
                </div>
              </div>
            </div>
          </div>
          <div class="workoutContainer" ng-show="NoResultFound != '402'">
            <div class="workoutsCount" ng-show="allmyexercises.length > 0">
              <h3>{{allmyexercises.length}} EXERCISES FOUND</h3>
            </div>
            <ul ng-show="layout == 'grid'" class="grid pGrid">
              <li ng-repeat = "workout in myexercises | filter:searchStrman.search" class="item ink">
                <div class="workoutInner">
                  <div class="workoutImg">
                    <img image-lazy-src="{{::workout.video_thumb}}" alt="workout image" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="200">
                  </div>
                  <a class="workoutNP" ui-sref="app.myexerciseDetail({cid: {{workout.wid}}})">
                    <div class="workoutName">
                      <h3>{{::workout.c_name}}</h3>
                    </div>
                    <div class="workoutPlay">
                      <button class="button button-clear"><span class="ion-play"></span></button>

                    </div>
                  </a>
                  <div class="workoutDescription"  ng-click="toggleGroup(workout.wid)" ng-class="{active: isGroupShown(workout.wid)}">
                    <article>{{::workout.c_description | limitTo: 80 }}{{::workout.c_description.length > 80 ? '...' : ''}}</article>
                    <span class="ion-arrow-down-b WtoggleDown" ng-class="isGroupShown(workout.wid) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></span>
                  </div>
                  <div class="workoutDetails ink animated slideInDown" ng-show="isGroupShown(workout.wid)">
                    <div class="workoutListLabels" ng-repeat="type in workout.type">
                      <span class="label blue" ng-class="{changeTypeColor:!($index % 2)} ">{{::type.name}}</span>
                    </div>
                    <div class="workoutListLabels" ng-repeat="part in workout.bodyparts">
                      <span class="label blue" ng-class="{changeTypeColor:!($index % 2)} ">{{::part.name}}</span>
                    </div>
                    <div class="workoutListLabels">
                      <span class="label red" ng-class="{changeGoalColor:!($index % 2)} ">{{::workout.difficulty}}</span>
                    </div>
                    <div class="workoutListLabels" ng-repeat="equip in workout.equipment">
                      <span class="label orange" ng-class="{changeEquipColor:!($index % 2)} ">{{::equip.name}}</span>
                    </div>
                  </div>
                  <div class="pActions">
                    <button class="button button-clear" ng-click="editexercise(workout.wid)">Edit</button>
                    <button class="button button-clear" ng-click="removeexercise(workout.wid)">Remove</button>
                  </div>
                </div>


              </li>
            </ul>


              <ion-list show-delete="false" can-swipe="true" ng-show="layout == 'list'" class="grid pList">
              <ion-item ng-repeat = "workout in myexercises | filter:searchStrman" class="item ink">
                <div class="workoutListInner">
                  <div class="workoutListImg" ng-click="toggleGroup(workout.wid)" ng-class="{active: isGroupShown(workout.wid)}">
                    <img ion-img-cache ng-src="{{workout.video_thumb}}" alt="workout image" class="img-responsive">
                  </div>
                  <div class="workoutListDetail">
                    <a class="workoutListNP">
                      <div class="workoutListName" ng-click="toggleGroup(workout.wid)" ng-class="{active: isGroupShown(workout.wid)}">
                        <h3>{{workout.c_name | limitTo: 28 }}{{workout.c_name > 28 ? '...' : ''}}</h3>
                      </div>
                    </a>
                    <div class="workoutListDescription" ng-click="toggleGroup(workout.wid)" ng-class="{active: isGroupShown(workout.wid)}">
                      <article>{{ workout.c_description | limitTo: 60 }}{{workout.c_description.length > 60 ? '...' : ''}}</article>
                    </div>
                    <div class="workoutListDetails ink animated fadeIn hideH" ng-click="toggleGroup(workout.wid)" ng-class="{showH : isGroupShown(workout.wid)}">
                      <!--<span class="ion-chevron-down WtoggleDown" ng-class="isGroupShown(workout.wid) ? 'ion-chevron-up' : 'ion-chevron-down'"></span>-->
                      <div class="workoutListLabels" ng-repeat="type in workout.type">
                        <span class="label blue" ng-class="{changeTypeColor:!($index % 2)} ">{{type.name}}</span>
                      </div>
                      <div class="workoutListLabels" ng-repeat="part in workout.bodyparts">
                        <span class="label blue" ng-class="{changeTypeColor:!($index % 2)} ">{{part.name}}</span>
                      </div>
                      <div class="workoutListLabels">
                        <span class="label red" ng-class="{changeGoalColor:!($index % 2)} ">{{workout.difficulty}}</span>
                      </div>
                      <div class="workoutListLabels" ng-repeat="equip in workout.equipment">
                        <span class="label orange" ng-class="{changeEquipColor:!($index % 2)} ">{{equip.name}}</span>
                      </div>
                    </div>
                    </div>
                  <a class="workoutListPlay" ui-sref="app.myexerciseDetail({cid: {{workout.wid}}})">
                    <button class="button button-clear"><span class="ion-play"></span></button>
                  </a>
                  <ion-option-button class="button-light icon ion-trash-a" ng-click="removeexercise(workout.wid)"></ion-option-button>
                  <ion-option-button class="button-light icon icon-appedit" ng-click="editexercise(workout.wid)"></ion-option-button>
                  </div>
              </ion-item>
              </ion-list>
          </div>
          <div class="noContent noContentFlex" ng-show="NoResultFound == '402'">
            <img src="img/no-exercise.png" alt="">
          </div>

        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view class="workoutPopOver">
        <ion-content>
          <div class="list" ng-click="popover.hide()">
            <a class="item" ui-sref="app.addCustomExercise" target="_blank">
              Add Custom Exercise
            </a>
            <a class="item" ui-sref="app.exercises" target="_blank">
              Exercises
            </a>
            <a class="item" ui-sref="app.FavExercises" target="_blank">
              Favorite Exercises
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>

    <!--refine template-->

    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Refine your search</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Exercise Types</span>
              <select ng-model="refine.Selectedtype" multiple>
                <option ng-repeat="option in refine.exerciseType" value="{{option.type_id}}">{{option.name}}</option>
              </select>
              <!--{{refine.Selectedtype}}-->
            </label>
            <label class="item item-input">
              <span class="input-label">Body Part</span>
              <select ng-model="refine.bodyPartid" multiple>
                <option ng-repeat="option in refine.bodyPart" value="{{option.part_id}}">{{option.name}}</option>
              </select>
              <!--{{refine.bodyPartid}}-->
            </label>
            <label class="item item-input">
              <span class="input-label">Select Workout Equipment</span>
              <select ng-model="refine.Selectedequip" multiple>
                <option ng-repeat="option in refine.machines" value="{{option.id}}">{{option.name}}</option>
              </select>
              <!--{{refine.Selectedequip}}-->
            </label>

            <label class="item item-input">
              <span class="input-label">Select your Fitness Level</span>
              <select ng-model="refine.Selectedlevel" multiple>
                <option ng-repeat="option in refine.fitness_level" value="{{option.value}}">{{option.title}}</option>
              </select>
              <!--{{refine.Selectedlevel}}-->
            </label>


            <button class="button button-flat button-calm button-block ink" ng-click="filterExercise()">Filter</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    <ion-infinite-scroll ng-if="moremyexercise"
      on-infinite="loadmoremyexercise()"
      distance="1%" immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
