<ion-view view-title="My Exercise Detail" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader myExerciseDetail bar-assertive bar bar-header disable-user-behavior" align-title="center">

    <article>{{exercise.c_name | limitTo: 20 }}{{exercise.c_name > 20 ? '...' : ''}}</article>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
  </ion-header-bar>
  <ion-content class="has-header workoutDetailSack" lazy-scroll>
    <div class="loaderBarWrap" ng-show="loaderShow == true">

      <div class="card" >
        <ion-spinner icon="ios"></ion-spinner>
        <div class="downloadText">Downloading Exercise</div>
        <div class="item item-text-wrap">
          <div class="loader" style="width: {{progresss}};">
            <p class="percent">{{progresss}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
         <div class="exerciseDetailWrap" ng-show="isOnline == true">
           <div class="exerciseName">
              {{exercise.c_name}}
           </div>
           <div class="exerciseDetails">
                <div class="workoutDetails ink">
                  <div class="workoutListLabels" ng-repeat="part in exercise.bodyPartName">
                    <span class="label blue" ng-class="{changeTypeColor:!($index % 2)} ">{{part.name}}</span>
                  </div>
                  <div class="workoutListLabels" >
                    <span class="label red" ng-class="{changeGoalColor:!($index % 2)} ">{{exercise.difficulty}}</span>
                  </div>

                  <div class="workoutListLabels" ng-repeat="type in exercise.type">
                    <span class="label orange" ng-class="{changeEquipColor:!($index % 2)} ">{{type.name}}</span>
                  </div>
                </div>
           </div>
           <div class="exerciseVideo myExerciseVideo" ng-show="exercise.vimeo_id != null">
             <iframe ng-src="{{vimeoVideo}}" frameborder="0" width="100%" height="200px" allowfullscreen></iframe>
           </div>
           <div class="exerciseVideo myExerciseVideo" ng-show="exercise.vimeo_id == null">
             <div class="youtubeVideo">
               <iframe ng-src="{{vid_srcc}}" frameborder="0" width="100%" height="200px" allowfullscreen></iframe>
             </div>
           </div>

           <div class="exerciseDescription" ng-bind-html="exercise.c_description">

           </div>
         </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
  </ion-content>
</ion-view>
