<!--<ion-view>-->
  <ion-scroll class="FactivityContentWrap friendsListScroll" overflow-scroll="true">
    <div class="container" ng-show="isOnline == true">
      <div class="workoutSearch findFriendSack">
        <input placeholder="Search" type="text" ng-model="frndxsearch.search" ng-change="change(frndxsearch.search)">
        <span class="ion-ios-search-strong" ng-show="showSearchIcon == true"></span>
        <a class="ion-ios-close-empty" ng-show="showSearchIcon == false" ng-click="emptySearch(frndxsearch.search)"></a>
      </div>
      <div class="row flexWrap FriendsListSack">
        <div class="col col-100">
          <ion-tabs class="tabs-striped tabs-top topTabNav friendsListTabNav">
            <ion-tab title="My Friends" ui-sref="app.friends.myFriends.myFriendsI">
              <ion-nav-view name="myFriendsI"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Friends Requests" ui-sref="app.friends.myFriends.friendsR">
              <ion-nav-view name="friendsR"></ion-nav-view>
            </ion-tab>
          </ion-tabs>
        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
  </ion-scroll>
<!--</ion-view>-->
