<div class="friendsListInner allFriendsListInner list" ng-show="isOnline == true">
  <div class="myFriendsList item ink" ng-repeat="friend in allfriends | filter:frndxsearch.search">
    <div class="myFriendUpper">
      <div class="friendsThumb">
        <img ion-img-cache ng-src="{{friend.image}}" class="img-responsive">
      </div>
      <div class="friendDetail">
        <div class="friendUserName">
          <a ui-sref="app.userdashboard( {result:friend.user_id})">{{friend.user_fname}} {{friend.user_lname}}</a>
        </div>
        <div class="friendDGP">
          <div class="nameGenderInner">
            <span>Dob : {{friend.user_dob}}</span>
            <span>Gender : {{friend.gender}}</span>
          </div>
          <div class="myFriendAction findFriendAction">
            <div class="unfriend">
              <button class="button button-fab button-assertive icon friend-unFriend" ng-click="removeFriend(friend.friend_id, friend.user_fname, friend.user_lname)"></button>
            </div>
            <div class="unfriend">
              <button class="button button-fab button-assertive icon ion-android-mail" ui-sref="app.friends.inbox"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="noContent noContentFlex" ng-hide="allfriends.length > 0">
    <img src="img/no-friend-show.png" alt="">
  </div>
</div>
<div class="noInternet" ng-show="isOnline == false">
  <img ng-src="img/no-internet.png" class="img-responsive">
</div>
