<ion-view view-title="Workouts" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader myWorkoutsHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

    <article>My Workouts</article>
    <button class="button button-clear headSearchBtn" ng-click="focussearch()"><span class="ion-ios-search-strong"></span></button>
    <!--<a href="#" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"><span class="ion-ios-list-outline"></span></a>
    <a href="#" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"><span class="ion-grid"></span></a>-->
    <button class="button ion-funnel button-clear button-dark" type="submit" ng-click="modal.show()"></button>
    <a class="ion-heart favIcon" ui-sref="app.FavWorkouts" target="_blank"></a>
    <a class="ion-ios-list logIcon" ui-sref="app.workoutLog" target="_blank"></a>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
  </ion-header-bar>
  <ion-content class="has-header allWorkoutsStack" lazy-scroll overflow-scroll="true">
    <div class="expireWrap" ng-class="{noExpireWrap : packageExpired !== 1}" ng-click="expired()" ng-show = "packageExpired === 1"></div>
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
    <div class="container" ng-show="isOnline == true">
      <div class="row">
        <div class="col col-100">
          <div class="workoutSearch hideSearchInput" ng-class="show">
            <input placeholder="Search" type="text"  ng-model="searchStrman.w_name" id="searchStrman" ng-change="change(searchStrman.w_name)">
            <span class="ion-ios-search-strong" ng-show="showSearchIcon == true"></span>
            <a class="ion-ios-close-empty" ng-show="showSearchIcon == false" ng-click="emptySearch(searchStrman.w_name)"></a>
          </div>
          <div class="clear"></div>
          <div class="row">
            <div class="col col-100">
              <div class="workoutActionsMain">
                <div class="workoutActionBtns">
                  <a class="button button-calm" ng-click="addWorkoutx()">Add Custom Workout</a>
                </div>
                <div class="workoutActionBtns">
                  <a class="button button-calm" ui-sref="app.workouts">Workouts</a>
                </div>
              </div>
            </div>
          </div>
          <div class="workoutContainer" ng-show="NoResultFound != '402'">
            <div class="workoutsCount" ng-show="workouts.length > 0">
              <h3>{{workouts.length}} WORKOUTS FOUND</h3>
            </div>
            <ul ng-show="layout == 'grid'" class="grid list animate-fade-slide-in-right">
              <li ng-repeat = "workout in workouts | filter:searchStrman.search" class="item ink">
                <div class="workoutInner">
                  <div class="workoutImg">
                    <img image-lazy-src="{{baseUrlForWorkoutImg}}{{workout.custom_image}}" alt="workout image" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="200">
                  </div>
                  <a class="workoutNP" ui-sref="app.customWorkoutDetail({result:workout.custom_id})">
                    <div class="workoutName">
                      <h3>{{workout.w_name}}</h3>
                    </div>
                    <div class="workoutPlay">
                      <button class="button button-clear"><span class="ion-play"></span></button>
                    </div>
                  </a>
                  <div class="workoutDescription"  ng-click="toggleGroup(workout.custom_id)" ng-class="{active: isGroupShown(workout.custom_id)}">
                    <article>{{ workout.w_description | limitTo: 80 }}{{workout.w_description.length > 80 ? '...' : ''}}</article>
                    <span class="ion-arrow-down-b WtoggleDown" ng-class="isGroupShown(workout.custom_id) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></span>
                  </div>
                  <div class="workoutDetails ink animated fadeIn" ng-show="isGroupShown(workout.custom_id)">
                    <div class="workoutListLabels" ng-repeat="type in workout.type">
                      <span class="label blue" ng-class="{changeTypeColor:!($index % 2)} ">{{type.name}}</span>
                    </div>
                    <div class="workoutListLabels" >
                      <span class="label red" ng-class="{changeGoalColor:!($index % 2)} ">{{workout.difficulty}}</span>
                    </div>

                    <div class="workoutListLabels" ng-repeat="equip in workout.equipment">
                      <span class="label orange" ng-class="{changeEquipColor:!($index % 2)} ">{{equip.name}}</span>
                    </div>
                    <div class="workoutListLabels" >
                      <span class="label black" ng-class="{changeEquipColor:!($index % 2)} ">{{workout.duration}} Minutes</span>
                    </div>
                  </div>
                  <div class="pActions">
                    <button class="button button-clear" ui-sref="app.editcustomworkout({result:workout.custom_id})">Edit</button>
                    <button class="button button-clear" ng-click="removeCustomWorkout(workout.custom_id)">Remove</button>
                  </div>
                </div>

              </li>
            </ul>



            <ion-list show-delete="false" can-swipe="true" ng-show="layout == 'list'" class="grid pList">
              <ion-item ng-repeat = "workout in workouts | filter:searchStrman track by workout.custom_id"  class="item ink">
                <div class="workoutListInner">
                  <div class="workoutListImg" ng-click="toggleGroup(workout.custom_id)" ng-class="{active: isGroupShown(workout.custom_id)}">
                    <img ion-img-cache ng-src="{{baseUrlForWorkoutImg}}{{::workout.custom_image}}" alt="workout image" class="img-responsive">
                  </div>
                  <div class="workoutListDetail">
                    <a class="workoutListNP">
                      <div class="workoutListName" ng-click="toggleGroup(workout.custom_id)" ng-class="{active: isGroupShown(workout.custom_id)}">
                        <h3>{{::workout.w_name | limitTo: 28 }}{{::workout.w_name > 28 ? '...' : ''}}</h3>
                      </div>
                    </a>
                    <div class="workoutListDescription" ng-click="toggleGroup(workout.custom_id)" ng-class="{active: isGroupShown(workout.custom_id)}">
                      <article ng-bind-html="(workout.w_description | limitTo: 60) + ( workout.w_description.length > 60 ? '...' : '')"></article>
                    </div>
                    <div class="workoutListDetails ink animated fadeIn hideH" ng-click="toggleGroup(workout.custom_id)" ng-class="{showH : isGroupShown(workout.custom_id)}">
                      <!--<span class="ion-chevron-down WtoggleDown" ng-class="isGroupShown(workout.custom_id) ? 'ion-chevron-up' : 'ion-chevron-down'"></span>-->
                      <div class="workoutListLabels" ng-repeat="type in workout.type">
                        <span class="label blue" ng-class="{changeTypeColor:!($index % 2)} ">{{::type.name}}</span>
                      </div>
                      <div class="workoutListLabels" ng-repeat="goal in workout.goal">
                        <span class="label lightGreen" ng-class="{changeIntensityColor:!($index % 2)} ">{{::goal.name}}</span>
                      </div>
                      <div class="workoutListLabels">
                        <span class="label red" ng-class="{changeGoalColor:!($index % 2)} ">{{::workout.difficulty}}</span>
                      </div>
                      <div class="workoutListLabels" ng-repeat="equip in workout.equipment">
                        <span class="label orange" ng-class="{changeEquipColor:!($index % 2)} ">{{::equip.name}}</span>
                      </div>
                      <div class="workoutListLabels" >
                        <span class="label black" ng-class="{changeEquipColor:!($index % 2)} ">{{::workout.duration}} Minutes</span>
                      </div>
                    </div>
                  </div>
                  <a class="workoutListPlay" ui-sref="app.myWorkoutDetailMain({result:workout.custom_id})">
                    <button class="button button-clear"><span class="ion-play"></span></button>
                  </a>
                  <ion-option-button class="button-light icon ion-trash-a" ng-click="removeCustomWorkout(workout.custom_id)"></ion-option-button>
                  <ion-option-button class="button-light icon icon-appedit" ui-sref="app.editcustomworkout({result:workout.custom_id})"></ion-option-button>
                  <ion-option-button class="button-light icon ion-share" ng-click="model2(workout.custom_id)"></ion-option-button>
                </div>
              </ion-item>
            </ion-list>
          </div>
          <div class="noContent noContentFlex" ng-show="NoResultFound == '402'">
            <img src="img/no-workouts.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view class="workoutPopOver">
        <ion-content>
          <div class="list" ng-click="popover.hide()">
            <a class="item" ui-sref="app.addCustomWorkout" target="_blank">
              Add Custom Workouts
            </a>
            <a class="item" ui-sref="app.workouts" target="_blank">
              Workouts
            </a>
            <a class="item" ui-sref="app.FavWorkouts" target="_blank">
              Favorite Workouts
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>

    <!--refine template-->

    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Refine your search</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Select Workout Types</span>
              <select ng-model="refine.Selectedtype" multiple>
                <option ng-repeat="option in refine.workoutType" value="{{option.typeID}}">{{option.name}}</option>
              </select>
              <!--{{refine.Selectedtype}}-->
            </label>
            <label class="item item-input">
              <span class="input-label">Select Workout Equipment</span>
              <select ng-model="refine.Selectedequip" multiple>
                <option ng-repeat="option in refine.machines" value="{{option.id}}">{{option.name}}</option>
              </select>
              <!--{{refine.Selectedequip}}-->
            </label>
            <label class="item item-input">
              <span class="input-label">Select Your Fitness Level</span>
              <select ng-model="refine.Selectedlevel" multiple>
                <option ng-repeat="option in refine.levels" value="{{option.value}}">{{option.title}}</option>
              </select>
              <!--{{refine.Selectedlevel}}-->
            </label>
            <label class="item item-input">
              <span class="input-label">Select Workout Intensity</span>
              <select ng-model="refine.Selectedintensity" multiple>
                <option ng-repeat="option in refine.intensity" value="{{option.group_id}}">{{option.name}}</option>
              </select>
              <!--{{refine.Selectedintensity}}-->
            </label>
            <label class="item item-input">
              <span class="input-label">How Much Time Do You Have?</span>
              <select ng-model="refine.Selectedduration">
                <option ng-repeat="option in refine.duration" value="{{option.value}}">{{option.title}}</option>
              </select>
              <!--{{refine.Selectedduration}}-->
            </label>
            <button class="button button-flat button-calm button-block ink" ng-click="filterWorkouts()">Filter</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="templates/modal2.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Share Workout</h1>
          <button class="button button-clear button-primary" ng-click="closeModal2()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack">
          <div class="list">
            <form class="suggFormWrap" ng-submit="doShare(share.email, share.roles, share.suggText)" name="shareWorkout"  novalidate="">
              <div class="suggInput" ng-class="{ 'has-error' : shareWorkout.email.$invalid && !shareWorkout.email.$pristine }">
                <label for="email">Enter friends email address</label>
                <input type="email" id="email" name="email" ng-model="share.email">
              </div>
              <div class="suggInput shareFriendsBtn">
                <span>select one or more Fitness Base Camp friends</span>
                <button class="button button-calm button-block" ng-click="modal3.show()" type="button">Add Friends</button>

              </div>
              <div class="showSelectedFriends" ng-repeat="role in share.roles">
                <span class="badge badge-assertive" ng-show="role.user_fname.length > 0">{{role.user_fname}} {{role.user_lname}}</span>
              </div>
              <div class="suggInput">
                <label for="suggestion">Message for Friend</label>
                <textarea name="message" id="suggestion" cols="30" rows="5" ng-model="share.suggText"></textarea>
              </div>
              <div class="suggFormActions">
                <div class="suggCancel">
                  <button class="button button-calm" type="button" ng-click="closeModal2()">Cancel</button>
                </div>
                <div class="suggSubmit">
                  <button class="button button-calm" type="submit">Share</button>
                </div>

              </div>
            </form>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>


    <!--//friendsList-->

    <script id="templates/modal3.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Share Workout</h1>
          <button class="button button-clear button-primary buttonDone doneFriendBtn" ng-click="closeModal3()">Done</button>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack">
          <div class="list friendsListToShare">
            <div class="selectFriendActions">
              <button class="button button-calm" ng-click="checkAll()">Select All</button>
              <button class="button button-calm" ng-click="uncheckAll()">Unselect All</button>
            </div>
            <div class="workoutSearch workoutFriendSearch" ng-class="show">
              <input placeholder="Search" type="text"  ng-model="searchF.friend" id="searchStrman" ng-change="change(searchF.friend)">
              <span class="ion-ios-search-strong" ng-show="showSearchIcon == true"></span>
              <a class="ion-ios-close-empty" ng-show="showSearchIcon == false" ng-click="emptySearch(searchF.friend)"></a>
            </div>
            <div ng-repeat="role in roles | filter : searchF.friend | orderBy: 'user_fname' " class="friiendsListShareWrap">
              <input name="friendsList{{$index}}" id="friendsList{{$index}}" class="friendsListCheckbox" type="checkbox" checklist-model="share.roles" checklist-value="role" ng-model="justAnotherCheckedVar">
              <label for="friendsList{{$index}}">
                <img ng-src="{{ role.image }}" class="img-responsive">
                <h2>{{role.user_fname}} {{role.user_lname}}</h2>
              </label>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>





  </ion-content>
</ion-view>
