<ion-view view-title="Workouts" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader detailHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">


    <article class="workout-details">{{workout_name | limitTo: 20 }}{{workout_name > 20 ? '...' : ''}}</article>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
  </ion-header-bar>
  <ion-content class="has-header workoutDetailSack detailMain" lazy-scroll>
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
    <div class="workoutBigWrap">
      <div class="workoutDetailWrap" ng-show="isOnline == true">
        <div class="exerciseName workoutMainTitle">
          {{workoutDetai.name}}
        </div>
        <div class="favoriteWorkout">
          <button class="button button-calm button-block" ng-click="favorite(workoutDetai.cid)">
            <span class="ion-heart"></span>
          </button>
        </div>

        <div class="workoutListDetails ink">
          <div class="workoutListLabels" ng-repeat="type in workoutDetai.type">
            <span class="label blue" ng-class="{changeTypeColor:!($index % 2)} ">{{type.name}}</span>
          </div>
          <div class="workoutListLabels" >
            <span class="label red" ng-class="{changeGoalColor:!($index % 2)} ">{{workoutDetai.difficulty}}</span>
          </div>

          <div class="workoutListLabels" ng-repeat="equip in workoutDetai.machinesss">
            <span class="label orange" ng-class="{changeEquipColor:!($index % 2)} ">{{equip.name}}</span>
          </div>
          <div class="workoutListLabels" ng-repeat="intensity in workoutDetai.intensity">
            <span class="label lightGreen" ng-class="{changeEquipColor:!($index % 2)} ">{{intensity.name}}</span>
          </div>
          <div class="workoutListLabels">
            <span class="label black" ng-class="{changeEquipColor:!($index % 2)} ">{{workoutDetai.duration}} Minutes</span>
          </div>
        </div>
      </div>
      <div class="senderMessage" ng-show="bit === 'share_workout'">
        <a ng-click="showMEssage();">
          <span class="ion-email-unread"></span>
          <span>{{sender}} sent a message with this workout</span>
        </a>
      </div>
      <div class="startWorkout startworkoutInMain" ng-show = "workoutDetai !== ''">
        <a class="workoutNP" ui-sref="app.MyPreWorkoutTimer({result:{{workoutID}}})" >
          <button class="button button-calm button-block">Start Workout</button>
        </a>
      </div>
      <div class="exerciseVideo" ng-show="videoID !== null">
        <iframe style="background: #FFFFFF;" id="sampleMovie" preload="none" ng-src="{{vimeoVideo}}" poster='{{baseUrlForWorkoutImg}}{{exercise.workout_thumb}}' controls webkit-playsinline></iframe>
      </div>
      <div class="exerciseVideo exercisePoster" ng-show="vid_srcc !== null && vid_srcc !== ''">
        <div >
          <iframe ng-src="{{youtube}}" frameborder="0" width="100%" height="200px" allowfullscreen></iframe>
        </div>

      </div>
      <div class="exerciseVideo exercisePoster" ng-show="videoID === null && (vid_srcc === null || vid_srcc === '')">
        <div class="myWorkoutPoster">
          <img ng-src="{{baseUrlForWorkoutImg}}{{myWorkoutPoster}}" class="img-responsive">
        </div>

      </div>

      <div class="workoutDescriptionMain">
        <p ng-bind-html="workoutDetai.description"></p>

        <div class="workoutDescriptionBottom">
          <a ng-click="modal.show()">Write a Review</a>
          <div><span class="ion-chatbox"></span><span>Reviews : {{reviews.length}}</span></div>
          <article><span class="ion-ios-calendar-outline"></span><span>{{workoutDetai.date_created}}</span></article>
        </div>

        <div class="workoutReviews">
          <h3>Reviews</h3>
          <div class="noReview" ng-show="reviews.length < 1">
            <p ng-click="modal.show()">Be the first to write a review</p>
          </div>
          <div class="list reviewInner" ng-repeat="review in reviews">
            <a class="item item-avatar" href="#">
              <img image-lazy-src="{{siteUrl}}{{review.image}}" alt="workout image" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
              <h2>{{review.user_fname}} {{review.user_lname}}</h2>
              <p>{{review.message}}</p>
              <span>{{review.date_created}}</span>
            </a>
          </div>
        </div>
        <div class="exerciseListInWorkout list">
          <div class="exerciseListHead">
            <h3>Exercises in this Workout</h3>
          </div>
          <div class="exerciseListItems item" ng-repeat="exercise in workoutDetai.workout_exercises">
            <div class="exerciseImageforWorkout">
              <img image-lazy-src="{{baseUrlForWorkoutImg}}{{exercise.workout_thumb}}" alt="workout image" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
            </div>
            <div class="exerciseInWorkoutTitle">
              <span>{{exercise.workout_name}}</span>
            </div>
            <div class="exerciseInWorkoutReps">
              <span>Reps</span>
              <span>{{exercise.repeats}}</span>
            </div>
            <div class="exerciseInWorkoutReps">
              <span>Time</span>
              <span>{{exercise.duration}}</span>
            </div>
            <div class="exerciseInWorkoutPlay">
              <a ng-show="exercise.custom === '1'" ui-sref="app.myexerciseDetail({cid: {{exercise.workout_id}}, did:{{exercise.cw_id}} })" >
                <button class="button button-clear"><span class="ion-play"></span></button>
              </a>
              <a ng-show="exercise.is_custom === '0'" ui-sref="app.exerciseDetail({cid: {{exercise.workout_id}}, did:{{exercise.cw_id}} })" >
                <button class="button button-clear"><span class="ion-play"></span></button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="noInternet" ng-show="isOnline == false">
        <img ng-src="img/no-internet.png" class="img-responsive">
      </div>
    </div>


      <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
            <h1 class="title">Add your Review</h1>
            <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
          </ion-header-bar>
          <ion-content class="padding workoutRefineSack">
            <div class="list">
              <form ng-submit="addReview($parent.addReview_username, $parent.addReview_email, $parent.addReview_message)" class="addReview" name="addReviewForm" autocomplete="off" novalidate>
                <div class="reviewName">
                  <input type="text" placeholder="Enter your Name" ng-model="$parent.addReview_username" name="username" ng-required="true">
                </div>
                <div class="reviewName">
                  <input  type="email" placeholder="Enter Email" ng-model="$parent.addReview_email" name="email" ng-required="true">
                </div>
                <div class="reviewName">
                  <textarea placeholder="add Message" ng-model="$parent.addReview_message" name="message" ng-required="true"></textarea>
                </div>
                <div class="reviewStars">
                 <span>Rate this workout </span>
                  <rating ng-model="rating.rate" max="rating.max" ng-required="true"></rating>
                </div>
                <div class="submitReview">
                  <button class="button button-calm button-block" type="submit" ng-disabled="addReviewForm.$invalid">Submit Your Review</button>
                </div>
               </form>
            </div>
          </ion-content>
        </ion-modal-view>
      </script>

    <script id="templates/modal3.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Add your Review</h1>
          <button class="button button-clear button-primary" ng-click="modal3.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack">
          <div class="list">
            <div class="notiUserImg">
              <span><img ng-src="{{siteUrl}}{{notiUserImg}}" alt=""></span>
              <span>{{sender}}</span>
            </div>
           <span>{{message}}</span>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>











  </ion-content>
</ion-view>
