<ion-nav-buttons side="left" ng-show="false"></ion-nav-buttons>
  <ion-view view-title="Notifications" hide-nav-bar="true">
    <ion-header-bar class="notificationsPageHeader signupHeader newsfeedHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

      <article>Notifications</article>
      <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
    </ion-header-bar>
    <ion-content class="padding workoutRefineSack notificationSackWrap">
      <div class="list">
        <div class="noNotifications" ng-show="notificationFull.length < 1">
          <p>No Notifications Found</p>
        </div>
        <a class="item item-avatar itemNotification" ng-class="{unread: noti.status == '1'}" ng-repeat="noti in notificationFull track by $index" ng-click="moveNotification($index)">
          <img ion-img-cache ng-src="{{siteUrl}}{{noti.posted_by}}">
          <h2>{{noti.messages}}</h2>
          <p>{{noti.date_time}}</p>
        </a>
      </div>
    </ion-content>
  </ion-view>
