<ion-nav-buttons side="left" ng-show="false"></ion-nav-buttons>
<ion-view view-title="Nutrition" hide-nav-bar="true">
  <ion-header-bar class="signupHeader newsfeedHeader nutritionHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
    <article>Nutrition</article>
  </ion-header-bar>
  <ion-content class="has-header allprogPhotosSack" lazy-scroll>
    <div class="container" ng-show="isOnline == true">
      <div class="row flexWrap list animate-fade-slide-in-right">
        <div class="col col-100 item">
          <a class="nutritionWrap" ui-sref="app.calorieChart">
            <div class="nutriImg">
              <img image-lazy-src="img/calorie.jpg" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="200">
            </div>
            <div class="nutriHead">
              <h3>Calorie Chart</h3>
            </div>
          </a>
        </div>
        <div class="col col-100 item">
          <a class="nutritionWrap" ui-sref="app.meal">
            <div class="nutriImg">
              <img image-lazy-src="img/meal.jpg"  class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="200">
            </div>
            <div class="nutriHead">
              <h3>Meal / Calorie Logger</h3>
            </div>
          </a>
        </div>
        <div class="col col-100 item">
          <a class="nutritionWrap" ui-sref="app.water">
            <div class="nutriImg">
              <img image-lazy-src="img/water.jpg"  class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="200">
            </div>
            <div class="nutriHead">
              <h3>Water Intake Log</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>

  </ion-content>
</ion-view>
