<ion-view view-title="Workouts" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader detailHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">


    <!--<article class="workout-details">{{workout_name}}</article>-->
    <!--<span menu-toggle="left" class="headerBtn icon ion-navicon"></span>-->
  </ion-header-bar>
  <ion-content class="has-header workoutDetailSack detailMain preWorkout" lazy-scroll>
    <div class="loaderBarWrap" ng-show="loaderShow == true">

      <div class="card" >
        <ion-spinner icon="ios"></ion-spinner>
        <div class="downloadText">Downloading Workout</div>
        <div class="item item-text-wrap">
          <div class="loader" style="width: {{progresss}};">
            <p class="percent">{{progresss}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--<span class="button button-outline button-positive button-block icon ion-ios-timer-outline button-rounded" ng-click="selectTimer(10)">&nbsp;10 sec timer</span>-->
    <div class="progress-wrapper">
      <div class="progress">
        {{humanizeDurationTimer(timer,'s')}}
      </div>
      <div round-progress max="timeForTimer" current="timer" stroke="10" radius="120" clockwise="false" color="#147e98" rounded="true" class="text-center"></div>
      <div class="preTimeSlogans" ng-if="started && !done">
        <div class="row">
          <div class="col col-100">
            <h3>Get Ready</h3>
          </div>
        </div>
      </div>
      <div class="preTimeSlogans" ng-if="done">
        <div class="text-center">
          <h3>GO! GO! GO!</h3>
        </div>
      </div>
    </div>
    <audio id="audio">
      <source src="media/warning_female.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </ion-content>
</ion-view>
<!--ng-if="started && !done"-->
<!--ng-if="done" class="text-center"-->
