<ion-view view-title="Profile" hide-nav-bar="true">
  <ion-header-bar class="dashboardHeader profileHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">


    <div class="dashHeadLogo item">
      <img src="img/dashHeadLogo.png" class="img-responsive">
    </div>

    <span class="ion-android-more-vertical moreIcon ink" ng-click="popover.show($event)"></span>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
  </ion-header-bar>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="profileMainSack">
      <div class="quoteArea onMob">
        <p> {{quote.quote}} <b>{{quote.author}}</b></p>

      </div>
      <div class="profileSoMAin" ng-show="isOnline == true">
        <div class="hero zero slide-up" style="background-image: url({{userCover}});">
          <div class="content">
            <div class="avatar" ng-style="{'background-image':'url({{userImg}})'}"><a class="editProfileImg" ng-click="selectPicture()" ><span class="ion-camera uploadImg" ></span></a></div>
            <h3><a class="light">{{username}} {{Lusername}}</a></h3>
            <!--<h4>{{phone}}</h4>-->
            <!--<h5>{{UadditionalData.user_dob}}</h5>-->
          </div>

          <a class="editCoverImg" ng-click="selectPicture2()" ><span class="ion-camera uploadImg" ></span></a>
        </div>
        <div class="profileBoxSack list animate-fade-slide-in-right">
          <a class="item item-avatar item-icon-right" ng-click="modal.show()">
            <div class="profileData">
              <div class="profileDataBox">
                <span>Email:</span>
                <span>{{email}}</span>
              </div>
            </div>
          </a>
          <a class="item item-avatar item-icon-right" ng-click="modal.show()">
            <div class="profileData">
              <div class="profileDataBox">
                <span>Measurement Unit:</span>
                <span>{{measurement}}</span>
              </div>
            </div>
          </a>
          <a class="item item-avatar item-icon-right" ng-click="modal.show()">
            <div class="profileData">
              <div class="profileDataBox">
                <span>Joining Date:</span>
                <span>{{joining}}</span>
              </div>
            </div>
          </a>
          <a class="item item-avatar item-icon-right" ng-click="modal.show()">
            <div class="profileData">
              <div class="profileDataBox">
                <span>Package:</span>
                <span>{{UadditionalData.name}}</span>
              </div>
            </div>
          </a>
          <a class="item item-avatar item-icon-right" ng-click="modal.show()">
            <div class="profileData">
              <div class="profileDataBox packageBox">
                <span>Package expiry</span>
                <span>{{UadditionalData.expired_in}} Days</span>
              </div>
            </div>
          </a>
          <a class="item item-avatar item-icon-right" ng-click="modal.show()">
            <div class="profileData">
              <div class="profileDataBox">
                <span>Address:</span>
                <span>{{address.address}} {{address.zip}} , {{address.city}}, {{address.state}} , {{address.country}}, </span>
              </div>
            </div>
          </a>
        </div>
        <div class="profileActions">
          <div class="cancelSubscription">
            <button class="button button-calm button-block" ng-click="openBrowser()">Cancel Subscription</button>
          </div>
        </div>
      </div>
      <div class="noInternet" ng-show="isOnline == false">
        <img ng-src="img/no-internet.png" class="img-responsive">
      </div>
        <script id="templates/popover.html" type="text/ng-template">
          <ion-popover-view>
            <ion-content>
              <div class="list" ng-click="popover.hide()">
                <a class="item" ng-click="modal.show()">
                  Edit Profile
                </a>
                <a class="item" ng-click="showPopup()">
                  Update Password
                </a>
              </div>
            </ion-content>
          </ion-popover-view>
        </script>
        <script id="templates/modal.html" type="text/ng-template">
          <ion-modal-view>
            <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
              <h1 class="title">Edit your Profile</h1>
              <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding workoutRefineSack profileModal">
              <div class="list animate-fade-slide-in-right">
                <div class="editProfileInputBox item">
                  <label for="firstName">First Name</label>
                  <input type="text" name="firstName" id="firstName" ng-model="$parent.username_edit">
                </div>
                <div class="editProfileInputBox item">
                  <label for="lastname">Last Name</label>
                  <input type="text" name="lastname" id="lastname" ng-model="$parent.Lusername_edit">
                </div>
                <div class="editProfileInputBox item">
                  <label for="dob">Date of Birth</label>
                  <input type="text" id="dob" placeholder="" ng-click="openDatePicker();" ng-model="UadditionalData.user_dob" name="" ng-readonly="true">
                </div>
                <div class="editProfileInputBox item">
                  <label for="phone">Phone</label>
                  <input type="text" name="phone" id="phone" ng-model="phone">
                </div>
                <div class="editProfileInputBox item">
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email" ng-model="email">
                </div>
                <div class="editProfileInputBox item">
                  <label for="address">Address</label>
                  <input type="text" name="address" id="address" ng-model="address.address">
                </div>
                <div class="editProfileInputBox item">
                  <label for="City">City</label>
                  <input type="text" name="City" id="City" ng-model="address.city">
                </div>
                <div class="editProfileInputBox item">
                  <label for="State">State</label>
                  <input type="text" name="State" id="State" ng-model="address.state">
                </div>
                <div class="editProfileInputBox item">
                  <label for="zip">Zip</label>
                  <input type="text" name="zip" id="zip" ng-model="address.zip">
                </div>
                <div class="editProfileInputBox item">
                  <label for="Country">Country</label>
                  <input type="text" name="Country" id="Country" ng-model="address.country">
                </div>
                <label class="item item-input editProfileInputBox">
                  <span class="input-label">Measurements:</span>
                  <select ng-model="measurement">
                    <option value="metric">Metric</option>
                    <option value="standard">Standard</option>
                  </select>
                  <!--{{refine.Selectedintensity}}-->
                </label>
                <label class="item item-input editProfileInputBox">
                  <span class="input-label">Share Completed Workout On Social Media:</span>
                  <select ng-model="share_edit" >
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                  <!--{{refine.Selectedintensity}}-->
                </label>
                <button class="button button-flat button-calm button-block ink" ng-click="editProfile($parent.username_edit,$parent.Lusername_edit,UadditionalData.user_dob,phone,email,address.address,address.city,address.zip,address.state,address.country,measurement,share_edit)">Save</button>
              </div>
            </ion-content>
          </ion-modal-view>
        </script>
    </ion-content>
</ion-view>
