<ion-view view-title="Select Package" hide-nav-bar="true">
    <ion-header-bar class="signupHeader selectPackageHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
      <button class="button button-flat packBack" ng-click="myGoBack()"><i class="ion-chevron-left"></i></button>
      <span>Select Package</span>
    </ion-header-bar>
    <ion-content class="has-header PackageSack">
      <div class="row flexWrap centerContent">
        <div class="col col-80">
          <img src="img/select-package-logo.png"  class="img-responsive">
        </div>
        <div class="col col-100 padding-0 p-note">
          <p>No credit card required. No Hidden Fees. Cancel anytime. </p>
        </div>
      </div>
      <input id="tab1" type="radio" name="tabs" ng-checked="checked" checked>
      <label for="tab1">Monthly Packages</label>

      <input id="tab2" type="radio" name="tabs">
      <label for="tab2">Yearly Packages</label>
      <section id="content1" class="monthlyPackage">
        <ion-list class="packageListCenter">
          <div ng-repeat="opinion in opinions track by $index" class="packageSack">

            <ion-item class="item-stable packageWrap ink" ng-click="toggleOpinion(opinion)" ng-class="{active: isOpinionShown(opinion)}">
              <i class="icon" ng-class="isOpinionShown(opinion) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
              <span class="title-package">  {{opinion.name}}</span>
              <span class="title-package charges">{{opinion.charges}}</span>
            </ion-item>
            <ion-item class="item-accordion packageAccInner"  ng-show="isOpinionShown(opinion)">
              <div class="description">
                <span class="details-expert">  {{opinion.description}} </span>
              </div>
              <div class="getNow">
                <button class="button button-flat button-positive icon-left ion-reply" type="button" ng-click="setTest(opinion.members_id);">Get Now</button>

              </div>

            </ion-item>
          </div>
        </ion-list>
      </section>
      <section id="content2" class="yearlyPackage">
        <ion-list class="packageListCenter">
          <div ng-repeat="opinion in opinions2 track by $index" class="packageSack">

            <ion-item class="item-stable packageWrap ink" ng-click="toggleOpinion(opinion)" ng-class="{active: isOpinionShown(opinion)}">
              <i class="icon" ng-class="isOpinionShown(opinion) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
              <span class="title-package">  {{opinion.name}}</span>
              <span class="title-package charges"><span ng-show="$index === 0">$</span> {{opinion.charges}}</span>
            </ion-item>
            <ion-item class="item-accordion packageAccInner"  ng-show="isOpinionShown(opinion)">
              <div class="description">
                <span class="details-expert">  {{opinion.description}} </span>
              </div>
              <div class="getNow">
                <button class="button button-flat button-positive icon-left ion-reply" type="button" ng-click="setTest(opinion.members_id);">Get Now</button>

              </div>

            </ion-item>
          </div>
        </ion-list>
      </section>


    </ion-content>
  </ion-view>
