<ion-view view-title="Signup" hide-nav-bar="true">

  <ion-header-bar class="signupHeader selectPackageHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
    <button class="button button-flat packBack" ng-click="myGoBack()"><i class="ion-chevron-left"></i></button>
           <span>SIGNUP</span>
    </ion-header-bar>
  <ion-content class="has-header SignUpSack">
<form ng-submit="doSignup()" name="SignupForm" class="signupFormSack" autocomplete="off" novalidate>
    <div class="row loginLogoRow">
      <div class="col col-70">
        <div class="loginLogo">
          <img src="img/signup-page-logo.png" alt="" class="img-responsive"></div>
      </div>
    </div>
    <div class="row flexWrap list animate-fade-slide-in-right">
      <div class="col col-100">
        <label class="item item-input item-floating-label enterFName">
                  <span class="input-label">First Name</span>
                  <!-- <i class="icon ion-iphone phoneIcon"></i> -->
                  <input type="text" placeholder="First Name" ng-model="signup.enterFName" name="enterFName" ng-required="true">
                </label>
      </div>
      <div class="col col-100">
        <label class="item item-input item-floating-label enterLName">
                  <span class="input-label">Last Name</span>
                  <!-- <i class="icon ion-iphone phoneIcon"></i> -->
                  <input type="text" placeholder="Last Name" ng-model="signup.enterLName" name="enterLName" ng-required="true">
                </label>
      </div>
      <div class="col col-100">
        <label class="item item-input item-floating-label enterEmail">
          <span class="input-label">Email</span>
          <!-- <i class="icon ion-iphone phoneIcon"></i> -->
          <input type="email" placeholder="Email" equals="{{signup.Cusername}}" ng-model="signup.username" name="username" ng-required="true">
        </label>
      </div>
      <div class="col col-100">
        <label class="item item-input item-floating-label enterEmail">
          <span class="input-label">Confirm Email</span>
          <!-- <i class="icon ion-iphone phoneIcon"></i> -->
          <input type="email" placeholder="Confirm Email" equals="{{signup.username}}" ng-model="signup.Cusername" name="username" ng-required="true">
        </label>
      </div>
      <div class="col col-100">
        <label class="item item-input item-floating-label enterPassword">
                  <span class="input-label">Password</span>
                  <!-- <i class="icon ion-iphone phoneIcon"></i> -->
                  <input type="password" placeholder="Password" equals="{{signup.Cpassword}}" ng-model="signup.password" name="password" ng-required="true">
                </label>
      </div>
      <div class="col col-100">
        <label class="item item-input item-floating-label enterCPassword">
                  <span class="input-label">Confirm Password</span>
                  <!-- <i class="icon ion-iphone phoneIcon"></i> -->
                  <input type="password" placeholder="Confirm Password" equals="{{signup.password}}" ng-model="signup.Cpassword" name="Cpassword" ng-required="true">
                </label>
      </div>
      <div class="col col-100">
        <label class="item item-input item-floating-label enterPhone">
                  <span class="input-label">Phone</span>
                  <!-- <i class="icon ion-iphone phoneIcon"></i> -->
                  <input type="tel" ng-pattern="phonenumber" placeholder="Phone" ng-model="signup.phone" name="phone" ng-required="true">
                </label>
        <span class="invalidRed" ng-show="SignupForm.phone.$invalid && SignupForm.phone.$touched">Please Enter the number in format (11234567890)</span>
      </div>
      <div class="col col-100">
        <div class="row flexWrap">
            <div class="col col-50 genderSack">
          <label class="item item-input item-select item-stable selectGender">
            <div class="input-label">
                Gender
            </div>
            <select name="gender" ng-model="signup.gender" ng-required="true">
                <option ng-value="Male" ng-selected="selected">Male</option>
                <option value="Female">Female</option>
            </select>
        </label>
        <!-- <label class="item item-input item-floating-label enterDOB">
              <span class="input-label">Gender</span>
              <i class="icon ion-iphone phoneIcon"></i>
              <input type="text" placeholder="Gender" ng-model="signup.gender" name="Gender" ng-required>
            </label> -->

        </div>
        <div class="col padding-0 dobSackSignUp col-50">
            <label class="item item-input item-floating-label enterDOB">
              <!-- <i class="icon ion-iphone phoneIcon"></i> -->
              <input type="text" placeholder="D-O-B" ng-click="openDatePicker();" ng-model="signup.dob" name="DOB" ng-required="true" ng-readonly="true" adult>
            </label>
        </div>
          <div class="col padding-0 col-100 ageError">
            <span class="invalidRed" ng-show="SignupForm.DOB.$invalid && SignupForm.DOB.$touched">You must be older than 18 to signup for Fitness Base Camp. </span>
          </div>
        </div>


      </div>
      <div class="col col-100 selectMeasureSack">
        <label class="item item-input item-select item-stable selectMeasurements">
            <div class="input-label">
              What type of measurements do you prefer?
            </div>
            <select name="Measurement" ng-model="signup.enterMeasure" ng-required="true">
                <option ng-value="Standard" ng-selected="selected">Standard</option>
                <option value="Metric">Metric</option>
            </select>
        </label>
      </div>
      <div class="col col-100 checkTermsSack">
        <!--<ion-checkbox ng-model="filter.red">I agree to the FitnessBasecamp <a ui-sref="app.terms-conditions">Terms of Service & Privacy Policy</a></ion-checkbox>-->
        <div class="item item-checkbox checkTermsSack">
          <label class="checkbox" for="tos">
            <input type="checkbox" ng-model="signup.tos" name="tos" id="tos" ng-required="true">
          </label>
          <span>I agree to the FitnessBasecamp</span>
          <a ng-click="modal.show();">Terms of Service & Privacy Policy</a>
        </div>
      </div>
    </div>

        <input type="text" class="hiddenInput" placeholder="packageID" ng-model="signup.packageID" name="packageID" >


    <div class="row flexWrap">
      <div class="col col-100 signUpBtn">
        <button class="button button-positive" type="submit" ng-disabled="SignupForm.$invalid">Signup</button>
      </div>
    </div>
</form>
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Terms & Conditions</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack">
          <div class="row flexWrap centerContent">
            <div class="col col-80">
              <img src="img/select-package-logo.png"  class="img-responsive">
            </div>
            <div class="col col-100 padding-0 p-note">
              <p>No risk. No hidden fees. Cancel at anytime </p>
            </div>
          </div>

          <span ng-bind-html="terms" class="terms-conditions"></span>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
