<ion-view view-title="Activity" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader detailHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

    <article>Activity</article>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
  </ion-header-bar>
  <ion-content class="FactivityContentWrap singlePostWrap" lazy-scroll>
    <div class="container" ng-show="noStatus == false">
      <div class="row">
        <div class="col col-100">
          <div class="friendsActivitySack">
              <div class="myActivityHead">
              <div class="userImg">
                <img image-lazy-src="{{siteUrl}}{{post.image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
              </div>
              <div class="userstatusInfo">
                <div class="userstatusInfoUpper">
                  <a class="userName" ui-sref="app.userdashboard( {result:post.user_id})" ng-bind-html="(post.user_fname) + (post.user_lname)"></a>
                  <a class="stLikes" ng-class="postLiked" ng-click="like(post.id, $index)">Likes<span class="ion-ios-heart"></span>{{post.likes}}</a>
                  <span class="stDate">{{post.date_created}}</span>
                </div>
                <div class="userstatusInfoBottom">
                  <div class="statusText">
                    <input type="checkbox" id="showMore{{index}}" name="showMore">
                    <label for="showMore{{index}}">
                      <p ng-bind-html="post.status"></p>
                    </label>
                    <a ng-click="clicked(urlPreviewPosted[0].url)" class="urlPreviewWrap" ng-show="urlPreviewPosted.length > 0">
                      <div class="urlPreviewImg" ng-hide="urlPreviewPosted[0].site_url === ''">
                        <img ng-src="{{urlPreviewPosted[0].image_url}}" class="img-responsive">
                      </div>
                      <div class="urlPreviewDetails" ng-hide="urlPreviewPosted[0].site_url === ''">
                        <div class="urlPreviewTitle">
                          <span ng-bind-html="urlPreviewPosted[0].title"></span>
                        </div>
                        <!--<div class="urlPreviewDesc">-->
                        <!--<span>{{urlPreview.description}}</span>-->
                        <!--</div>-->
                        <div class="urlPreviewUrl">
                          <span>{{urlPreviewPosted[0].site_url}}</span>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="statusImagesWrap">
                    <div class="statusImages" ng-repeat="images in post.status_images">
                      <img image-lazy-src="{{siteUrl}}uploads/status_images/{{images.image}}" ng-class="$index"  class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                    </div>
                  </div>


                </div>

              </div>
            </div>

            <div class="clearfix"></div>
            <div class="commentHead">
              <div class="commentIcon">
                <span class="ion-ios-chatbubble"></span><span>Comments</span>
              </div>
              <!--<div class="socialIcons">-->
                <!--<span class="ion-social-facebook-outline"></span>-->
                <!--<span class="ion-social-instagram-outline"></span>-->
                <!--<span class="ion-social-twitter-outline"></span>-->
              <!--</div>-->

            </div>
            <div class="commentMainSack">
            <div class="commentMainSack">
              <div class="userComments" ng-repeat="comment in post.comments">
                <div class="commentMain">

                  <a class="commentingUserImg" ui-sref="app.userdashboard( {result:comment.user_id})">
                    <img image-lazy-src="{{siteUrl}}{{comment.userimg}}" alt="" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                  </a>
                  <div class="commentText">
                    <div class="commentingUserName">
                      <a ui-sref="app.userdashboard( {result:comment.user_id})">{{comment.full_name}}</a>
                      <span>{{comment.date_time}}</span>
                    </div>
                    <div class="commentingData">
                      {{comment.comment}}
                    </div>
                  </div>
                  <div class="commentImagesWrapper">
                    <div class="commentImages" ng-repeat="images in comment.comment_images">
                      <img image-lazy-src="{{siteUrl}}uploads/comment_images/{{images.image}}" alt="" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row add-comment-box">
              <div class="col col-100 addCommentBoxCol">
                <form ng-submit="postCommentfrnd(post.id, $index,mani)" name="loginForm" autocomplete="off" novalidate>
                <div class="updateStatus commentBoxPost">
                  <div class="userImg">
                    <img image-lazy-src="{{userData.image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
                  </div>
                  <div class="updateStTextBox">
                    <textarea rows="1" class="animateTextArea msd-elastic: \n;" ng-class="urlPreviewClass" ng-model="mani[post.id + '_' + post.id]" ng-change="postEntering(status.text)"></textarea>
                    <a class="ion-camera" ng-click="selectUploadMethodComment(post.id)"></a>
                  </div>
                  <div class="updatePostBtn">
                    <button class="button-flat" type="submit">Comment</button>
                  </div>
                  <div class="upLoadPostImage" ng-class="{hide: status.commentImage=={}}" ng-show="post.id == selectedPost">
                    <div class="status-imgs" ng-repeat="image in commentImage">
                      <button class="ion-android-close ink button button-flat" ng-click="removeCommentIMG($index)" type="button"></button>
                      <img  ng-src="{{image}}" class="img-responsive">
                    </div>
                  </div>
                </div>
                  </form>
              </div>
            </div>
          </div>
          </div>
          <div class="noContent noContentFlex noContentActivity" ng-hide="NoResultFound != '402'">
            <img src="img/no-friends.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="noStatus == true">
      <img ng-src="img/no-post.png" class="img-responsive">
    </div>
    <ion-infinite-scroll
      on-infinite="loadmorefriendsact()" ng-if="morefrndactvtse"
      distance="1%" immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
