<ion-view view-title="splash" hide-nav-bar="true">
<ion-content has-header="false" class="splashSack">
		<div class="conteneur" align="center">
    <div class="css3_div">
      <img width="90%" ng-src="img/fbc.png"/>
        <div class="txtcss">
          <p>inspire . motivate . support</p>
        </div>
    </div>
  </div>
</ion-content>
</ion-view>

