<ion-view view-title="Select Time" hide-nav-bar="true">
  <ion-header-bar class="dashboardHeader startWorkoutHeader homeHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">


    <div class="dashHeadLogo item">
      <img src="img/dashHeadLogo.png" class="img-responsive">
    </div>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>

    <!--<a class="userHeadThumb" ui-sref="app.profile">-->
    <!--<img ng-src="{{userImg}}" class="img-responsive">-->
    <!--</a>-->
  </ion-header-bar>
  <ion-pane class="startWorkoutSack" has-header="true" lazy-scroll>
    <div class="startSoSack">
      <div class="startWorkoutHead">
        <h3>Help us Select the best workout for you</h3>
      </div>
      <div class="stepWrap" ng-class="step">
        <div class="selectTypeHead col col-100">
          <h2>How much time do you have?</h2>

        </div>
        <div class="selectTypeSack row flexWrap startWorkoutRow" >
          <div class="circleTimer">
                    <span class="star-cb-group">
                      <div class="showTime">
                        <h1>{{selectType.time}}</h1>
                        <span>MINUTES</span>
                      </div>
                      <input type="radio" id="rating-13" name="rating" value="60+" ng-model="selectType.time" ng-change="selectTime(selectType.time)"/><label for="rating-13" class="time time-13 timeSixtyPlus">60+</label>
                      <input type="radio" id="rating-12" name="rating" value="60" ng-model="selectType.time" ng-change="selectTime(selectType.time)"/><label for="rating-12" class="time time-12">60</label>
                      <input type="radio" id="rating-11" name="rating" value="55" ng-model="selectType.time" ng-change="selectTime(selectType.time)"/><label for="rating-11"  class="time time-11">55</label>
                      <input type="radio" id="rating-10" name="rating" value="50"  ng-model="selectType.time" ng-change="selectTime(selectType.time)"/><label for="rating-10" class="time time-10">50</label>
                      <input type="radio" id="rating-9" name="rating" value="45"  ng-model="selectType.time" ng-change="selectTime(selectType.time)"/><label for="rating-9" class="time time-9">45</label>
                      <input type="radio" id="rating-8" name="rating" value="40" ng-model="selectType.time" ng-change="selectTime(selectType.time)"/><label for="rating-8" class="time time-8">40</label>
                      <input type="radio" id="rating-7" name="rating" value="35" ng-model="selectType.time" ng-change="selectTime(selectType.time)"/><label for="rating-7" class="time time-7">35</label>
                      <input type="radio" id="rating-6" name="rating" value="30" ng-model="selectType.time" ng-change="selectTime(selectType.time)"/><label for="rating-6" class="time time-6">30</label>
                      <input type="radio" id="rating-5" name="rating" value="25" ng-model="selectType.time" ng-change="selectTime(selectType.time)"/><label for="rating-5" class="time time-5">25</label>
                      <input type="radio" id="rating-4" name="rating" value="20" ng-model="selectType.time" ng-change="selectTime(selectType.time)"/><label for="rating-4" class="time time-4">20</label>
                      <input type="radio" id="rating-3" name="rating" value="15" ng-model="selectType.time" ng-change="selectTime(selectType.time)"/><label for="rating-3" class="time time-3">15</label>
                      <input type="radio" id="rating-2" name="rating" value="10" ng-model="selectType.time" ng-change="selectTime(selectType.time)"/><label for="rating-2" class="time time-2" >10</label>
                      <input type="radio" id="rating-1" name="rating" value="5" ng-model="selectType.time" ng-change="selectTime(selectType.time)" /><label for="rating-1" class="time time-1">5</label>
                    </span>
          </div>
          <div class="showFilteredBtn">
            <button class="button button-block button-calm ink" ng-click="filterWorkouts()">Show Workouts</button>
          </div>

        </div>
      </div>
      <div class="justTskeMe" ng-hide="dynamicInput">
        <a ui-sref="app.workouts">
          <button class="button button-block button-calm ink">Just Take Me to all the workouts!</button>
        </a>
      </div>

    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
  </ion-pane>
</ion-view>
