<ion-view view-title="Dashboard" hide-nav-bar="true">
  <ion-header-bar class="dashboardHeader startWorkoutHeader homeHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">


    <div class="dashHeadLogo item">
      <img src="img/dashHeadLogo.png" class="img-responsive">
    </div>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>

    <!--<a class="userHeadThumb" ui-sref="app.profile">-->
    <!--<img ng-src="{{userImg}}" class="img-responsive">-->
    <!--</a>-->
  </ion-header-bar>
  <ion-pane class="startWorkoutSack" has-header="true" lazy-scroll>
    <div class="startSoSack" ng-show="isOnline == true">
      <div class="startWorkoutHead">
        <h3>Help us Select the best workout for you</h3>
      </div>
      <div class="stepWrap" ng-class="step">
        <div class="selectTypeHead col col-100">
          <h2>Select your fitness level</h2>
        </div>
        <div class="selectTypeSack row flexWrap startWorkoutRow" >

          <div class="selectTypeInner beginner">
            <input type="radio" name="workoutlevel" id="beginner" value="1" ng-model="selectType.level" ng-change='selectLevel(selectType.level)'>
            <label for="beginner">
              <div class="strengthInner">
                <h4>Beginner</h4>
              </div>
            </label>
          </div>
          <div class="selectTypeInner intermediate">
            <input type="radio" name="workoutlevel" id="intermediate" value="3" ng-model="selectType.level" ng-change='selectLevel(selectType.level)'>
            <label for="intermediate">
              <div class="strengthInner">
                <h4>Intermediate</h4>
              </div>
            </label>
          </div>
          <div class="selectTypeInner advanced">
            <input type="radio" name="workoutlevel" id="advanced" value="5" ng-model="selectType.level" ng-change='selectLevel(selectType.level)'>
            <label for="advanced">
              <div class="strengthInner">
                <h4>Advanced</h4>
              </div>
            </label>
          </div>
          <div class="selectTypeInner all">
            <input type="radio" name="workoutlevel" id="allL" value="all" ng-model="selectType.level" ng-change='selectLevel(selectType.level)'>
            <label for="allL">
              <div class="strengthInner">
                <h4>ALL</h4>
              </div>
            </label>
          </div>
        </div>
      </div>

      <div class="justTskeMe">
        <a ui-sref="app.workouts">
          <button class="button button-block button-calm ink">Just Take Me to all the workouts!</button>
        </a>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>


</ion-pane>
</ion-view>

