<ion-view view-title="Dashboard" hide-nav-bar="true">
  <ion-header-bar class="dashboardHeader startWorkoutHeader homeHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">


    <div class="dashHeadLogo item">
      <img src="img/dashHeadLogo.png" class="img-responsive">
    </div>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>

    <!--<a class="userHeadThumb" ui-sref="app.profile">-->
    <!--<img ng-src="{{userImg}}" class="img-responsive">-->
    <!--</a>-->
  </ion-header-bar>
  <ion-pane class="startWorkoutSack" has-header="true" lazy-scroll>
    <div class="startSoSack" ng-show="isOnline == true">
      <div class="startWorkoutHead">
        <h3>Help us Select the best workout for you</h3>
      </div>
      <div class="stepWrap" ng-class="step">
        <div class="selectTypeHead col col-100">
          <h2>Select a workout type</h2>
        </div>
        <div class="selectTypeSack row flexWrap startWorkoutRow" >

          <div class="selectTypeInner str">
            <input type="radio" name="workoutType" id="strength" value="13" ng-model="selectType.type" ng-change='selectType(selectType.type)'>
            <label for="strength">
              <div class="strengthInner">
                <h4>Strength</h4>
              </div>
            </label>
          </div>
          <div class="selectTypeInner yoga">
            <input type="radio" name="workoutType" id="yoga" value="8" ng-model="selectType.type" ng-change='selectType(selectType.type)'>
            <label for="yoga">
              <div class="strengthInner">
                <h4>Yoga</h4>
              </div>
            </label>
          </div>
          <div class="selectTypeInner stretching">
            <input type="radio" name="workoutType" id="stecthing" value="15" ng-model="selectType.type" ng-change='selectType(selectType.type)'>
            <label for="stecthing">
              <div class="strengthInner">
                <h4>Stetching</h4>
              </div>
            </label>
          </div>
          <div class="selectTypeInner cardio">
            <input type="radio" name="workoutType" id="cardio" value="19" ng-model="selectType.type" ng-change='selectType(selectType.type)'>
            <label for="cardio">
              <div class="strengthInner">
                <h4>Cardio</h4>
              </div>
            </label>
          </div>
          <div class="selectTypeAll">
            <input type="radio" name="workoutType" id="allT" value="all" ng-model="selectType.type" ng-change='selectType(selectType.type)'>
            <label for="allT">
              <div class="strengthInner">
                <h4>All</h4>
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="justTskeMe">
        <a ui-sref="app.workouts">
          <button class="button button-block button-calm ink">Just Take Me to all the workouts!</button>
        </a>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>


  </ion-pane>
</ion-view>
