<ion-view view-title="Dashboard" hide-nav-bar="true">
  <ion-header-bar class="dashboardHeader startWorkoutHeader homeHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">


    <div class="dashHeadLogo item">
      <img src="img/dashHeadLogo.png" class="img-responsive">
    </div>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>

    <!--<a class="userHeadThumb" ui-sref="app.profile">-->
    <!--<img ng-src="{{userImg}}" class="img-responsive">-->
    <!--</a>-->
  </ion-header-bar>
  <ion-pane class="startWorkoutSack" has-header="true" lazy-scroll>
    <div class="startSoSack" ng-show="isOnline == true">
      <div class="startWorkoutHead">
        <h3>Help us Select the best workout for you</h3>
      </div>
      <div class="stepWrap" ng-class="step">
        <div class="selectTypeHead col col-100">
          <h2>Select workout intensity</h2>
        </div>
        <div class="selectTypeSack row flexWrap startWorkoutRow" >

          <div class="selectTypeInner high">
            <input type="radio" name="workoutIntensity" id="high" value="1" ng-model="selectType.intensity" ng-change='selectIntensity(selectType.intensity)'>
            <label for="high">
              <div class="strengthInner">
                <h4>High</h4>
              </div>
            </label>
          </div>
          <div class="selectTypeInner medium">
            <input type="radio" name="workoutIntensity" id="medium" value="2" ng-model="selectType.intensity" ng-change='selectIntensity(selectType.intensity)'>
            <label for="medium">
              <div class="strengthInner">
                <h4>Medium</h4>
              </div>
            </label>
          </div>
          <div class="selectTypeInner low">
            <input type="radio" name="workoutIntensity" id="low" value="3" ng-model="selectType.intensity" ng-change='selectIntensity(selectType.intensity)'>
            <label for="low">
              <div class="strengthInner">
                <h4>Low</h4>
              </div>
            </label>
          </div>
          <div class="selectTypeInner allI">
            <input type="radio" name="workoutIntensity" id="allI" value="all" ng-model="selectType.intensity" ng-change='selectIntensity(selectType.intensity)'>
            <label for="allI">
              <div class="strengthInner">
                <h4>ALL</h4>
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="justTskeMe">
        <a ui-sref="app.workouts">
          <button class="button button-block button-calm ink">Just Take Me to all the workouts!</button>
        </a>
      </div>

    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>

  </ion-pane>
</ion-view>
