<ion-view view-title="My Stats" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader myStatsHeaderBar bar-assertive bar bar-header disable-user-behavior" align-title="center">
    <article>My Stats</article>
    <span class="ion-ios-bell notifications" ng-class="green" ui-sref="app.notifications"><i>{{notificationFull[0].count}}</i></span>
    <button class="button ion-funnel button-clear button-dark" type="submit" ng-click="showPopup()"></button>
    <!--<span class="ion-android-more-vertical moreIcon ink" ng-click="popover.show($event)"></span>-->
    <span class="ion-plus-circled" ng-click="modal.show()"></span>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>

  </ion-header-bar>
  <ion-content class="has-header allWorkoutsStack" lazy-scroll overflow-scroll="true">
    <div class="expireWrap" ng-class="{noExpireWrap : packageExpired !== 1}" ng-click="expired()" ng-show = "packageExpired === 1"></div>
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
    <div class="container" ng-show="isOnline == true">
      <div class="row">
        <div class="col col-100">
          <div class="myStatsWrap list animate-fade-slide-in-right">
            <div class="statLoop item" ng-repeat="item in items" ng-show="items.length > 0">
              <highchart config="item.cfg"></highchart>
              <button class="button button-calm icon-appedit" ng-click="editChart(item.stats_id, item.stats_field)"></button>
              <button class="button button-calm ion-android-add" ng-click="addMeasurement(item.stats_id, item.stats_field)"></button>
              <button class="button button-calm ion-ios-close-empty" ng-click="deleteChart(item.stats_id, item.stats_field)"></button>
              <button class="button button-calm ion-eye toggleChart" ng-class="item.show_on_dashboard == '1' ? 'open' : 'close'" ng-click="toggleChart(item.stats_id, item.stats_field, item.show_on_dashboard)"></button>
            </div>
            <div class="noContent noContentFlex" ng-show="noStatFound">
              <img src="img/no-stats.png" alt="">
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content>
          <div class="list" ng-click="popover.hide()">
            <a class="item" target="_blank" ng-click="modal.show()">
              Add Custom Chart
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    <!--add Stats Template-->

    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Add My Body Stats</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack">
          <div class="list">
            <div class="addStatInner">
              <div class="chartStat">
                <label for="chartname">Chart Name</label>
                <input type="text" name="chartname" id="chartname" ng-model="addstat.name">
              </div>
              <div class="valuentype">
                <div class="chartvalue">
                  <label for="chartvalue">Value</label>
                  <input type="text" name="chartvalue" id="chartvalue" ng-model="addstat.value">
                </div>
                <div class="charttype">
                  <label for="charttype">Value Type</label>
                  <select name="charttype" id="charttype" ng-model="addstat.type">
                    <option value="Inches">Inches</option>
                    <option value="Feet">Feet</option>
                    <option value="Ounces">Ounces</option>
                    <option value="Pounds">Pounds</option>
                  </select>
                </div>
              </div>
              <div class="addStatAction hide">
                <div class="addStatBtn">
                  <button class="button button-calm button-block ink"><span class="ion-ios-plus"></span><span>ADD STAT</span></button>
                </div>
                <div class="remStatBtn">
                  <button class="button button-calm button-block ink"><span class="ion-ios-minus"></span><span>REMOVE STAT</span></button>
                </div>
              </div>
              <div class="addStatfinish">
                <div class="cancelStatBtn">
                  <button class="button button-calm button-block ink" ng-click="modal.hide()"><span>CANCEL</span></button>
                </div>
                <div class="upStatBtn">
                  <button class="button button-calm button-block ink" ng-click="updateStats()"><span>UPDATE</span></button>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="templates/modal2.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader editBodyStatHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Edit My Body Stats</h1>
          <button class="button button-clear button-primary" ng-click="modal2.hide()">Cancel</button>
          <div class="upStatBtn">
            <button class="button button-calm button-block ink" ng-click="editStats(single_stats, editstat.value)"><span>UPDATE</span></button>
          </div>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack">
          <div class="list">
            <!--{{single_stats}}-->
            <div class="addStatInner editStatInner" ng-repeat="editItem in single_stats" ng-class="{'last':$last}">
              <div class="chartStat">
                <label for="chartDate">Date</label>
                <input type="text" name="chartDate" id="chartDate" ng-model="editItem.date_created" ng-click="openDatePicker3($index);" ng-readonly="true">
              </div>
              <div class="chartStat">
                <label for="chartEditValue">Value</label>
                <input type="text" name="chartEditValue" id="chartEditValue" ng-model="editItem.stats_value">
              </div>
              <div class="deleteStat">
                <a class="ion-android-close button button-flat" ng-click="deleteStat(editItem.stats_id, editItem.stats_field)"></a>
              </div>
            </div>
            <div class="valuentype" >
              <div class="charttype editcharttype">
                <label for="charttype">Value Type</label>
                <select name="charttype1" id="charttype1" ng-model="editstat.value" disabled="true" ng-disabled="true">
                  <option ng-value="singleValueType" ng-selected="true">{{singleValueType}}</option>
                </select>
              </div>
            </div>
            <!--<div class="addStatfinish">-->
              <!--<div class="upStatBtn">-->
                <!--<button class="button button-calm button-block ink" ng-click="editStats(single_stats, editstat.value)"><span>UPDATE</span></button>-->
              <!--</div>-->
              <!--<div class="cancelStatBtn">-->
                <!--<button class="button button-calm button-block ink" ng-click="modal2.hide()"><span>CANCEL</span></button>-->
              <!--</div>-->
            <!--</div>-->
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="templates/modal3.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Add Measurement</h1>
          <button class="button button-clear button-primary" ng-click="modal3.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack">
          <div class="list">
            <form ng-submit="submitAddM(addM.fieldName, addM.statDate, addM.fieldValue)" novalidate autocomplete="off" name="addMeasureForm">
            <!--{{single_stats}}-->
            <div class="addStatInner editStatInner addMeasurementInner">
              <div class="chartStat">
                <label for="addMDate">Date</label>
                <input type="text" name="addMDate" id="addMDate" ng-model="addM.statDate" ng-click="openDatePicker4();" ng-readonly="true" ng-required="true">
              </div>
              <div class="chartStat">
                <label for="addMValue">{{addM.fieldName}}</label>
                <input type="number" name="addMValue" id="addMValue" ng-model="addM.fieldValue" ng-required="true">
              </div>
            </div>
            <div class="addStatfinish">
              <div class="cancelStatBtn">
                <button class="button button-calm button-block ink" type="button" ng-click="modal3.hide()"><span>CANCEL</span></button>
              </div>
              <div class="upStatBtn">
                <button class="button button-calm button-block ink" type="submit" ng-disabled="addMeasureForm.$invalid"><span>Add Stat</span></button>
              </div>
            </div>
            </form>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    <script id="templates/newUser.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader newUserStatsSack bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Please enter your measurements.</h1>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack newUserStatsSack" overflow-scroll="true">
          <div class="list">
            <form class="newUserStat" ng-submit="freshStats(newuser.heightf, newuser.heighti, newuser.weight, newuser.waist, newuser.chest, newuser.shoulder, newuser.arms, newuser.hips, newuser.thighs, newuser.calves, newuser.neck)" name="addnewUserStat" autocomplete="off" novalidate>
              <div class="suggInput heightInputs">
                <label for="cheight">Current Height</label>
                <div class="cHeightInner">
                  <input type="number" placeholder="0" id="cheight" name="cheight" ng-model="newuser.heightf" ng-required>
                  <span>{{statHeight}}</span>
                </div>
                <div class="cHeightInner">
                  <input type="number" placeholder="0" id="cheighticnh" name="cheighticnh" ng-model="newuser.heighti" ng-required>
                  <span>{{statLength}}</span>
                </div>
              </div>
              <div class="suggInput">
                <label for="cweight">Current Weight</label>
                <div class="cHeightInner">
                  <input type="number" placeholder="0" id="cweight" name="cweight" ng-model="newuser.weight" ng-required>
                  <span>{{statWeight}}</span>
                </div>
              </div>
              <div class="suggInput">
                <label for="cwaist">Current Waist</label>
                <div class="cHeightInner">
                  <input type="number" placeholder="0" id="cwaist" name="cwaist" ng-model="newuser.waist" ng-required>
                  <span>{{statLength}}</span>
                </div>
              </div>
              <div class="suggInput">
                <label for="chest">Chest</label>
                <div class="cHeightInner">
                  <input type="number" placeholder="0" id="chest" name="chest" ng-model="newuser.chest" ng-required>
                  <span>{{statLength}}</span>
                </div>
              </div>
              <div class="suggInput">
                <label for="Shoulders">Shoulders</label>
                <div class="cHeightInner">
                  <input type="number" placeholder="0" id="Shoulders" name="Shoulders" ng-model="newuser.shoulder" ng-required>
                  <span>{{statLength}}</span>
                </div>
              </div>
              <div class="suggInput">
                <label for="Arms">Arms</label>
                <div class="cHeightInner">
                  <input type="number" placeholder="0" id="Arms" name="Arms" ng-model="newuser.arms" ng-required>
                  <span>{{statLength}}</span>
                </div>
              </div>
              <div class="suggInput">
                <label for="Hips">Hips</label>
                <div class="cHeightInner">
                  <input type="number" placeholder="0" id="Hips" name="Hips" ng-model="newuser.hips" ng-required>
                  <span>{{statLength}}</span>
                </div>
              </div>
              <div class="suggInput">
                <label for="Thighs">Thighs</label>
                <div class="cHeightInner">
                  <input type="number" placeholder="0" id="Thighs" name="Thighs" ng-model="newuser.thighs" ng-required>
                  <span>{{statLength}}</span>
                </div>
              </div>
              <div class="suggInput">
                <label for="Calves">Calves</label>
                <div class="cHeightInner">
                  <input type="number" placeholder="0" id="Calves" name="Calves" ng-model="newuser.calves" ng-required>
                  <span>{{statLength}}</span>
                </div>
              </div>
              <div class="suggInput">
                <label for="Neck">Neck</label>
                <div class="cHeightInner">
                  <input type="number" placeholder="0" id="Neck" name="Neck" ng-model="newuser.neck" ng-required>
                  <span>{{statLength}}</span>
                </div>
              </div>
              <div class="suggFormActions">
                <div class="suggCancel">
                  <button class="button button-calm" type="button" ng-click="skipStat()">Skip</button>
                </div>
                <div class="suggSubmit">
                  <button class="button button-calm" type="submit">Save</button>
                </div>
              </div>
            </form>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

  </ion-content>
</ion-view>
