<ion-view>
  <ion-content class="has-header" lazy-scroll>
    <div class="quoteArea newtimerQuote onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
        <div id="stopWatch-container" ng-show="isOnline == true">
          <div id="stopWatch" class="digifont">
            <div class="stopWatchTimer">
              <div class="TimeBox">
                <span>Hours</span>
                <div class="clearfix"></div>
                <span id="sw_h">00</span>
              </div>
              <div class="TimeBox">
                <span>Minutes</span>
                <div class="clearfix"></div>
                <span id="sw_m">00</span>
              </div>
              <div class="TimeBox">
                <span>Seconds</span>
                <div class="clearfix"></div>
                <span id="sw_s">00</span>
              </div>
              <div class="TimeBox">
                <span>Miliseconds</span>
                <div class="clearfix"></div>
                <span id="sw_ms">00</span>
              </div>
            </div>
          </div>
          <div class="StopButtons">
            <button class="button button-calm button-block ink pause FitGhostBtns hide" type="button" value="Stop"  id="sw_stop">STOP</button>
            <button class="button button-calm button-block ink reset FitGhostBtns pull-right" type="button" value="Reset" id="sw_reset">RESET</button>
            <button class="button button-calm button-block ink start FitGhostBtns" type="button" value="Start" id="sw_start">START</button>
            <button class="button button-calm button-block ink pause FitGhostBtns hide" type="button" value="Pause" id="sw_pause">STOP</button>

          </div>
        </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
    <audio id="audio">
      <source src="media/end-round.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </ion-content>
</ion-view>

