<ion-view view-title="Terms & Conditions" hide-nav-bar="true">
  <ion-header-bar class="signupHeader selectPackageHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
    <button class="button button-flat packBack" ng-click="myGoBack()"><i class="ion-chevron-left"></i></button>
    <span>Terms & Conditions</span>
  </ion-header-bar>
  <ion-content class="has-header PackageSack">
    <div class="row flexWrap centerContent">
      <div class="col col-80">
        <img src="img/select-package-logo.png"  class="img-responsive">
      </div>
      <div class="col col-100 padding-0 p-note">
        <p>No risk. No hidden fees. Cancel at anytime </p>
      </div>
    </div>

      <span ng-bind-html="terms" class="terms-conditions"></span>




  </ion-content>
</ion-view>
