<ion-view view-title="Timer" hide-nav-bar="true">
  <ion-header-bar class="signupHeader TimerHeaderBar bar-assertive bar bar-header disable-user-behavior" align-title="center">

    <article>Timer</article>
    <span class="ion-ios-bell notifications" ng-class="green" ui-sref="app.notifications"><i>{{notificationFull[0].count}}</i></span>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
    <!--<span class="ion-android-more-vertical moreIcon"></span>-->
  </ion-header-bar>
  <div class="expireWrap timerPage" ng-click="expired()" ng-show = "packageExpired === 1"></div>
  <ion-tabs class="tabs-striped tabs-top topTabNav timerTabs">
    <ion-tab title="Interval Timer" icon-on="icon-appinterval-timer" icon-off="icon-appinterval-timer" ui-sref="app.timer.interval">
      <ion-nav-view name="interval"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Stop Watch" icon-on="icon-appstopwatch" icon-off="icon-appstopwatch" ui-sref="app.timer.stopWatch">
      <ion-nav-view name="stopWatch"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Countdown" icon-on="timer-Countdown" icon-off="timer-Countdown" ui-sref="app.timer.countdown">
      <ion-nav-view name="countdown"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>

