<ion-side-menus enable-menu-with-back-views="true">
<ion-view view-title="CARE LIVE STOCK">
  <ion-content class="has-header">
  <div class="container tips list animate-fade-slide-in">
  <strong class="item">
    <h4 class="title-page">GOOD DAIRY FARMING PRACTICES</h4>
    </strong>
    <div class="content-tips item" >
    	<div ng-repeat="suggestion in suggestions">
    	<div class="row">

    		<h4 class="title-heading">
    			{{suggestion.id}}.{{suggestion.title}}
    		</h4>
    		</div>
    		<div class="row">
    		<div class="col content-text description">
    			{{suggestion.description}}
    		</div>
    	</div>
    	<div class="row">
    		<div class="media">
    			<img class="img-responsive" src="img/video_image.jpg">
    		</div>
    	</div>
    	</div>

    </div>
  </div>
  </ion-content>
</ion-view>
