<ion-nav-buttons side="left" ng-show="false"></ion-nav-buttons>
  <ion-view view-title="Upload Progress Pictures" hide-nav-bar="true">
    <ion-header-bar class="signupHeader newsfeedHeader progPhotosHeader UPprogPhotosHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

      <article>Upload Progress Photos</article>
      <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
      <!--<button class="button button-clear button-dark" type="submit">Refine</button>-->
    </ion-header-bar>
    <ion-content class="has-header allprogPhotosSack" lazy-scroll>
      <div class="allNewsFeedWrap" ng-show="isOnline == true">
        <div class="progressMain">
          <div class="list animate-fade-slide-in-right">

              <div class="progPicsSack uploadProgPicSack">
                <div class="uploadProgPicWrapInner">
                  <div class="uploadViewHead">
                    <h3>Front Full View</h3>
                  </div>
                  <div class="UprogPicsItems">
                    <div class="UprogPicsItemsInner">
                      <img ng-src="{{upload.pic[0]}}" class="img-responsive">
                    </div>
                    <button class="button button-block button-clam ink" ng-click="selectUploadMethod(0)">Upload</button>
                  </div>
                </div>
                <div class="uploadProgPicWrapInner">
                  <div class="uploadViewHead">
                    <h3>Left Side View</h3>
                  </div>
                  <div class="UprogPicsItems">
                    <div class="UprogPicsItemsInner">
                      <img ng-src="{{upload.pic[1]}}" class="img-responsive">
                    </div>
                    <button class="button button-block button-clam ink" ng-click="selectUploadMethod(1)">Upload</button>
                  </div>
                </div>
               <div class="uploadProgPicWrapInner">
                 <div class="uploadViewHead">
                   <h3>Right Side View</h3>
                 </div>
                 <div class="UprogPicsItems">
                   <div class="UprogPicsItemsInner">
                     <img ng-src="{{upload.pic[2]}}" class="img-responsive">
                   </div>
                   <button class="button button-block button-clam ink" ng-click="selectUploadMethod(2)">Upload</button>
                 </div>
               </div>
               <div class="uploadProgPicWrapInner">
                 <div class="uploadViewHead">
                   <h3>Back Full View</h3>
                 </div>
                 <div class="UprogPicsItems">
                   <div class="UprogPicsItemsInner">
                     <img ng-src="{{upload.pic[3]}}" class="img-responsive">
                   </div>
                   <button class="button button-block button-clam ink" ng-click="selectUploadMethod(3)">Upload</button>
                 </div>
               </div>
              </div>
            <div class="uploadProgressPicsActions">
              <div class="uploadCancel">
                <button class="button button-block button-calm ink" ui-sref="app.allProgressPhotos">Cancel</button>
              </div>
              <div class="uploadSubmit">
                <button class="button button-block button-calm ink" ng-click="AddProgressPhoto()">Save</button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <script id="templates/crop.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
            <button class="button button-clear button-primary btnDoneCrop" ng-click="finishCrop(0)">Done Crop</button>
            <h1 class="title">Edit Picture</h1>
            <button class="button button-clear button-primary" ng-click="closeModal(1)">Cancel</button>
          </ion-header-bar>
          <ion-content class="padding workoutRefineSack notificationSackWrap">
            <div class="cropImgWrap" ng-if="imageURI != null">
              <img id="cropImg" ng-src="{{imageURI}}" class="img-responsive">
            </div>
          </ion-content>
        </ion-modal-view>
      </script>
      <script id="templates/crop2.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
            <button class="button button-clear button-primary btnDoneCrop" ng-click="finishCrop2(1)">Done Crop</button>
            <h1 class="title">Edit Picture</h1>
            <button class="button button-clear button-primary" ng-click="closeModal(2)">Cancel</button>
          </ion-header-bar>
          <ion-content class="padding workoutRefineSack notificationSackWrap">
            <div class="cropImgWrap" ng-if="imageURI2 != null">
              <img id="cropImg2" ng-src="{{imageURI2}}" class="img-responsive">
            </div>
          </ion-content>
        </ion-modal-view>
      </script>
      <script id="templates/crop3.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
            <button class="button button-clear button-primary btnDoneCrop" ng-click="finishCrop3(2)">Done Crop</button>
            <h1 class="title">Edit Picture</h1>
            <button class="button button-clear button-primary" ng-click="closeModal(3)">Cancel</button>
          </ion-header-bar>
          <ion-content class="padding workoutRefineSack notificationSackWrap">
            <div class="cropImgWrap" ng-if="imageURI3 != null">
              <img id="cropImg3" ng-src="{{imageURI3}}" class="img-responsive">
            </div>
          </ion-content>
        </ion-modal-view>
      </script>
      <script id="templates/crop4.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
            <button class="button button-clear button-primary btnDoneCrop" ng-click="finishCrop4(3)">Done Crop</button>
            <h1 class="title">Edit Picture</h1>
            <button class="button button-clear button-primary" ng-click="closeModal(4)">Cancel</button>
          </ion-header-bar>
          <ion-content class="padding workoutRefineSack notificationSackWrap">
            <div class="cropImgWrap" ng-if="imageURI4 != null">
              <img id="cropImg4" ng-src="{{imageURI4}}" class="img-responsive">
            </div>
          </ion-content>
        </ion-modal-view>
      </script>
      <div class="noInternet" ng-show="isOnline == false">
        <img ng-src="img/no-internet.png" class="img-responsive">
      </div>
    </ion-content>
  </ion-view>
