<ion-side-menus enable-menu-with-back-views="true">
<ion-view view-title="CARE LIVE STOCK">
  <ion-content class="has-header">
  <div class="container innerPage list animate-fade-slide-in" >
   <strong class="item commonHead"> <h4>COMMON DISEASES</h4></strong>
  <div ng-repeat="user in users" class="item commonDiseases">
  	
  
  
    <a ng-href="#/app/common-diseases/{{user.id}}" class="main-cat">
    	{{user.title}}
    	<span class="drop-down ion-ios-arrow-right"></span>
    </a>
    
    
   
    
</div>
  </div>
  </ion-content>
</ion-view>
