<ion-view view-title="Dashboard" hide-nav-bar="true">
  <ion-header-bar class="dashboardHeader userDashboardHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">


            <div class="dashHeadLogo item">
              <img src="img/dashHeadLogo.png" class="img-responsive">
            </div>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
  </ion-header-bar>
  <ion-content class="DashboardSack userDashboardSack" has-header="true" lazy-scroll>
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
    <div class="hero zero slide-up" ng-show="isOnline == true" style="background-image: url({{siteUrl}}{{FriendCoverImage}});">
      <div class="content">
        <div class="avatar">
          <img ng-src="{{FriendImage}}" alt="">
        </div>

        <h3><a class="light ng-binding">{{FriendsData.user_fname}} {{FriendsData.user_lname}}</a></h3>
        <!--<h4 class="ng-binding">{{FriendsData.phone}}</h4>-->
        <!--<h5 class="ng-binding">{{FriendsData.user_dob}}</h5>-->
      </div>
    </div>
    <!--Ionic Refresher -->
    <!--<ion-refresher-->
      <!--pulling-text="Pull to refresh..."-->
      <!--on-refresh="doRefresh()">-->
    <!--</ion-refresher>-->

    <!-- Ionic refresher end -->
    <!--<div class="startWorkout">-->
      <!--<a class="button button-primary stWrktBtn" ui-sref="app.startWorkout">Start a Workout</a>-->
    <!--</div>-->
    <!--<button class="button button-calm button-block" ng-click="Download()">download</button>-->
    <div class="HomeTop" ng-show="isOnline == true">
      <div class="actiityUltimateWrap">
        <div class="actiityUltimateWrapInner">



          <form ng-submit="postStatus()" name="loginForm" autocomplete="off" novalidate>
    <div class="row">
      <div class="col col-100">
        <h2 class="userDashHead">Post On {{FriendsData.user_fname}}'s Wall</h2>
        <div class="updateStatus">
          <div class="userImg">
            <img ng-src="{{userImg}}" class="img-responsive">
          </div>
          <div class="updateStTextBox">
            <textarea rows="1" class="animateTextArea msd-elastic: \n;" ng-model="status.text"></textarea>
            <a class="ion-camera" ng-click="selectUploadMethod()"></a>
          </div>
          <div class="updatePostBtn">
            <button class="button-flat" type="submit">POST</button>
          </div>

          <div class="upLoadPostImage" ng-class="{hide: status.postImage=={}}">
            <div class="status-imgs" ng-repeat="image in postImage">
              <button class="ion-android-close ink button button-flat" ng-click="removeStatusIMG($index)" type="button"></button>
              <img  ng-src="{{image}}" class="img-responsive">
            </div>
            </div>
        </div>
      </div>
    </div>
    </form>



    <main class="">

  <!--<input id="tab1" type="radio" name="tabs" ng-checked="checked">-->
  <!--<label for="tab1">My Activity</label>-->

  <!--<input id="tab2" type="radio" name="tabs" >-->
  <!--<label for="tab2">Activity Feed</label>-->

  <section id="content1" class="myActivitySack friendsActivitySection friendWall">
    <div class="activitySackLoop" ng-show="userStatus != ''">
      <div class="myActivityHead">
      <div class="userImg">
        <img image-lazy-src="{{siteUrl}}{{userStatus.image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
      </div>
      <div class="userstatusInfo">
        <div class="userstatusInfoUpper">
          <span class="userName" ng-bind-html="(userStatus.user_fname) + (userStatus.user_lname)"></span>
          <a class="stLikes" ng-class="postLiked" ng-click="like(userStatus.id,'MyActivity')">Likes<span class="ion-ios-heart"></span>{{userStatus.likes}}</a>
          <span class="stDate">{{userStatus.date_created}}</span>
          <!--<button class="button button-flat removePost" ng-click="removePost(userStatus.id)"><span class="ion-ios-close-empty"></span></button>-->
        <!---->
        </div>
        <div class="userstatusInfoBottom">
          <div class="statusText">
            <input type="checkbox" id="showMoreEX" name="showMoreEX">
            <label for="showMoreEX">
              <p ng-bind-html="userStatus.status"></p>
            </label>
          </div>
          <div class="statusImagesWrap">
            <div class="statusImages" ng-repeat="images in userStatus.status_images">
              <img image-lazy-src="{{siteUrl}}uploads/status_images/{{images.image}}" ng-class="$index" alt="" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
            </div>
          </div>


        </div>

      </div>
        </div>


          <div class="commentHead">
            <div class="commentIcon">
              <span class="ion-ios-chatbubble"></span><span>Comments</span>
            </div>


          </div>
      <div class="commentTopMainSack">
      <div class="commentMainSack">
        <div class="userComments" ng-repeat="comment in userStatus.comments">
          <div class="commentMain">
            <a class="commentingUserImg" ui-sref="app.userdashboard( {result:comment.user_id})">
              <img image-lazy-src="{{siteUrl}}{{comment.userimg}}" alt="" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
            </a>
            <div class="commentText">
              <div class="commentingUserName">
                <a ui-sref="app.userdashboard( {result:comment.user_id})">{{comment.full_name}}</a>
                <span>{{comment.date_time}}</span>
              </div>
              <div class="commentingData">
                {{comment.comment}}
              </div>
            </div>
            <div class="commentImagesWrapper">
            <div class="commentImages" ng-repeat="images in comment.comment_images">
              <img image-lazy-src="{{siteUrl}}uploads/comment_images/{{images.image}}" alt="" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
            </div>
            </div>
          </div>
        </div>
      </div>

        <div class="row add-comment-box">
          <div class="col col-100 addCommentBoxCol">
            <div class="updateStatus commentBoxPost">
              <div class="userImg">
                <img image-lazy-src="{{userImg}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">
              </div>
              <div class="updateStTextBox">
                <!--<input type="text" ng-model="comment.text">-->
                <textarea rows="1" class="animateTextArea smallanimateTextArea msd-elastic" ng-model="comment.text"></textarea>
                <a class="ion-camera" ng-click="selectUploadMethodComment()"></a>
              </div>
              <div class="updatePostBtn">
                <button class="button-flat" ng-click="postComment(userStatus.id,'MyActivity')">Comment</button>
              </div>
              <div class="upLoadPostImage" ng-class="{hide: status.commentImage=={}}">
                <div class="status-imgs" ng-repeat="image in commentImage">
                  <button class="ion-android-close ink button button-flat" ng-click="removeCommentIMG($index)" type="button"></button>
                  <img  ng-src="{{image}}" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="viewAllMyActivities">
        <button class="button button-flat" ui-sref="app.friends.activities">View All activities</button>
      </div>
    </div>
    <div class="noContent" ng-show="userStatus == ''">
      <p> No Content Found <span class="ion-sad-outline"></span></p>
    </div>


  </section>


</main>
        </div>
    </div>

      <div class="row flexWrap FriendsListSack">
        <div class="col col-100">
          <div class="friendsListInner">
            <div class="friendsListHead">
              <h2>Friends</h2>
              <!--<button ui-sref="app.friends.myFriends" ng-show="friendsList.length > 0">View All</button>-->
            </div>
            <div class="friendsListItems" ng-repeat="friend in friendsList" ng-show="friendsList.length > 0">
                <div class="circleThumb">
                  <a ng-click="userdashboard(friend.user_id)"> <img image-lazy-src="{{siteUrl}}{{friend.image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300"></a>
                </div>
              <span>{{friend.user_fname}}</span>
            </div>
            <div class="noContent" ng-hide="friendsList.length > 0">
              <p> No Friends Found <span class="ion-sad-outline"></span></p>
              <a ui-sref="app.friends.fFriends">Wanna Find Some Friends</a>
            </div>
          </div>
        </div>
      </div>
<!--
      <div class="activitylogMap">
        <img class="img-responsive" image-lazy-loader="android" src="img/activitylog.jpg" alt="" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">

      </div> -->

   <!--    <div class="calorieChartWrap">
        <div class="calorieChartWrapInner">
          <div class="calorieChartHead">
            <h2>Calories</h2>
          </div>
          <div class="noContent" ng-show="Ccalories == '0' && Cfats == '0' && Cproteins == '0'">
            <p> No Data Found <span class="ion-sad-outline"></span></p>
          </div>
          <div class="calorieChartWrapSack" ng-show="Ccalories != '0' && Cfats != '0' && Cproteins != '0'">
            <highchart id="chart1" config="chartConfig"></highchart>
          </div>
        </div>

      </div> -->
      <div class="myGraphChartwrap">
        <div class="myGraphChartwrapInner">
          <div class="myGraphChartHead">
            <h2>My Charts</h2>
          </div>
          <div class="noContent" ng-show="my_graph.x_axis == 'n'">
            <p> No Data Found <span class="ion-sad-outline"></span></p>
          </div>
          <div class="calorieChartWrapSack" ng-show="my_graph.x_axis != 'n'">
            <highchart id="chart2" config="chartConfig2"></highchart>
          </div>
        </div>

      </div>

      <div class="bodLegends">
        <div class="bodyLegendsInner">
          <div class="bodyConsistency">
            <span><img src="img/levels.png" alt=""></span>
            <article><span>Consistency</span><span>{{consistency}}</span></article>
          </div>
          <div class="bodyLevel">
            <span><img src="img/levels.png" alt=""></span>
            <article><span>Levels</span><span>{{level}}</span></article>
          </div>
          <div class="bodypoints">
            <span><img src="img/star.png" alt=""></span>
            <article><span>Points</span><span>{{points}}</span></article>
          </div>
          <!-- <div class="bodyFriends"> -->
            <!--<span><img src="img/friends-msn.png" alt=""></span>-->
            <!--<article><span>Friends</span><span>{{countFriends}}</span></article>-->
          <!--</div>-->
          <!--<div class="bodyWeight">-->
            <!--<span><img src="img/Weight.png" alt=""></span>-->
            <!--<article><span>Weight</span><span>{{weight}} <sup>kg</sup></span></article>-->
          <!--</div>-->
          <!--<div class="bodyWaist">-->
            <!--<span><img src="img/Waist.png" alt=""></span>-->
            <!--<article><span>Waist</span><span>{{waist}} <sup>cm</sup></span></article>-->
          <!--</div>-->
        </div>

      </div>
      <!--<div class="row flexWrap">-->
        <!--<div class="col col-100">-->
          <!--<div class="newsFeedWrap">-->
            <!--<div class="newsFeedHead">-->
              <!--<h2>News Feed</h2>-->
              <!--<button ng-click="viewAllNews()">View All</button>-->
            <!--</div>-->
            <!--<div class="newsFeedMain" ng-repeat="news in newsFeed">-->
              <!--<div class="newsThumb">-->
                <!--<img image-lazy-src="{{news.image}}" alt="" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="1000" image-lazy-distance-from-right-to-load="300">-->
              <!--</div>-->
              <!--<div class="newsText">-->
                <!--<span>{{news.feed}}</span>-->
                <!--<span class="newsDate">{{news.show_to}}</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="row flexWrap">
        <div class="col col-100">
          <div class="progressPics">
            <div class="progressHead">
              <h2>Progress Photos</h2>
              <!--<button ng-click="viewAllPP()" ng-show="userProgressPhotos.length > 0">View All</button>-->
            </div>
            <div class="noContent" ng-hide="userProgressPhotos.length > 0">
              <p> No Progress Pictures Found<span class="ion-sad-outline"></span></p>
            </div>
            <div class="progressMain" ng-repeat="item in userProgressPhotos" ng-show="userProgressPhotos.length > 0">
              <div class="progDate">
                <span>{{item.date_created}}</span>
              </div>
              <div class="progPicsSack">
                <a rel="example_group{{$index}}" class="progPicsItems" href="{{siteUrl}}{{item.p_1}}" fancyboxable>
                  <img ion-img-cache ng-src="{{siteUrl}}{{item.p_1}}"  class="img-responsive">
                </a>
                <a rel="example_group{{$index}}" class="progPicsItems" href="{{siteUrl}}{{item.p_2}}" fancyboxable>
                  <img ion-img-cache ng-src="{{siteUrl}}{{item.p_2}}"  class="img-responsive">
                </a>
                <a rel="example_group{{$index}}" class="progPicsItems" href="{{siteUrl}}{{item.p_3}}" fancyboxable>
                  <img ion-img-cache ng-src="{{siteUrl}}{{item.p_3}}"  class="img-responsive">
                </a>
                <a rel="example_group{{$index}}" class="progPicsItems"  href="{{siteUrl}}{{item.p_4}}" fancyboxable>
                  <img ion-img-cache ng-src="{{siteUrl}}{{item.p_4}}"  class="img-responsive">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row flexWrap userWoExWrap">
        <div class="col col-100">
          <div class="newsFeedWrap">
            <div class="newsFeedHead">
              <h2>Custom Exercises</h2>
              <!--<button ng-click="viewAllPP()" ng-show="userProgressPhotos.length > 0">View All</button>-->
            </div>
            <div class="noContent" ng-hide="userExercises.length > 0">
              <p> User have not created any exercise yet.<span class="ion-sad-outline"></span></p>

            </div>
            <div class="newsFeedMain workoutContainer" ng-repeat="items in userExercises" ng-show="userExercises.length > 0">
              <ul class="list userDashListUl animate-fade-slide-in-right">
                <li class="userDashListLI item ink">
                  <div class="workoutListInner">
                  <div class="workoutListImg" ng-click="toggleGroup(items.w_id)" ng-class="{active: isGroupShown(items.w_id)}">
                    <img image-lazy-src="{{items.video_thumb}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="400">
                  </div>
                  <div class="workoutListDetail">
                    <a class="workoutListNP"  >
                      <div class="workoutListName" ng-click="toggleGroup(items.w_id)" ng-class="{active: isGroupShown(items.w_id)}">
                        <h3>{{items.c_name | limitTo: 28 }}{{items.c_name > 28 ? '...' : ''}}</h3>
                      </div>
                    </a>
                    <div class="workoutListDescription" ng-click="toggleGroup(items.w_id)" ng-class="{active: isGroupShown(items.w_id)}">
                      <article>{{ items.c_description | limitTo: 60 }}{{items.c_description.length > 60 ? '...' : ''}}</article>
                      <!--<span class=" WtoggleDown" ng-class="isGroupShown(items.w_id) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></span>-->
                    </div>
                  </div>
                    <a class="workoutListPlay" ui-sref="app.myexerciseDetail({cid: {{items.wid}}})">
                      <button class="button button-clear"><span class="ion-play"></span></button>
                    </a>
                </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>


      <div class="row flexWrap userWoExWrap">
        <div class="col col-100">
          <div class="newsFeedWrap">
            <div class="newsFeedHead">
              <h2>Custom Workouts</h2>
              <!--<button ng-click="viewAllPP()" ng-show="userProgressPhotos.length > 0">View All</button>-->
            </div>
            <div class="noContent" ng-hide="userWorkouts.length > 0">
              <p> User have not created any workout yet.<span class="ion-sad-outline"></span></p>

            </div>
            <div class="newsFeedMain workoutContainer" ng-repeat="items in userWorkouts" ng-show="userWorkouts.length > 0">
              <ul class="userDashListUl list animate-fade-slide-in-right">
                <li class="userDashListLI item ink">
                  <div class="workoutListInner">
                    <div class="workoutListImg" ng-click="toggleGroup(items.w_id)" ng-class="{active: isGroupShown(items.custom_id)}">
                      <img image-lazy-src="{{items.custom_image}}" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="400">
                    </div>
                    <div class="workoutListDetail">
                      <a class="workoutListNP" >
                        <div class="workoutListName" ng-click="toggleGroup(items.w_id)" ng-class="{active: isGroupShown(items.custom_id)}">
                          <h3>{{items.w_name | limitTo: 28 }}{{items.w_name > 28 ? '...' : ''}}</h3>
                        </div>
                      </a>
                      <div class="workoutListDescription" ng-click="toggleGroup(items.w_id)" ng-class="{active: isGroupShown(items.custom_id)}">
                        <article>{{ items.w_description | limitTo: 60 }}{{items.w_description.length > 60 ? '...' : ''}}</article>
                        <!--<span class=" WtoggleDown" ng-class="isGroupShown(items.custom_id) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></span>-->
                      </div>
                    </div>
                    <a class="workoutListPlay" ui-sref="app.myWorkoutDetailMain({result: {{items.custom_id}}})">
                      <button class="button button-clear"><span class="ion-play"></span></button>
                    </a>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>

</div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
  </ion-content>
</ion-view>
