<ion-nav-buttons side="left" ng-show="false"></ion-nav-buttons>
<ion-view view-title="Water Intake Log" hide-nav-bar="true">
  <ion-header-bar class="signupHeader mealLoggerHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
    <article>Water Intake Log</article>
    <span class="ion-android-more-vertical moreIcon ink" ng-click="popover.show($event)"></span>
  </ion-header-bar>
  <ion-content class="has-header calorieChartSack" lazy-scroll>
    <div class="container" ng-show="isOnline == true">
      <div class="row flexWrap">
        <div class="col col-100 list animate-fade-slide-in-right">
          <div class="calorieChartInner item ink" ng-repeat="item in waterLogger">
            <div class="CChead">
              <h2>{{item.date_created}}</h2>
            </div>
            <div class="takes" ng-repeat="taken in item.log_data">
              <div class="takeInner">
                <p>You have taken <strong>{{taken.quantity}} {{taken.unit}}</strong> of Water</p>
              </div>
            </div>

          </div>
          <div class="noContent noContentFlex" ng-show="NoResultFound == '402'">
            <img src="img/no-log.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content>
          <div class="list" ng-click="popover.hide()">
            <a class="item" ng-click="modal.show()">
              Add Water Log
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Add Water Log</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack">
          <div class="list animate-fade-slide-in-right addNutritionLog">
            <div class="item item-input">
              <label for="quantity">Quantity</label>
              <input type="number" name="quantity" id="quantity" ng-model="water.quantity">
            </div>
            <label class="item item-input">
              <span class="input-label">SELECT Unit</span>
              <select ng-model="water.unit">
                <option value="Glasses">Glasses</option>
                <option value="Liters">Liters</option>
              </select>
              <!--{{refine.Selectedintensity}}-->
            </label>
            <div class="item item-input">
              <label for="date">Select Date</label>
              <input type="text" id="date" placeholder="" ng-click="openDatePicker();" ng-model="water.date" name="date" ng-readonly="true">
            </div>
            <button class="button button-flat button-calm button-block ink" ng-click="addWaterLog()">Save</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
  </ion-content>
</ion-view>
