<ion-view view-title="Workouts" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

    <article>Workouts</article>
    <span class="ion-ios-bell notifications" ng-class="green" ui-sref="app.notifications"><i>{{notificationFull[0].count}}</i></span>
    <button class="button button-clear headSearchBtn" ng-click="focussearch()"><span class="ion-ios-search-strong"></span></button>
    <!--<a href="#" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"><span class="ion-ios-list-outline"></span></a>
    <a href="#" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"><span class="ion-grid"></span></a>-->
    <button class="button ion-funnel button-clear button-dark" type="submit" ng-click="modal.show()"></button>
    <a class="ion-heart favIcon" ui-sref="app.FavWorkouts" target="_blank"></a>
    <a class="ion-ios-list logIcon" ui-sref="app.workoutLog" target="_blank"></a>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
  </ion-header-bar>
  <ion-content class="has-header allWorkoutsStack" lazy-scroll overflow-scroll="true">
    <div class="expireWrap" ng-class="{noExpireWrap : packageExpired !== 1}" ng-click="expired()" ng-show = "packageExpired === 1"></div>
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
    <div class="container">
      <div class="row">
        <div class="col col-100">
          <div class="workoutSearch hideSearchInput" ng-class="show">
            <input placeholder="Search" type="text"  ng-model="searchStrman.name" id="searchStrman" ng-change="change(searchStrman.name)">
            <span class="ion-ios-search-strong" ng-show="showSearchIcon == true"></span>
            <a class="ion-ios-close-empty" ng-show="showSearchIcon == false" ng-click="emptySearch(searchStrman.name)"></a>
          </div>
          <div class="clear"></div>
          <div class="row">
            <div class="col col-100">
              <div class="workoutActionsMain">
                <div class="workoutActionBtns">
                  <a class="button button-calm" ng-click="addWorkoutx()">Add Custom Workout</a>
                </div>
                <div class="workoutActionBtns">
                  <a class="button button-calm" ui-sref="app.myWorkouts">My Workouts</a>
                </div>
              </div>
            </div>
          </div>
          <div class="workoutContainer" ng-show="NoResultFound != '402'">
            <div class="workoutsCount" ng-show="allWorkoutss.length > 0">
              <h3>{{allWorkoutss.length}} WORKOUTS FOUND</h3>
            </div>
            <ul ng-show="layout == 'grid'" class="grid list animate-fade-slide-in-right">
              <li ng-repeat = "workout in workoutss | filter:searchStrman | limitTo : postlimit" class="item ink">
                <div class="workoutInner">
                  <div class="workoutImg">
                    <img image-lazy-src="{{baseUrlForWorkoutImg}}{{workout.image}}" alt="workout image" class="img-responsive" image-lazy-loader="android" image-lazy-distance-from-bottom-to-load="10000" image-lazy-distance-from-right-to-load="6000">
                  </div>
                  <a class="workoutNP" ui-sref="app.workoutDetail({cid: {{workout.cid}}})">
                    <div class="workoutName">
                      <h3>{{workout.name}}</h3>
                    </div>
                    <div class="workoutPlay">
                      <button class="button button-clear"><span class="ion-play"></span></button>
                    </div>
                  </a>
                  <div class="workoutDescription"  ng-click="toggleGroup(workout.cid)" ng-class="{active: isGroupShown(workout.cid)}">
                    <article>{{ workout.description | limitTo: 80 }}{{workout.description.length > 80 ? '...' : ''}}</article>
                    <span class="ion-arrow-down-b WtoggleDown" ng-class="isGroupShown(workout.cid) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></span>
                  </div>
                  <div class="workoutDetails ink animated fadeIn" ng-show="isGroupShown(workout.cid)">
                    <div class="workoutListLabels" ng-repeat="type in workout.type">
                      <span class="label blue" ng-class="{changeTypeColor:!($index % 2)} ">{{type.name}}</span>
                    </div>
                    <div class="workoutListLabels" >
                      <span class="label red" ng-class="{changeGoalColor:!($index % 2)} ">{{workout.goal}}</span>
                    </div>
                    <div class="workoutListLabels" >
                      <span class="label red" ng-class="{changeGoalColor:!($index % 2)} ">{{workout.difficulty}}</span>
                    </div>

                    <div class="workoutListLabels" ng-repeat="equip in workout.equipment">
                      <span class="label orange" ng-class="{changeEquipColor:!($index % 2)} ">{{equip.name}}</span>
                    </div>
                    <div class="workoutListLabels" >
                      <span class="label black" ng-class="{changeEquipColor:!($index % 2)} ">{{workout.duration}} Minutes</span>
                    </div>
                  </div>
                </div>

              </li>
            </ul>


            <ion-list show-delete="false" can-swipe="true" ng-show="layout == 'list'" class="grid pList">
              <ion-item ng-repeat = "workout in workoutss | filter:searchStrman track by workout.cid" class="item ink">
                <div class="workoutListInner">
                  <div class="workoutListImg" ng-click="toggleGroup(workout.cid)" ng-class="{active: isGroupShown(workout.cid)}">
                    <img ion-img-cache ng-src="{{baseUrlForWorkoutImg}}{{::workout.image}}" alt="workout image" class="img-responsive">
                  </div>
                  <div class="workoutListDetail">
                    <a class="workoutListNP">
                      <div class="workoutListName" ng-click="toggleGroup(workout.cid)" ng-class="{active: isGroupShown(workout.cid)}">
                        <h3>{{::workout.name}}</h3>
                      </div>
                    </a>
                      <div class="workoutListDescription" ng-click="toggleGroup(workout.cid)" ng-class="{active: isGroupShown(workout.cid)}">
                        <!--<article>{{ ::workout.description | limitTo: 60 }}{{::workout.description.length > 60 ? '...' : ''}}</article>-->
                        <article ng-bind-html="content($index)"></article>
                      </div>
                    <div class="workoutListDetails ink animated fadeIn hideH"  ng-click="toggleGroup(workout.cid)" ng-class="{showH : isGroupShown(workout.cid)}">
                      <!--<span class="ion-chevron-down WtoggleDown" ng-class="isGroupShown(workout.cid) ? 'ion-chevron-up' : 'ion-chevron-down'"></span>-->
                      <div class="workoutListLabels" ng-repeat="type in workout.type">
                        <span class="label blue" ng-class="{changeTypeColor:!($index % 2)} ">{{::type.name}}</span>
                      </div>
                      <div class="workoutListLabels" >
                        <span class="label lightGreen" ng-class="{changeIntensityColor:!($index % 2)} ">{{workout.goal[0].name}}</span>
                      </div>
                      <div class="workoutListLabels" ng-show="workout.difficulty.length > 0 ">
                        <span class="label red" ng-class="{changeGoalColor:!($index % 2)} ">{{::workout.difficulty}}</span>
                      </div>

                      <div class="workoutListLabels" ng-repeat="equip in workout.equipment">
                        <span class="label orange" ng-class="{changeEquipColor:!($index % 2)} ">{{::equip.name}}</span>
                      </div>
                      <div class="workoutListLabels" >
                        <span class="label black" ng-class="{changeEquipColor:!($index % 2)} ">{{::workout.duration}} Minutes</span>
                      </div>
                    </div>

                  </div>
                  <a class="workoutListPlay" ui-sref="app.workoutDetailMain({cid: {{workout.cid}}})">
                    <button class="button button-clear"><span class="ion-play"></span></button>
                  </a>
                  <ion-option-button class="button-light icon ion-heart" ng-click="favorite(workout.cid)"></ion-option-button>
                </div>
              </ion-item>
            </ion-list>

          </div>

          <div class="noContent noContentFlex hide" ng-show="noWorkoutFound">
            <img src="img/no-workouts.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view class="workoutPopOver">
        <ion-content>
          <div class="list" ng-click="popover.hide()">
            <a class="item" ng-click="addWorkoutx()" target="_blank" ng-class="inArray('Add Custom Workout')">
              Add Custom Workouts
            </a>

            <a class="item" ui-sref="app.myWorkouts" target="_blank">
              My Workouts
            </a>
            <a class="item" ui-sref="app.FavWorkouts" target="_blank">
              Favorite Workouts
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>

    <!--refine template-->

    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="workoutsHeader workoutRefineHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">
          <h1 class="title">Refine your search</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding workoutRefineSack">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Select Workout Types</span>
              <select ng-model="refine.Selectedtype" multiple>
                <option ng-repeat="option in refine.workoutType" value="{{option.typeID}}">{{option.name}}</option>
              </select>
              <!--{{refine.Selectedtype}}-->
            </label>
            <label class="item item-input">
              <span class="input-label">Select Workout Equipment</span>
              <select ng-model="refine.Selectedequip" multiple>
                <option ng-repeat="option in refine.machines" value="{{option.id}}">{{option.name}}</option>
              </select>
              <!--{{refine.Selectedequip}}-->
            </label>
            <label class="item item-input">
              <span class="input-label">Select Your Fitness Level</span>
              <select ng-model="refine.Selectedlevel" multiple>
                <option ng-repeat="option in refine.levels" value="{{option.value}}">{{option.title}}</option>
              </select>
              <!--{{refine.Selectedlevel}}-->
            </label>
            <label class="item item-input">
              <span class="input-label">Select Workout Intensity</span>
              <select ng-model="refine.Selectedintensity" multiple>
                <option ng-repeat="option in refine.intensity" value="{{option.group_id}}">{{option.name}}</option>
              </select>
              <!--{{refine.Selectedintensity}}-->
            </label>
            <label class="item item-input">
              <span class="input-label">How Much Time Do You Have?</span>
              <select ng-model="refine.Selectedduration">
                <option ng-repeat="option in refine.duration" value="{{option.value}}">{{option.title}}</option>
              </select>
              <!--{{refine.Selectedduration}}-->
            </label>
            <button class="button button-flat button-calm button-block ink" ng-click="filterWorkouts()">Filter</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    <ion-infinite-scroll ng-if="moreworkouts"
      on-infinite="loadmoreworkouts()"
      distance="10%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
