<ion-view view-title="Workouts" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader detailHeader bar-assertive bar bar-header disable-user-behavior" align-title="center">

    <article class="workout-details">{{workout_name}}</article>
    <!--<label class="toggle">-->
      <!--<input type="checkbox" ng-model="mute">-->
      <!--<div class="track">-->
        <!--<div class="handle"></div>-->
      <!--</div>-->
    <!--</label>-->
    <!--<span menu-toggle="left" class="headerBtn icon ion-navicon"></span>-->
  </ion-header-bar>
  <ion-content class="has-header workoutDetailSack" lazy-scroll>
   <div class="videoWrapperWorkout">

      <section class="video" ng-video>
        <div class="swipeWrapper" ng-class="{nonClickable : disableNextClass == true}" ng-hide="disablenext" on-swipe-left="nextslide()" on-swipe-right="previousslide()"></div>
          <video id="myVideo" class="active" vi-screen poster="{{baseUrlForWorkoutImages}}{{workoutThumb}}"></video>

          <section vi-controls class="Hiddencontrols">
            <a vi-controls-play>Play</a>
            <a vi-controls-pause>Pause</a>
          </section>
          <!--data-slide-changed="playexercisevideo(index);timeronswipe()"-->
          <div class="timer" ng-show="vsble">



            <div class="progress-wrapper">
              <div class="progress">
                {{humanizeDurationTimer(timer,'s')}}
              </div>
              <div round-progress max="timeForTimer" current="timer" stroke="10" radius="60" clockwise="false" color="#147e98" rounded="true" class="text-center"></div>
            </div>

            <div ng-if="!started && !paused && !done">

            </div>

          </div>
          <ion-slide-box ng-init="lockSlide()">


            <ion-slide class="videoslide" ng-repeat="exercise in allExercises" ng-show="vsble">
              <h3>{{exercise.workout_name}}</h3>

              <div class="getReady">
                <h4>Go! Go! Go!</h4>
              </div>
              <div class="workoutDetailProps">
                <div class="propWrap">
                  <span>Reps</span>
                  <span>{{exercise.repeats}}</span>
                </div>
                <div class="propWrap">
                  <span>Next Exercise</span>
                  <!--<span>{{exercise[$index + 1].workout_name}}</span>-->
                  <span>{{exercise.next_exercise}}</span>
                </div>
                <div class="propWrap">
                  <span>Exercise</span>
                  <span>{{$index + 1}} of {{totalExercises}}</span>
                </div>
              </div>
              <div id="workoutVideo">


              </div>


            </ion-slide>
          </ion-slide-box>


          <div class="actions">
            <button class="prev button button-flat ink" ng-disabled="disablenext" ng-class="{nonClickable : disableNextClass == true}"  ng-click="previousslide();">
              <span class="ion-ios-rewind"></span>
            </button>
            <button class="play playIcon button button-flat ink" ng-disabled="disablePlayPause" ng-class="pauseIcon" ng-show="!playing" ng-click="playVideoBtn()">
              <span  class="ion-play" ></span>
            </button>

            <button class="play pause button button-flat ink" ng-disabled="disablePlayPause" ng-show="playing"  ng-click="pauseVideoBtn()">
              <span  class="ion-pause" ></span>
            </button>


            <button class="next button button-flat ink" ng-disabled="disablenext" ng-class="{nonClickable : disableNextClass == true}" ng-click="nextslide()">
              <span class="ion-ios-fastforward"></span>
            </button>
          </div>


          <!--<section vi-playlist>-->

          <!--<ul>-->
          <!--<li vi-playlist-video ng-repeat="video in videos" ng-model="video">-->
          <!--Play:-->
          <!--</li>-->
          <!--</ul>-->

          <!--</section>-->

      </section>
    </div>
    <!--<div class="noInternet" ng-show="isOnline == false">-->
      <!--<img ng-src="img/no-internet.png" class="img-responsive">-->
    <!--</div>-->










    <audio id="audio">
      <source src="media/warning_female.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>


  </ion-content>
</ion-view>
