<ion-view view-title="Workout Log" hide-nav-bar="true">
  <ion-header-bar class="workoutsHeader bar-assertive workoutLogHeader bar bar-header disable-user-behavior" align-title="center">

    <article>Workout Log</article>
    <button class="button ion-funnel button-clear button-dark workoutLogFilter" type="submit" ng-click="showPopup()"></button>
    <!--<a href="#" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"><span class="ion-ios-list-outline"></span></a>
    <a href="#" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"><span class="ion-grid"></span></a>-->
    <!--<button class="button button-clear button-dark" type="submit" ng-click="modal.show()">Filter</button>-->
    <!--<span class="ion-android-more-vertical moreIcon ink" ng-click="popover.show($event)"></span>-->
    <a class="ion-heart favIcon" ui-sref="app.FavWorkouts" target="_blank"></a>
    <span menu-toggle="left" class="headerBtn icon ion-navicon"></span>
  </ion-header-bar>
  <ion-content class="has-header allWorkoutsStack" lazy-scroll overflow-scroll="true">
    <div class="expireWrap" ng-class="{noExpireWrap : packageExpired !== 1}" ng-click="expired()" ng-show = "packageExpired === 1"></div>
    <div class="quoteArea onMob">
      <p> {{quote.quote}} <b>{{quote.author}}</b></p>

    </div>
    <div class="container" ng-show="isOnline == true">
      <div class="row">
        <div class="col col-100">
          <div class="workoutSearch hideSearchInput" ng-class="show">
            <input placeholder="Search" type="text"  ng-model="searchStrman" id="searchStrman" ng-change="change(text)">
            <span class="ion-ios-search-strong"></span>
          </div>
          <div class="clear"></div>
          <div class="row">
            <div class="col col-100">
              <div class="workoutActionsMain">
                <div class="workoutActionBtns">
                  <a class="button button-calm" ui-sref="app.addCustomWorkout">Add Custom Workout</a>
                </div>
                <div class="workoutActionBtns">
                  <a class="button button-calm" ui-sref="app.workouts">Workouts</a>
                </div>
              </div>
            </div>
          </div>

          <div class="workoutContainer workoutLogWrap" ng-hide="workoutLog.length < 1">
            <div class="workoutsCount">
              <h3>WORKOUT LOG</h3>
            </div>
              <ion-list class="workoutLogListWrap">
                <div ng-repeat="(key, value) in workoutLog " class="item ink">
                  <div class="workoutsCount workoutlogDate">
                    <h3 class="dateAndDay">{{value[0].checkIn}}</h3>
                  </div>
                  <ion-item class="item-stable pList" ng-repeat="workout in value" ng-click="toggleGroup(workout)" ng-class="{active: isGroupShown(workout)}">
                    <div class="workoutListInner">
                      <div class="workoutListImg">
                        <img ng-src="{{baseUrlForWorkoutImg}}{{workout.image}}" alt="workout image" class="img-responsive">
                      </div>
                      <div class="workoutListDetail">
                        <a class="workoutListNP">
                          <div class="workoutListName">
                            <h3>{{workout.name}}</h3>
                          </div>
                        </a>
                        <div class="workoutListDescription">
                          <article>{{ workout.description | limitTo: 60 }}{{workout.description.length > 60 ? '...' : ''}}</article>
                        </div>
                        <div class="workoutListDetails ink animated fadeIn hideH">
                          <!--<span class="ion-chevron-down WtoggleDown" ng-class="isGroupShown(workout.id) ? 'ion-chevron-up' : 'ion-chevron-down'"></span>-->
                          <div class="workoutListLabels" ng-repeat="type in workout.type">
                            <span class="label blue" ng-class="{changeTypeColor:!($index % 2)} ">{{type.name}}</span>
                          </div>
                          <div class="workoutListLabels" ng-show="workout.difficulty.length > 0 ">
                            <span class="label red" ng-class="{changeGoalColor:!($index % 2)} ">{{workout.difficulty}}</span>
                          </div>

                          <div class="workoutListLabels" ng-repeat="equip in workout.equipment">
                            <span class="label orange" ng-class="{changeEquipColor:!($index % 2)} ">{{equip.name}}</span>
                          </div>
                          <div class="workoutListLabels" >
                            <span class="label black" ng-class="{changeEquipColor:!($index % 2)} ">{{workout.workoutDetail[0].duration}} Minutes</span>
                          </div>
                        </div>
                      </div>
                      <!--ui-sref="app.workoutDetailMain({cid: {{workout.id}}})"-->
                        <a class="workoutListPlay" ui-sref="app.workoutDetailMain({cid: {{workout.cid}}})">
                          <button class="button button-clear"><span class="ion-play"></span></button>
                        </a>
                    </div>
                    <div class="activity-log-table stComWorkout item-accordion showLogExercises" ng-show="isGroupShown(workout)" ng-repeat="exercise in workout.workout_exercises">
                      <ul class="workout-list-view workoutDetailListView">
                        <li>
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 wrktDetailExListThumb">
                            <div class="workout-list-img workout-list-img-ex work_exercse">
                              <img class="img-responsive exDetailPageImg" ng-src="{{baseUrlForExerciseImg}}{{exercise.workout_thumb}}" alt="img04">
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 wrktDetailExListNameRT">
                            <div class="workout-list-des">
                              <div class="wrkExTimeReps">
                                <h3>{{exercise.workout_name}}</h3>
                                <article>
                                  <span>TIME</span>
                                  <span>{{exercise.duration}}</span>
                                </article>
                                <article>
                                  <span>REPS</span>
                                  <span>{{exercise.repeats}}</span>
                                </article>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 wrktDetailExListPlayBtn">
                            <div class="workout-list-detail">
                              <span class="fa fa-check"></span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </ion-item>
                  <!--<ion-item class="item-accordion showLogExercises"  ng-repeat="workout in value.workout_exercises" ng-click="toggleGroup(workout.workout_id)" ng-class="{active: isGroupShown(workout.workout_id)}">-->

                  <!--</ion-item>-->
                </div>
              </ion-list>
          </div>
          <div class="noContent noContentFlex" ng-show="workoutLog.length < 1">
            <img src="img/no-workouts.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="noInternet" ng-show="isOnline == false">
      <img ng-src="img/no-internet.png" class="img-responsive">
    </div>
  </ion-content>
</ion-view>

